<ion-header class="no-border">
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="showSkip">
      <ion-button (click)="startApp()" color="primary">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" style="height: -webkit-fill-available;">

    <ion-slide color="primary" class="slideOneBackgorund">
      <ion-col style="padding-bottom: 2em;">
        <h2 class="slide-title">
          <b> Welcome to Patient's Chart </b>
        </h2>
        <p>Patient Charting Made Easy</p>
      </ion-col>
    </ion-slide>

    <ion-slide class="slideTwoBackgorund ">
      <ion-col style="padding-bottom: 2em;">
        <h2 class="slide-title">
          <b> Manage Patient's Record </b>
        </h2>
        <p>Acess Data Anytime Anywhere</p>
      </ion-col>
    </ion-slide>


    <ion-slide class="slideThreeBackgorund">
      <ion-col>
        <h2 class="slide-title"><b>Start Charting..</b></h2>
        <br />
        <ion-button size="large" fill="clear" class="tutorialButtonColor" (click)="startApp()">
          Continue
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-slide>

  </ion-slides>
</ion-content>