

    .toolbar-background {
      background: transparent;
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }
    .tutorialButtonColor{
      color:#e6fe93;
    };
    .slide-title {
    //   margin-top: 5.8rem;
      color: floralwhite;
    }
    .slideOneBackgorund{
      background-color: #0ea8e7;
    }
    .slideTwoBackgorund{
      background-color: #E1A700;
    }
    .slideThreeBackgorund{
      background-color: #918BDF;
    }
  
    .slide-image-last {
      max-height: 50%;
      max-width: 100%;
      margin: 36px 0;
    }
  
    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 36px 0;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 18px;
      line-height: 1.5;
      color:rgb(9, 65, 77);
  
      b {
        color: #000000;
      }
    }
    .paddingBottom2{
        padding-bottom: 2.3rem;
    }
  
  
  