.action-sheets-basic-page {
    .ion-md-share {
      color: #508AE4;
    }
    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }
    .ion-md-heart-outline {
      color: #31D55F;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }
}
button{
    color: #fff;
    background: var(--ion-color-primary);
   font-weight: bold;
   font-size: small;
}
.showDivStyle{
    text-transform: capitalize;
    padding: 0px 16px;
    color: #4a6276;
}