<ion-header primary>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button icon-only (click)="dismiss(false)">
        <ion-icon style="zoom: 2;" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf='pageType'>{{pageType}} Certificates</ion-title>
    <ion-buttons slot="end">
      <button style="font-size: medium;" icon-only class="buttonStyle" (click)="saveCert()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position='floating' class="labelColor">Visit Id</ion-label>
    <ion-select (ionChange)="changeEncounter()" [(ngModel)]="encounterId" [selectedText]="encounterId"
      interface="action-sheet">
      <span *ngIf="enctrData">
        <span *ngFor="let enctr of enctrData;">
          <ion-select-option value="{{enctr.encounter_id}}">{{enctr.encounter_id}}</ion-select-option>
        </span>
      </span>
      <ion-select-option value="">New Visit</ion-select-option>
    </ion-select>
  </ion-item>

  <p *ngIf="showDiv" class="showDivStyle">
    <span *ngIf='provName'>
      {{provName}}&nbsp;
    </span>
    <span *ngIf="displayName">
      @{{displayName}}&nbsp;
    </span>
    <span *ngIf="prescriptionDate && prescriptionTime">
      On {{prescriptionDate}},{{prescriptionTime}}
    </span>
  </p>

  <span *ngIf="!showDiv">
    <ion-item>
      <ion-label position='floating' class="labelColor">Provider</ion-label>
      <ion-select [(ngModel)]="providerId" value={{providerId}} interface="action-sheet">
        <ion-select-option value="">Select Provider</ion-select-option>
        <span *ngIf="provData">
          <span *ngFor="let provider of provData;">
            <ion-select-option value="{{provider.providerid}}">{{provider.providername}}</ion-select-option>
          </span>
        </span>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position='floating' class="labelColor">Care Center</ion-label>
      <ion-select [(ngModel)]="careCenterId" value={{careCenterId}} interface="action-sheet">
        <ion-select-option value="">Select Care Center</ion-select-option>
        <span *ngIf="careCntrData">
          <span *ngFor="let careCntr of careCntrData;">
            <ion-select-option value="{{careCntr.careCenterId}}">{{careCntr.displayName}}</ion-select-option>
          </span>
        </span>
      </ion-select>
    </ion-item>

    <ion-row style="margin-top: 16px;">
      <ion-col size="6" class="ion-no-padding">
        <ion-item lines="">
          <ion-label class="labelColor" position="floating">Date</ion-label>
          <ion-input id="presDateModal" type="text" [class.redBorder]="!isValidDate"
            (click)="setDateModal(formatedDate, 'date')" [(ngModel)]="prescriptionDate"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1" class="ion-no-padding"></ion-col>
      <ion-col size="5" class="ion-no-padding">
        <ion-item lines="" id="presTimeModal">
          <ion-label class="labelColor" position="floating">&nbsp;Time</ion-label>
          <ion-input type="text" [class.redBorder]="!isValidTime" [(ngModel)]="prescriptionTime"
            (click)="setDateModal(formatedDate, 'time')"></ion-input>

        </ion-item>
      </ion-col>
    </ion-row>
  </span>
  <ion-item class="paddingTop16">
    <ion-label position='floating' color="gray-txt">Certificate</ion-label>

    <ion-textarea id="issueCert" autoGrow="true" focuser rows="8" autofocus [(ngModel)]="certificate"></ion-textarea>
    <div padding></div>
  </ion-item>

  <ion-modal [isOpen]="showModal" class="dateTimeModal">
    <ng-template>
      <ion-content>
        <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" [value]="formatedDate" presentation="{{presentation}}"
          prefer-wheel="true" showDefaultButtons="true" hourCycle="h12" (ionChange)="dateChange(datetime.value)"
          (ionCancel)="showModal = false;" (ionBlur)="showModal = false;">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer *ngIf="allCert" class="footerStyle" (click)="navigateToSelectModel()">
  Add From Library
</ion-footer>