<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <button  (click)="applyFilters()">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Show Records
    </ion-title>
    
    <ion-buttons slot="end"  (click)="resetFilters()">
      <ion-icon style="zoom: 2;" name="refresh-circle"></ion-icon>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of apptFilters">
      <span item-start></span>
      <ion-label><span class="headerStyle">{{item.label}}</span></ion-label>
      <ion-toggle [(ngModel)]="item.isChecked" color="secondary"></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer class="footerStyle" style="font-size: 18px;" (click)="applyFilters();">
  <span>Save</span>
</ion-footer>