.back-button-style{
    zoom: 1.4;
}
.supportImage{
    width: 17%;
    background: #d5d8d7;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    // float: left;
}  
.supportText{
    font-size: 1.2em;
    font-weight: bold;
    color: #02101b;
}
.supportParag{
    display: inline-block;
    margin-left: 15px;
}
.supportCode{
    color: #0b011b;
}
.labelStyle{
    font-size: small;
    text-align: center;
}