ion-content ion-segment {
    margin: 5px 0;
  }
  ion-content ion-segment ion-segment-button{
  font-size: smaller;
  }
  .handpointer {
    cursor: pointer;
}
.cursor-auto {
    cursor: auto;
}

.text-wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.alignme{
    text-align: right;
}

.toolbar-ios .segment-button{
    max-width: 70px;
} 
// .sc-ion-searchbar-md-h {
//     --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);
//     --box-shadow: none;
//         }
   
.statusStyle{
    padding-left: 0px;
    font-size: 14px;
    margin-top: 2px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.iconStyle{
    float: right;
    color: #ffffff;
    /* zoom: 0.9; */
    font-size: 14px;
    background: #4cb6c8;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
}
.videoIconStyle{
    float: right;
    color: #ffffff;
    /* zoom: 0.9; */
    font-size: 14px;
    background: #3d6369;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
    margin-left:5px;
}
.actionButton{
    border-left: 1px solid #0000001c;
    text-align: center;
    font-size: 13px;
    text-align: center;
    font-size: 13px;
    padding: 8px;
    background: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    float: right;
    margin-left: 8px;
    font-weight: 400;
    color: #000;
}
.actionButton2{
    background: #E0385B;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 8.5px !important;
}
.cardStyle {
    box-shadow: 0 0 2px #a8a8a8;
    border-radius: 10px;
    margin: 1em;
    margin-top: 4px;
}
.dividerStyle{
    color: #000000b5;
    font-size: 18px;
    border-bottom: none;
    margin-top: 10px;
    background: #fff;
    font-size: 18px;
}

// ion-item-sliding{
//     ion-item{
//         ion-avatar{
//             width: 5px;
//             border-radius: 0px;
//             margin-right: 10px;
//         }
//     }
// }
ion-card{
    ion-item{
        ion-avatar{
            width: 5px;
            border-radius: 0px;
            margin-right: 10px;
        }
    }
}
.badgeDesign{
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}   

$colors: (
  primary:    #1abc9c,
  secondary:  #32db64,
  tertiary:   #1578c9,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  gray-txt:   #777474,
  completed: #14892c,
  schedule: #fc6f61,
  inprogress: #ffe28c,

);

app-patient-time-line{
    height: 28em !important;
    margin-top: 14em !important;
    box-shadow: -1px -10px 12px 0px #00000069 !important;
}
.videoIconStyle{
    float: right;
    color: #ffffff;
    /* zoom: 0.9; */
    font-size: 14px;
    background: #3d6369;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
    margin-left:5px;
}

