<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="end" (click)="filter();">
      <ion-icon style="zoom: 1.5;margin-right: 5px;" name="funnel"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color='primary'>
    <ion-searchbar color="light" class="searchStyle" [(ngModel)]="queryText" 
    (ionChange)="searchData()" placeholder="By Id/Name/Phone number">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-list *ngIf="items && items.length > 0">
<span *ngIf="apptSec == 'today'">

    <ion-card *ngFor="let item of items " class="cardStyle" style=" margin-bottom: 0px">
    <ion-item lines="none">
      <ion-label style="padding-right: 15px;margin-bottom: 8px;" (click)="viewPatientTimeLine(item.participants[0].uuid)">
        <!-- <span style="float:right; font-size: 12px;color: #676767;margin-top: 5px;" *ngIf="item.startDateTime">{{item.startDateTime | date: 'hh:mm a'}}</span> -->
        <h2 style="padding-right: 2px;letter-spacing: 0.4px;">
          {{ item.participants[0].name}}
        </h2>
        <p style="font-size:14px; white-space: normal !important;">
          {{item.serviceName}} 
          <span *ngIf="item.startDateTime"> at {{item.startDateTime | date: 'dd MMM yyyy,HH:mm a'}}</span>
        </p>
      </ion-label>
      <ion-icon name="call" class="iconStyle" (click)="callPatientMobile(item.participants[0].mobile,item.participants[0].countryCode,item.participants[0].localPatientId)"></ion-icon>
      <ion-icon name="videocam" *ngIf="item.apptType==='Video'" class="videoIconStyle" (click)="startVideoCall(item)"></ion-icon>
    </ion-item>  

    <ion-item text-center lines="none"style="border-top: 1px solid #cbcbcb; --background: #adafaf14;">
      <span class="statusStyle">
        <span style="color: var(--ion-color-secondary);" outline *ngIf="item.status=='CheckedIn'">{{item.status}}</span>
        <span style="color: var(--ion-color-secondary);" *ngIf="item.status=='InProgress'">{{item.status}}</span>
        <span style="color: var(--ion-color-success);"*ngIf="item.status=='Completed'">{{item.status}}</span>
        <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Scheduled'">{{item.status}}</span>
        <span style="color: var(--ion-color-danger);" *ngIf="item.status=='NoShows' || item.status=='Canceled'">{{item.status}}</span>
        <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Pending'">{{item.status}}</span>
      </span> 
      <ion-label style="margin-right: 0px;">
          <button   class="actionButton" *ngIf="item.status=='Pending' || item.status=='Scheduled'"
          (click)="checkIsApptActive('CheckedIn',item.participants[0].uuid,item.planned_care_item_id, item)">
            Start Chart
          </button>
          <button class="actionButton actionButton2" *ngIf="item.status=='Pending' || item.status=='Scheduled'"
          (click)="updateStatus('NoShows',item.participants[0].uuid,item.planned_care_item_id,'')">
            No Shows
          </button>

          <button class="actionButton" *ngIf="item.status=='CheckedIn' || item.status=='InProgress'"
          (click)="updateStatus('CheckedIn',item.participants[0].uuid,item.planned_care_item_id,'')">
            Charting
          </button>

          <button class="actionButton" *ngIf="item.status=='Completed' || item.status=='completed'"
          (click)="updateStatus('Completed',item.participants[0].uuid,item.planned_care_item_id,'')">
            Charting
          </button>

          <button class="actionButton actionButton2" *ngIf="item.status=='CheckedIn' || item.status=='InProgress'"
          (click)="checkoutAppt('Completed',item.participants[0].uuid,item.planned_care_item_id)">
            Check Out
          </button>
          <!-- <button   class="actionButton vc-button" *ngIf="isAllowVideoCall(item)" (click)="startVideoCall(item)">
            <button   class="actionButton vc-button" (click)="startVideoCall(item)">
          <ion-icon name="videocam" style="vertical-align: bottom;"></ion-icon>&nbsp;Start Call
          </button> -->
      </ion-label>
    </ion-item>
  </ion-card>
</span>


<span *ngIf="apptSec != 'today'">
<ion-card *ngFor="let item of items" class="cardStyle">
  <ion-item (click)="viewPatientTimeLine(item.participants[0].uuid)" lines="none">
    <ion-label style="padding-right: 15px; margin-bottom: 8px;">
      <h2 style="padding-right: 2px;letter-spacing: 0.4px;">
        {{ item.participants[0].name}}
      </h2>
      <p style="font-size:14px; white-space: normal !important;">
        {{item.serviceName}}
        <span *ngIf="item.startDateTime"> at {{item.startDateTime | date: 'dd MMM yyyy,HH:mm a'}}</span>
      </p>
    </ion-label>
    <ion-icon name="call" class="iconStyle" (click)="callPatientMobile(item.participants[0].mobile,item.participants[0].countryCode,item.participants[0].localPatientId)"></ion-icon>

    <ion-icon name="videocam" *ngIf="item.apptType==='Video'" class="videoIconStyle" (click)="startVideoCall(item)"></ion-icon>

    
  </ion-item>  
  <ion-item text-center lines="none"style="border-top: 1px solid #cbcbcb; --background: #adafaf14;">
    <span class="statusStyle">
      <span style="color: var(--ion-color-secondary);" outline *ngIf="item.status=='CheckedIn'">{{item.status}}</span>
      <span style="color: var(--ion-color-secondary);" *ngIf="item.status=='InProgress'">{{item.status}}</span>
      <span style="color: var(--ion-color-success);"*ngIf="item.status=='Completed'">{{item.status}}</span>
      <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Scheduled'">{{item.status}}</span>
      <span style="color: var(--ion-color-danger);" *ngIf="item.status=='NoShows' || item.status=='Canceled'">{{item.status}}</span>
      <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Pending'">{{item.status}}</span>
    </span> 
    <ion-label>
        <button   class="actionButton" *ngIf="item.status=='Pending' || item.status=='Scheduled'"
        (click)="updateStatus('CheckedIn',item.participants[0].uuid,item.planned_care_item_id,'')">
          Start Chart
        </button>
        <button class="actionButton actionButton2" *ngIf="item.status=='Pending' || item.status=='Scheduled'"
        (click)="updateStatus('NoShows',item.participants[0].uuid,item.planned_care_item_id,'')">
          No Shows
        </button>

        <button class="actionButton" *ngIf="item.status=='CheckedIn' || item.status=='InProgress'"
        (click)="updateStatus('CheckedIn',item.participants[0].uuid,item.planned_care_item_id,'')">
          Charting
        </button>

        <button class="actionButton" *ngIf="item.status=='Completed' || item.status=='completed'"
          (click)="updateStatus('Completed',item.participants[0].uuid,item.planned_care_item_id,'')">
            Charting
          </button>

        <button class="actionButton actionButton2" *ngIf="item.status=='CheckedIn' || item.status=='InProgress'"
        (click)="checkoutAppt('Completed',item.participants[0].uuid,item.planned_care_item_id)">
          Check Out
        </button>
    </ion-label>
  </ion-item>
</ion-card>
</span>
</ion-list>

<div class="noRecord"*ngIf="noRecordFound">
   {{noRecordFound}}
</div>

<ion-infinite-scroll *ngIf="currentPage < totalPages" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>

