<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Certificates</ion-title>
    <ion-buttons slot='start'>
      <button ion-button icon-only class="topButtons" (click)="dismiss()">
        <ion-icon style="zoom:2" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="alpha-list-page" no-bounce>
  <ion-list *ngIf="contentLoading">
    <ion-item *ngFor='let item of [].constructor(13)' style="margin-bottom: 5%;">
      <ion-skeleton-text animated style="height: 50%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="allCert">
    <ion-item *ngFor="let item of allCert" (click)="onItemClick(item)">
      <ion-label>
        <p> <span *ngIf="item.certificate_name" class="certNameStyle">{{item.certificate_name}}</span> <span
            *ngIf="item.cert" style="color:#555;">&nbsp;{{item.cert}}</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header *ngIf="!contentLoading && (allCert && allCert.length == 0)">
    <ion-label>
      <h3>No Notes Found!</h3>
    </ion-label>
  </ion-list-header>
</ion-content>