.topButtons{
    zoom: 1.2;
    background: var(--ion-color-primary);
    color: #fff;
    font-weight: bold;
}

.certNameStyle{
    background-color: #bebebe;
    padding: .2em .6em .2em;
    font-weight: 500 !important;
    color: #34495e;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25em;
}