<ion-header class="headerShadow">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button icon-only class="buttonStyle" (click)="dismiss(false)">
        <ion-icon name="arrow-back" style="zoom:2"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">Apply Leave</ion-title>
    <ion-buttons slot="end">
      <button style="font-size: medium;" (click)="saveLeaveInfo()" icon-only class="buttonStyle">
        Done
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label class="fontSize24" position="stacked"><span class="mandatoryStar">*</span>&nbsp;&nbsp;Reason For Leave
    </ion-label>
    <ion-textarea autoGrow="true" rows="5" *ngIf="isValidReason === true" [(ngModel)]="leaveReason" type="text" maxlength="264">
    </ion-textarea>
    <ion-textarea autoGrow="true" rows="5" *ngIf="isValidReason === false" class=" redBorder" [(ngModel)]="leaveReason" type="text"
      maxlength="264"></ion-textarea>
  </ion-item>

  <ion-row style="margin-top: 16px;" [class.redBorder]="!isValidStartDate">
    <ion-col size="6" class="ion-no-padding">
      <ion-item lines="">
        <ion-label class="labelColor" position="floating">&nbsp;&nbsp;From Date</ion-label>
        <ion-input type="text" [ngModel]="leaveFrom | date: 'dd-MM-yyyy'" (ngModelChange)="leaveFrom=$event"
          (click)="setDateModal(leaveFrom, 'date', 'leaveFrom')">
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="1" class="ion-no-padding"></ion-col>
    <ion-col size="5" class="ion-no-padding">
      <ion-item lines="">
        <ion-label class="labelColor" position="floating">&nbsp;&nbsp;Time</ion-label>
        <ion-input [ngModel]="leaveFrom | date: 'h:mm a'" (ngModelChange)="leaveFrom=$event"
          (click)="setDateModal(leaveFrom, 'time', 'leaveFrom')"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 16px;" [class.redBorder]="!isValidEndDate">
    <ion-col size="6" class="ion-no-padding">
      <ion-item lines="">
        <ion-label class="labelColor" position="floating">&nbsp;&nbsp;To Date</ion-label>
        <ion-input type="text" [ngModel]="leaveTo | date: 'dd-MM-yyyy'" (ngModelChange)="leaveTo=$event"
          (click)="setDateModal(leaveTo, 'date', 'leaveTo')"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="1" class="ion-no-padding"></ion-col>
    <ion-col size="5" class="ion-no-padding">
      <ion-item lines="">
        <ion-label class="labelColor" position="floating">&nbsp;&nbsp;Time</ion-label>
        <ion-input [ngModel]="leaveTo | date: 'h:mm a'" (ngModelChange)="leaveTo=$event"
          (click)="setDateModal(leaveTo, 'time', 'leaveTo')"></ion-input>

      </ion-item>
    </ion-col>
  </ion-row>

  <ion-modal [isOpen]="showModal" class="dateTimeModal">
    <ng-template>
      <ion-content>
        <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" min="{{minDateTime}}" [value]="formatedDate"
          presentation="{{presentation}}" prefer-wheel="true" showDefaultButtons="true" hourCycle="h12"
          (ionChange)="dateChange(datetime.value)" (ionCancel)="showModal = false;" 
          (ionBlur)="showModal = false;">

        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>