<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <button (click)="dismiss(false,'')">
        <ion-icon style="zoom: 2;" name="close"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title class="center-align-text textCapitalize"><span *ngIf="formName">{{formName}}</span></ion-title>
    
    <ion-buttons slot='end'>
      <button style="font-size: medium;" ion-button icon-only (click)="saveAndShareForm()" [disabled]='disableButton'>
        <ion-icon style="zoom: 1.5;" name="share-social-sharp"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons slot='end'>
      <button style="font-size: medium;"  ion-button icon-only (click)="saveForm()">
        <ion-icon style="zoom: 1.5;" name="save-sharp"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class='ion-padding'>

  <span *ngIf="content">
    <span *ngFor="let item of content;let f=index">
      <h4 class="sectionStyle" >{{item.sectionName}}</h4>

      <span *ngFor="let secitem of item.sectionContent;let i=index">

        <span *ngIf="secitem.visible==='Show'">

          <ion-item *ngIf="secitem.field_type==='Text' ||  secitem.field_type==='text'
              || secitem.field_type==='Number' ||  secitem.field_type==='number' " class="ion-no-padding">
            <ion-label position='floating' class="labelColor"> <span *ngIf="secitem.required==='true'"
                class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
            <ion-input class="paddingLeft16" (blur)="enableDependentField(f,i,secitem.field_name,secitem.field_type)"
              type="{{secitem.field_type}}" [(ngModel)]="item.sectionContent[i].value"></ion-input>

          </ion-item>

          <ion-item *ngIf="secitem.field_type==='Information'" class="ion-no-padding">
            <ion-label>
              <p class="labelColor"> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span>
                {{secitem.field_label}}
              </p>
              <p class="paddingLeft16" style="white-space: break-spaces; color:#000000">{{item.sectionContent[i].default_value}}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="secitem.field_type==='TextArea'" class="ion-no-padding">
            <ion-label position='floating' class="labelColor"> <span *ngIf="secitem.required==='true'"
                class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
            <ion-textarea autoGrow="true" class="paddingLeft16" (blur)="enableDependentField(f,i,secitem.field_name,secitem.field_type)"
              [(ngModel)]="item.sectionContent[i].value"></ion-textarea>

          </ion-item>

          <span *ngIf="secitem.field_type==='Checkbox'">

            <ion-list class="ion-margin-top">
              <ion-label class="labelColor">
                <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}
              </ion-label>

              <ion-item lines="none" *ngFor="let fields of secitem.field_type_values;let j=index" class="borderBottom">
                <ion-label>
                  <span>{{fields.label}}</span>
                  <ion-checkbox color="primary" class="ion-float-end" style="margin: 0px;"
                    (ionChange)="enableDependentField(f,i,secitem.field_name,secitem.field_type)"
                    [(ngModel)]="item.sectionContent[i].field_type_values[j].isChecked"></ion-checkbox>
                </ion-label>
              </ion-item>

            </ion-list>
          </span>

          <ion-item *ngIf="secitem.field_type==='Date'" (click)="setDateModal(item.sectionContent[i].value, f, i)">
            <ion-label  position='floating' class="labelColor"> <span *ngIf="secitem.required==='true'"
                class="reset-filters">*</span>{{secitem.field_label}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.sectionContent[i].value"></ion-input>
          </ion-item>


          <ion-item *ngIf="secitem.field_type==='DropDown'" class="ion-no-padding">
            <ion-label position='floating' class="labelColor"> <span *ngIf="secitem.required==='true'"
                class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
            <ion-select
              (change)="enableDependentField(f,i,secitem.field_name,secitem.field_type)"
              [(ngModel)]="item.sectionContent[i].value" interface="action-sheet">
              <span *ngFor="let fields of secitem.field_type_values;let j=index">
                <ion-select-option value="{{fields.value}}">{{fields.label}}</ion-select-option>
              </span>
            </ion-select>
          </ion-item>
          <span *ngIf="secitem.field_type==='Radio'">
            <ion-radio-group [(ngModel)]="item.sectionContent[i].value"
              (ionChange)="enableDependentField(f,i,secitem.field_name,secitem.field_type)">


              <h3 class="labelColor" style="font-size: 16px; font-weight: 400;">
                <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}
              </h3>


              <ion-item *ngFor="let fields of secitem.field_type_values" style="margin-left: -16px;">
                <ion-label style="padding-left: 16px;">
                  <span>{{fields.label}}</span>
                  <ion-radio class="ion-float-end" style="margin: 0px;" color="primary" value="{{fields.value}}">
                  </ion-radio>
                </ion-label>
              </ion-item>

            </ion-radio-group>
          </span>

          <ion-list *ngIf="secitem.field_type==='Table'" class="marginTop16">
            <ion-label> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span>
              <span class="labelColor">{{secitem.field_label}}</span></ion-label>
            <div>
              <p class="ion-no-margin">
                <span *ngFor="let fields of secitem.rowContentValuesList;let j=index">
                  <span *ngFor="let elem of fields.row;let k=index">
                    <ion-item lines="none" *ngIf="elem.fieldVal==' #'" (click)="openColumns(f,i,j)" class="borderBottom">
                      <ion-label>{{elem.value}}</ion-label>
                      <ion-icon class="ion-float-right" name="arrow-forward-outline" color='secondary'></ion-icon>
                    </ion-item>
                  </span>
                </span>
              </p>
            </div>
          </ion-list>
          <p ion-text [hidden]="secitem.valid" color="danger" padding-left>
            Enter {{secitem.field_label}}
          </p>
        </span>
      </span>

    </span>

  </span>

  <span *ngIf="isDisclaimer==='true'">

    <ion-item lines="none" *ngIf="disclaimerContent">
      <span class="reset-filters">*</span>
      <ion-label [innerHtml]="disclaimerContent"></ion-label>
      <ion-checkbox padding-top color="primary" [(ngModel)]="isDisclaimerCheck"></ion-checkbox>
    </ion-item>
  </span>
  <span *ngIf="!is_signature_requiredCheck && is_signature_required === 'true'">
    <!-- {{is_signature_requiredCheck}} -->
    <ion-row padding-top>

      <ion-row>
        <ion-col><span class="reset-filters">* </span> <span> Signature </span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col [ngClass]="{'drawing-active': isDrawing}">
          <!-- <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad> -->
        </ion-col>

      </ion-row>
      <ion-row>
        <button ion-button color="danger" (click)="clearPad()" small>Clear</button>
      </ion-row>

    </ion-row>
  </span>
  <span *ngIf="is_signature_requiredCheck && signature_image_url">
    <img src="{{signature_image_url}}" alt="Signature">
  </span>

  <ion-modal [isOpen]="showModal"  class="dateTimeModal" trigger="dateTime">
    <ng-template>
      <ion-content>
        <ion-datetime
          #datetime
          max="2099-12-31T00:00:00+05:30"
          presentation="date"
          [value]="startDate"
          prefer-wheel="true"
          showDefaultButtons="true"
          (ionChange)="dateChange(datetime.value, itemIndex, secIndex)"
          (ionCancel)="showModal = false;" 
          (ionBlur)="showModal = false;">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer>
  <ion-item button *ngIf="showAddForm" class="addNewFormStyle" (click)="addAsNewForm();" lines="none">
    <ion-label style="text-align: center;margin: 0px;">Add New Form</ion-label>
  </ion-item>
</ion-footer>