.DEBorder{
    border: 1px solid #ddd;
}
.DEBottomBorder{
    border-bottom: 1px solid #ddd;
}
.marginTop20{
    margin-top: 20px;
}
.center-align-text{
    text-align: center;
}
.margin-top-5{
    margin-top: 5px;
}

button{
    color: #fff;
    background: var(--ion-color-primary);
   font-weight: bold;
   font-size: small;
}

  .labelColor{
    color: #9A9A9A;
}
.borderBottom {
    border-bottom: 2px solid #f1f1f1;
}
.sectionStyle {
    text-transform: capitalize;
    color: var(--ion-color-primary);
}