.chatDiv{
    padding: 16px;
    margin: 1em;
    border-radius: 8px;
    background: #faf9fb;

    span{
        display: block;
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--ion-color-primary);
    }
    label{
        margin-bottom: 8px;
        color: #423d4d;
    }
}
.sendIcon {
    zoom: 1.2;
    padding: 8px;
    background: #058383;
    border-radius: 50%;
    position: relative;
    top: 24px;
    color: #fff;
    text-align: center;
}