<ion-header>
  <ion-toolbar>
    <ion-icon name="close" style="zoom: 2;padding: 6px;color: var(--ion-color-primary);" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chatDiv">
    <span>Dr.santosh</span>
    <label>hi, how are you? is everything alright</label>
  </div>

</ion-content>
<ion-footer>
  <ion-grid style="padding: 0px;">
    <ion-row>
      <ion-col size="10">
        <ion-item>
          <ion-label position='floating'>Type message</ion-label>
          <ion-textarea rows="2" [(ngModel)]="message"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="send"  class="sendIcon" (click)="sendMsg()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-footer>