<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <button class="buttonStyle" icon-only (click)="dismiss()">
        <ion-icon style="zoom:2;" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="titleStyle">Note</ion-title>
    <ion-buttons slot='end'>
      <button class="buttonStyle" style="font-size: medium;" round small (click)="saveNote()">
        Done
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" overflow-scroll="true">
  <ion-item>
    <ion-label position='floating' color="gray-txt">Clinical Notes </ion-label>
    <ion-textarea rows="10" focuser autofocus autoGrow="true" [(ngModel)]="item"></ion-textarea>
    <div padding></div>
  </ion-item>

  <p class="ion-no-margin" (click)="clearNote()"
    style="font-weight: 500;text-align: end;padding-top: 8px;color: var(--ion-color-primary);">
    Clear
  </p>

  <p *ngIf="noteTemplates">
    <span style="font-size: 18px;
        color: var(--ion-color-secondary);
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 0px;">Choose template from Library</span>

    <ion-icon name="search-sharp" role="img" class="hydrated md" aria-label="search sharp"
      style="left: 12px;position: relative;top: 4px;" (click)="searchBarShow = !searchBarShow"></ion-icon>
  </p>
  <ion-searchbar *ngIf="searchBarShow" [(ngModel)]="searchTerm" focus-me float-left (ionChange)="onSearchInput()"
    style="padding: 4px 0px;"></ion-searchbar>
  <ion-list *ngIf="noteTemplates" style="white-space: break-spaces;overflow-y: scroll;min-height: 12em;
        max-height: 12.6em;">
    <ion-item class="ion-no-padding" *ngFor="let item of noteTemplates" (click)="onItemClick(item)">
      <ion-label>
        <p style="color:#555;">{{item.template_plain_txt}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>