.topButtons{
    zoom: 1.2;
    background: var(--ion-color-primary);
    color: #fff;
    font-weight: bold;
}
.titleStyle.md{
    text-align: center;
    margin-top: -7px;
}

.bottomButtons{
    zoom: 1.3;
    height: 21px;
    margin-top: 10px;
}
.addFromlib{
    background: #2980b9;
    color: #fff;
}
.actionButton{
    border-left: 1px solid #0000001c;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    float: right;
    margin-left: 8px;
    font-weight: 500;
    margin-top: 10px;
}