
<ion-header color="primary">
  <ion-toolbar color='primary'>
      <ion-title class="ion-text-center"><P>Prescription Templates</P></ion-title>
      <ion-buttons slot='end'>
          <ion-button icon-only (click)="dismiss(false, '')">
              Cancel
          </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top color='primary'>
      <ion-searchbar [(ngModel)]="searchTerm" focus-me float-left  (ionChange)="onSearchInput()"></ion-searchbar>

    </ion-toolbar>
    <ion-item>
      <ion-label position='floating' class="labelColor">Select Category</ion-label>
      <ion-select (ionChange)="filterByCategory()" [(ngModel)]="selectedCat" interface="action-sheet">
        <ion-select-option value="clearSelection">Clear</ion-select-option>
        <span  *ngFor="let category of categories;">
          <ion-select-option value="{{category.preConditionsDescription}}">{{category.preConditionsDescription}}</ion-select-option>
        </span>
      </ion-select>
    </ion-item>
</ion-header>

<ion-content no-bounce>
  <ion-list *ngIf="masterTemplates">
    <ion-item *ngFor="let template of masterTemplates;" (click)="currentPageClass.onItemClick(template)">
      <ion-label>
        <p style="color: #555;">{{template.template_name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header *ngIf="(masterTemplates && masterTemplates.length == 0)">
      <h3>No Templates Found!</h3>
    </ion-list-header>
</ion-content>