<ion-header >
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <button ion-button large  margin-top-5 float-left clear class="btnSectn" (click)="dismiss(true)">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="center-align-text"> Table Columns </ion-title>
    <ion-buttons end>
        <button ion-button icon-only>

        </button>

     </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content class='ion-padding'>
  <span *ngIf="rowElem && colElem">
    <span  *ngFor="let colelem of colElem;let c=index">
  <ion-row  *ngIf="colelem !== ' #'">

    <ion-col col-4>
      <ion-item lines='none'>
        <ion-label>{{colelem}}</ion-label>
      </ion-item>
    </ion-col>
    <span  *ngFor="let elem of rowElem.row;let k=index">
      <ion-col col-7 *ngIf="colelem===elem.fieldVal">
          <ion-item >
            <ion-input value="{{elem.value}}" [(ngModel)]="elem.value" *ngIf="elem.iseditable" placeholder="Enter Here" type="text"></ion-input>
            <ion-label *ngIf="!elem.iseditable" >{{elem.value}}</ion-label>
          </ion-item>
      </ion-col>
    </span>
  </ion-row>
  </span>
</span>
</ion-content>
