
 .extendButton{
  vertical-align: top;
  top: 16px;
  right: 8px;
  position: relative;
  font-size: 16px;
  background: var(--ion-color-primary);
  color: #fff;
  padding: 8px;
  font-weight: 500;
  border-radius: 8px;
  float: right;
}
.chatIconStyle{
vertical-align: top;
font-size: 32px;
position: relative;
top: 8px;
background: transparent;
padding: 8px;
color: #878787;
}

#bottom_link{
position:absolute;   
display: inline-block;               
bottom:0;                           
left:0;                           
background-color: white;
width: 100%;
height: 140px;
text-align: center;
}
.myClass {
background-color:lightgray; 
height: 100%;
width: 100%;
}
#button1, #button2{
  width: 45px;
  height: 45px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4%;
  margin-right: 4%;
  background: #ffffffd6;
  padding: 8px;
  border-radius: 50%;
}
#button3{
width: 45px;
height: 45px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 4%;
margin-right: 4%;
}
#button4{
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 6%;
  margin-right: 4%;
  }
  #button5{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4%;
    margin-right: 4%;
    background: #ffffffd6;
    padding: 8px;
    border-radius: 50%;
  }
.timer{
vertical-align: top;
top: 16px;
right: 8px;
position: relative;
font-size: 16px;
background: #c45e45;
color: #fff;
padding: 8px;
font-weight: 500;
border-radius: 8px;
width: 8em;
float: left;
margin-left: 4%;
}