

<ion-content [fullscreen]="true">
  <div class="myClass">
    <div id="bottom_link" #bottom_link>
      <img class="image" src="{{audioimgSrc}}" id="button1" (click)="muteUnMuteAudio()">
      <img class="image" src="../../../assets/icon/disconnect.png" id="button3" (click)="disconnect()">
      <img class="image" src="../../../assets/icon/camera_switch.png" id="button4" (click)="switchCamera()">
      <img class="image" src="../../../assets/icon/mute_speaker.png" id="button5" *ngIf="!speakerMute" (click)="cheangAudioMedia()">
      <img class="image" src="../../../assets/icon/unmute_speaker.png" id="button5" *ngIf="speakerMute" (click)="cheangAudioMedia()">
     
     <button class="timer" *ngFor="let entry of entries">
      <label *ngIf="getElapsedTime(entry) as elapsed" style="font-size: 14px;font-weight: 700;">
       <span *ngIf ="elapsed.hours <10">
        0{{elapsed.hours}} :
       </span> 
       <span *ngIf ="elapsed.hours >=10">
        {{elapsed.hours}} :
       </span> 
       <span *ngIf ="elapsed.minutes <10">
        0{{elapsed.minutes}} :
       </span> 
       <span *ngIf ="elapsed.minutes >=10">
        {{elapsed.minutes}} :
       </span> 
       <span *ngIf ="elapsed.seconds <10">
        0{{elapsed.seconds}}
       </span> 
       <span *ngIf ="elapsed.seconds >=10">
        {{elapsed.seconds}}
       </span> 
      </label>
    </button>
    
    <button *ngIf='aboutToEnd' (click)='extendMeeting()'  class="extendButton">Extend</button>
    </div>
  </div>
</ion-content>
