<ion-header class="headerShadow">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Applied Leaves</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab *ngIf="accessControl && accessControl.Leave5674 && accessControl.Leavecreate" vertical="bottom"
    horizontal="end" slot="fixed">
    <ion-fab-button (click)="addLeave()" color="light">
      <ion-icon color="primary" name="add" style="height: 35px; width: 35px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <span *ngIf="leaveInfo">
    <ion-card *ngFor="let item of leaveInfo" class="cardStyle">
      <ion-item lines="none" (click)="presentAlert(item.leave_reason,item.from,item.to)">
        <ion-label >
          <h2 class="fontSize18">{{item.leave_reason}}
          </h2>
          <p class="normalColor">
            <span>{{item.from}} - {{item.to}}</span>
          </p>
        </ion-label>
        <ion-col size="3" class="ion-no-padding" style="display:flex;text-align:center">
        <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="warning" style="color: #fff;"
          *ngIf="item && item.status === 'Pending'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="success" style="color: #fff;"
          *ngIf="item && item.status === 'Confirmed'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="danger"
          *ngIf="item && item.status === 'Rejected'">{{item.status}}
        </ion-badge>
      </ion-col>
      </ion-item>
    </ion-card>
  </span>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>