<ion-header primary>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button icon-only (click)="dismiss(false)">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">Certificates</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="has-header">
  <ion-list *ngIf="certData">
    <ion-card *ngFor="let item of certData" class="cardStyle">
      <ion-item lines="none">
        <ion-label>
          <h2 (click)="editCertificate(item)">{{item.certName}}</h2>
        </ion-label>
        <ion-icon class="ion-color ion-color-tertiary ion-padding-start" style="zoom: 1.2;" name="print"
          (click)="printCert(item)"></ion-icon>

        <ion-icon class="ion-color ion-color-tertiary ion-padding-start" style="zoom: 1.2;" name="share-social"
          (click)="shareCertificate(item)"></ion-icon>

      </ion-item>
    </ion-card>
  </ion-list>

  <div id="getElemnetVal" style="display: none;">
    <div class="ion-padding" *ngIf="currentDate">
      {{currentDate}}
    </div>
    <div *ngIf="certPrintData" class="ion-padding">
      {{certPrintData}}
    </div>
  </div>

  <ion-list-header *ngIf="certData && certData.length === 0">
    No Certificate Found!
  </ion-list-header>
</ion-content>
<ion-footer
  *ngIf="accessControl && accessControl.permissions.MedicalCertificate5674 && accessControl.permissions.MedicalCertificatecreate"
  class="footerStyle" (click)="addCertificate()">
  Issue Certificate
</ion-footer>