
button{
    color: #fff;
    background: var(--ion-color-primary);
   font-weight: bold;
   font-size: small;
}

.center-align-text{
    text-align: center;
}

.btnSectn .button-clear-md{
    height: 1.8rem !important;
}
.btnSectn{
    .button-md{
        height: 1.8rem;
    }
    .button-ios{
        height: 1.8rem;
    }
    .button-wp{
        height: 1.8rem;
    }
}

.action-sheets-basic-page {
    .ion-md-share {
      color: #508AE4;
    }
    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }
    .ion-md-heart-outline {
      color: #31D55F;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }
}

.text-wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
