<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="dismiss(false, '')">
        <ion-icon style="zoom: 1.3;" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Select Patient</ion-title>
  </ion-toolbar>
  <ion-toolbar color='primary'>
    <ion-searchbar class="searchStyle" [(ngModel)]="queryText" (ionChange)="searchPatients()"
      placeholder="By Id/Name/Phone number">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf='showLoader'>
    <span *ngFor='let item of [].constructor(10)'>
      <ion-item lines="none">
        <ion-label class="marginLeft16">
          <ion-skeleton-text animated style="height: 50%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="height: 20%;margin-bottom: 10px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="height: 50%;margin-top: 11px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="height: 20%; margin-bottom: 10px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>

  <ion-list>
    <span *ngIf="items">
      <ion-item *ngFor='let item of items'>
        <ion-label class="blackTxt marginLeft16 font18 ion-text-capitalize" (click)='patientSelected(item);'>
          {{ item.name }}
          <p class="font12 graytxt">{{item.age}} {{item.gender}} {{item.localId}}</p>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>

  <div class="noRecord" *ngIf="noRecordFound">
    {{noRecordFound}}
  </div>

  <ion-fab *ngIf="(pageType == 'quickSchedule') && accessControl && accessControl.Patient5674 && accessControl.Patientcreate" vertical="bottom"
    horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddPatientPage()" color="light">
      <ion-icon color="primary" name="add" style="height: 35px; width: 35px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>