<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <button ion-button icon-only (click)="dismiss('false')" class="buttonStyle">
        <ion-icon style="zoom: 2;" name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{title}}</ion-title>
    <ion-buttons slot='end'>
      <button style="font-size: medium;" icon-only (click)="applyFilters()">
        Done
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top color='primary'>
    <ion-searchbar color="light" [(ngModel)]="searchTerm" focus-me float-left (ionChange)="onSearchInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="selectedFilters && selectedFilters.length > 0">
    <span *ngIf="title==='Radiology' || title==='Pathology' || title == 'Neurology'">
      <span *ngFor="let item of selectedFilters; let i = index" [attr.data-index]="i">&nbsp;
        <ion-badge color='secondary'><span>{{item.label}}</span>
          <ion-icon name="close" (click)="unselectLabItem(item.order_id,item.lab_component_item_id,item.isEditable)">
          </ion-icon>
        </ion-badge>

      </span>
    </span>
    <span *ngIf="title!=='Radiology' && title!=='Pathology' && title !== 'Neurology'">
      <span *ngFor="let item of selectedFilters; let i = index" [attr.data-index]="i">
        <ion-badge margin-top class="marginLeft5" color='secondary'><span>{{item.label}}</span>
          <ion-icon name="close" class="marginLeft5" (click)="unselectItem(item.id)"></ion-icon>
        </ion-badge>
      </span>
    </span>
  </ion-list>

  <ion-list *ngIf="contentLoading">
    <ion-item *ngFor='let item of [].constructor(13)'>
      <ion-label margin-top class="marginLeft5" ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!contentLoading">
    <span>

      <!-- <ion-alpha-scroll *ngIf="diagnosisList"
    [listData]="diagnosisList"
    key="label"
    [itemTemplate]="alphaScrollItemTemplateRef"
    [currentPageClass]="currentPageClass"
    [highlight]="true"
    [triggerChange]="triggerAlphaScrollChange">

    <ng-template #alphaScrollItemTemplateRef let-item>
        <button (click)="pushToDiagnosisiSelectList(item)" margin-top class="marginLeft5" ion-item>{{item.label}}</button>
      </ng-template>
  </ion-alpha-scroll> -->
      <span *ngIf="diagnosisList && diagnosisList.length != 0">
        <ion-item *ngFor="let item of diagnosisList" (click)="pushToDiagnosisiSelectList(item)">
          <ion-label margin-top class="marginLeft5" ion-item>
            <p style="color: #555;">
              {{item.label}}
            </p>
          </ion-label>
        </ion-item>
      </span>

      <ion-list-header *ngIf="(diagnosisList && diagnosisList.length == 0) && isNoRecord">
        <h3>No More {{title}} Found!</h3>
      </ion-list-header>
    </span>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="infiniteScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer *ngIf="enableCustomField" class="footerStyle" (click)="addCustomInput()">
  Add Custom
</ion-footer>