<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <button ion-button large  margin-top-5 float-left clear class="btnSectn" (click)="dismiss(false)">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

      <ion-title class="center-align-text marginTop20"><span *ngIf="formName">{{formName}}</span></ion-title>
      <ion-buttons slot='end'>
          <button style="font-size: medium;" ion-button icon-only (click)="saveForm()">
            Done
          </button>
      </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content class='ion-padding'>

    <span *ngIf="content">
        <h4>{{content[sectionCounter].sectionName}}</h4>

        <span *ngFor="let secitem of content[sectionCounter].sectionContent;let i=index">

          <span *ngIf="secitem.visible==='Show'">
              <ion-item  *ngIf="secitem.field_type==='Text' ||  secitem.field_type==='text'
              || secitem.field_type==='Number' ||  secitem.field_type==='number' ">
               <ion-label stacked> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
                  <ion-input type="{{secitem.field_type}}" (blur)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                    [(ngModel)]="content[sectionCounter].sectionContent[i].value"  ></ion-input>

              </ion-item>

              <ion-item  *ngIf="secitem.field_type==='Information'">
                  <ion-label stacked> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
                  <ion-label>{{item.sectionContent[i].default_value}}</ion-label>

              </ion-item>
              <ion-item  *ngIf="secitem.field_type==='TextArea'">
                  <ion-label stacked> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
                  <ion-textarea autoGrow="true" (blur)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                   [(ngModel)]="content[sectionCounter].sectionContent[i].value"></ion-textarea>

              </ion-item>

            <span *ngIf="secitem.field_type==='Checkbox'">

                <ion-list >
                    <ion-list-header>
                        <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}
                    </ion-list-header>

                    <ion-item *ngFor="let fields of secitem.field_type_values;let j=index">
                      <ion-label stacked>{{fields.label}}</ion-label>
                      <ion-checkbox color="primary" (ionChange)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                       [(ngModel)]="content[sectionCounter].sectionContent[i].field_type_values[j].isChecked" ></ion-checkbox>
                    </ion-item>

                  </ion-list>
              </span>
              <ion-item *ngIf="secitem.field_type==='Date'" (click)="setDateModal(item.sectionContent[i].value, f, i);">
                <ion-label  position='floating' class="labelColor"> <span *ngIf="secitem.required==='true'"
                    class="reset-filters">*</span> {{secitem.field_label}}</ion-label>

                <ion-input type="text" [(ngModel)]="item.sectionContent[i].value"
                (ionChange)="enableDependentField(f,i,secitem.field_name,secitem.field_type)"></ion-input>
              </ion-item>

                  <ion-item *ngIf="secitem.field_type==='DropDown'">
                  <ion-label stacked> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
                  <ion-select placeholder="Select {{secitem.field_label}}"
                  (change)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"  [(ngModel)]="content[sectionCounter].sectionContent[i].value" interface="action-sheet">
                    <span  *ngFor="let fields of secitem.field_type_values;let j=index">
                      <ion-select-option value="{{fields.value}}" >{{fields.label}}</ion-select-option>
                    </span>
                  </ion-select>
                </ion-item>
            <span *ngIf="secitem.field_type==='Radio'">
              <ion-radio-group [(ngModel)]="content[sectionCounter].sectionContent[i].value" (ionChange)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)">
                <ion-list-header>
                    <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}
                </ion-list-header>
                <ion-item *ngFor="let fields of secitem.field_type_values">
                    <ion-label stacked>{{fields.label}}</ion-label>
                    <ion-radio color="primary" value="{{fields.value}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </span>

            <ion-list *ngIf="secitem.field_type==='Table'">
                    <ion-label stacked > <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}} </ion-label>
                    <div>
                      <p>
                        <span *ngFor="let fields of secitem.rowContentValuesList;let j=index">
                          <span *ngFor="let elem of fields.row;let k=index">
                              <button ion-item *ngIf="elem.fieldVal=='#'" (click)="openColumns(sectionCounter,i,j)"> {{elem.value}}
                                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" float-right></ion-icon>
                              </button>
                          </span>
                        </span>
                      </p>
                    </div>
            </ion-list>
            <p ion-text
            [hidden]="secitem.valid" color="danger" padding-left>
                Enter {{secitem.field_label}}
            </p>
          </span>
          </span>


    </span>

    <span *ngIf="isDisclaimer==='true'">
        <ion-row padding-top>
          <ion-col col-2><span class="reset-filters">*</span>
            <ion-checkbox padding-top color="primary" [(ngModel)]="isDisclaimerCheck" ></ion-checkbox>
          </ion-col>
          <ion-col col-20 *ngIf="disclaimerContent">
            <span  [innerHtml]="disclaimerContent"></span>
          </ion-col>
        </ion-row>
    </span>

    <ion-modal [isOpen]="showModal" class="dateTimeModal">
      <ng-template>
        <ion-content>
          <ion-datetime
            #datetime
            max="2099-12-31T00:00:00+05:30"
            presentation="date"
            [value]="startDate"
            prefer-wheel="true"
            showDefaultButtons="true"
            (ionChange)="dateChange(datetime.value, itemIndex, secIndex);"
            (ionCancel)="showModal = false;"
            (ionBlur)="showModal = false;">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>

