<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <button icon-only class="buttonStyle" (click)="dismiss(false)">
        <ion-icon name="close" style="zoom:2"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="ion-text-center">Add Document</ion-title>
    <ion-buttons *ngIf="itemName && startDate && showDoneBtn" slot="end">
      <button style="font-size: medium;" icon-only class="buttonStyle" (click)="savePatientDocument()">
        Done
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item lines="none" *ngIf="isAndroidPlt">
    <ion-label class="noteStyle">
      <p class="fontSize12">Note: Please select the PDF file from your internal storage.</p>
      <p class="fontSize12">File Manager >> Click on Action buttons in top right corner >> Click on show internal
        storage
        >> You can see your internel storage in your left menu.</p>
    </ion-label>
  </ion-item>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-item>
        <ion-label position="floating" style="color:gray"><span style="color: red;">* </span>Item Name</ion-label>
        <ion-input focuser [(ngModel)]="itemName" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item lines="insert" id="dateTime">
    <ion-label position="floating" style="color:gray"><span style="color: red;">* </span>Uploaded Date</ion-label>
    <ion-input type="text" [(ngModel)]="dateValue" (click)="dateChange(startDate)"></ion-input>
  </ion-item>
  <ion-row style="float: right;">
    <ion-button class="ion-padding" (click)="presentActionSheet()">Choose File</ion-button>
  </ion-row>
  <ion-row class="ion-padding-top">
    <ion-col size="6" *ngIf="mimetype=='image/jpeg'"> <img src="{{myDocument}}"></ion-col>
    <ion-col size="6" *ngIf="mimetype=='application/pdf'"> <span>{{filename}}</span></ion-col>
  </ion-row>

  <input style="display: none" type="file" id="file" value="Choose file" name="file" tabindex="4"
    (change)="onFileChange($event)" accept="application/pdf">

</ion-content>

<ion-modal class="dateTimeModal" trigger="dateTime">
  <ng-template>
    <ion-content>
      <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" presentation="date" [value]="startDate"
        prefer-wheel="true" showDefaultButtons="true" (ionChange)="dateChange(datetime.value)"
        (ionCancel)="showModal = false;">
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>