$text-image-size: 4rem !default;

app-new-txt-img {
    background-color: red;
    color: white;
}

app-new-txt-img, app-new-txt-img::after {
    width: $text-image-size;
    height: $text-image-size;
    border-radius: $text-image-size / 2;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: font-size(xxx-large);
}

app-new-txt-img::after {
    content: attr(value);
}