.logo {
    padding: 20px 0;
    text-align: center;
  }
    
  .list {
    margin-bottom: 0;
  }
  .list-ios > .item-block:first-child {
    border-top: none;
  }
  .button-small-md {
    height: 1.5em;
    font-size: 1.3rem;
    padding: 0 0.9em;
    margin-top: -5px;
    background: #de5858;
  }
  .danger{
    color: #ff4961;
  }
  .eyeIcon{
    padding: 0px;
    margin: 0px; 
    margin-top:9%; 
    zoom: 1.3;
  }