<ion-content>
  <div class="logo" style="margin: 10px;margin-top: 3em;">
    <img src="../../assets/img/logo2X.png" alt="Ionic logo">
  </div> 

  <ion-list style="margin: 7%;">
    <ion-item>
      <ion-label position="floating">Login Id</ion-label>
      <ion-input clear-input [(ngModel)]="loginData.loginId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" ngModel #password="ngModel" clear-input [(ngModel)]="loginData.password"
      type={{passwordType}}></ion-input>
    <ion-button *ngIf="!showPass" fill="clear" slot="end" (click)="showPassword()"class="eyeIcon">
      <ion-icon name="eye-off"></ion-icon>
    </ion-button>
    <ion-button *ngIf="showPass" fill="clear" slot="end" (click)="showPassword()" class="eyeIcon">
      <ion-icon name="eye"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button color="primary" expand="block" (click)="doLogin()" type="submit">
      Log in
    </ion-button>
  </div>
  <ion-label *ngIf="isErrorExist===true">
    <span *ngIf="errorMessage==='Too many user session'">

           <p ion-text class="danger" padding-left style="margin: 8%;">
                   {{errorMessage}}
                   Please <ion-button (click)="forceLogout()" type="submit" small color="danger">Signout</ion-button>
                   <br/> from other Devices before you login.
           </p>
    </span>
    <span *ngIf="errorMessage!=='Too many user session'">

           <p ion-text class="danger" padding-left style="margin: 8%;">
                   {{errorMessage}}
               </p>
      </span>
</ion-label>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openSettings()" color="secondary">
      <ion-icon style="zoom: 1.3;" name="cog-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>