<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot='start'>
      <button class="buttonStyle" ion-button icon-only (click)="closeModal()">
          <ion-icon style="zoom:2" name="close"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title>
      Join Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" overflow-scroll="true">
  <div *ngIf="vendorName === 'dyte'" style="height: 100% ; width: 100%;">
    <iframe width="100%" height="100%" id="dyteVC" scrolling="auto" [src] = "getSanitizedURL()" allow="camera *;microphone *;">
    </iframe>
  </div>
<div *ngIf="vendorName === 'enableX'"  style="height: 100%">
   <ion-item>
    <ion-label position = 'floating'>
      User Name
    </ion-label>
    <ion-input type="Name" value="" [(ngModel)]="userName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = 'floating'>
      Room Id
    </ion-label>
    <ion-input type="RoomIS" value=""[(ngModel)]="roomID"></ion-input>
  </ion-item>


  <ion-item lines="none">
    <ion-label class="textCenter">
      <ion-button  class="round font18" color='medium' (click)="joinRoom()">Join Room</ion-button>
    </ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf='errorMsg'>
    <ion-label class="dangerText">
      {{errorMsg}}
    </ion-label>
  </ion-item>
</div>
  <!-- <div class="myClass">
  <div class="center">
    <div class="viewnamedev">
      <ion-item class="roundedInput">
        <ion-input type="Name" value="" placeholder = "Enter Name" [(ngModel)]="userName"></ion-input>
      </ion-item>
    </div>
    <div class="viewroomdev">
      <ion-item class="roundedInput">
        <ion-input type="RoomIS" value="" placeholder = "Room Id"[(ngModel)]="roomID"></ion-input>
      </ion-item>
    </div>
    <div class="btnDiv">
      <ion-button  class="round" (click)="joinRoom()">Join Room</ion-button>
    </div>
  </div>
</div> -->
</ion-content>