.dangerText {
    font-size: 20px;
    background: #ffe8e8;
    padding: 16px;
    border-radius: 8px;
    color: red;
    text-align: center;
}
.buttonStyle{
    color: #fff;
    background:transparent !important;
   font-weight: bold;
   font-size: small;
}