<ion-tabs>
  <ion-tab-bar #myTabBar slot="bottom">
    <ion-tab-button routerLink="/home" routerDirection="backward">
      <ion-icon name='home'></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngFor="let tab of tabs" tab={{tab.root}}>
    <ion-icon name={{tab.icon}}></ion-icon>
    <ion-label>{{tab.title}}</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>