<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <button class="buttonStyle" icon-only (click)="dismiss(false)" >
         <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="serviceName">Worklist - {{serviceName}}</ion-title>

    <ion-buttons slot='end'>
      <button class="buttonStyle" style="font-size: medium;" icon-only *ngIf="workList && workList.length > 0" (click)="saveData()">
      Done
      </button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="workList">
        <ion-item  *ngFor="let item of workList">
          <ion-label>{{item.task}}<ion-note *ngIf="item.status==='Completed'"> - {{item.time1}}</ion-note></ion-label>
          <ion-checkbox  [(ngModel)]="item.isChecked" color="secondary" (click)="confirmationToUnCheck(item.task_seq,item.taskCompleted)"></ion-checkbox>
        </ion-item>
  </ion-list>
  <ion-item *ngIf="noRecordFound">
    <ion-label>
    <h4>{{noRecordFound}}</h4>
  </ion-label>
  </ion-item>
</ion-content>