<ion-header>
  <ion-toolbar color='primary'>

      <ion-title class="ion-text-center">Note Templates</ion-title>
      <ion-buttons slot='start'>
        <button ion-button icon-only class="topButtons" (click)="dismiss()">
          <ion-icon style="zoom:2" name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top  color='primary'> 
      <ion-searchbar [(ngModel)]="searchTerm" focus-me float-left  (ionChange)="onSearchInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="alpha-list-page" no-bounce>
  <ion-list *ngIf="contentLoading">
    <ion-item *ngFor='let item of [].constructor(13)' style="margin-bottom: 5%;">
      <ion-skeleton-text animated style="height: 50%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="noteTemplates">
    <ion-item *ngFor="let item of noteTemplates" (click)="currentPageClass.onItemClick(item)">
      <ion-label><p style="color:#555;">{{item.template_plain_txt}}</p></ion-label>

    </ion-item>
  </ion-list>
  <!-- <ion-alpha-scroll *ngIf="noteTemplates"
    [listData]="noteTemplates"
    key="template_plain_txt"
    [itemTemplate]="alphaScrollItemTemplateRef"
    [currentPageClass]="currentPageClass"
    [highlight]="true"
    [triggerChange]="triggerAlphaScrollChange">

    <ng-template #alphaScrollItemTemplateRef let-item>
        <button ion-item (click)="currentPageClass.onItemClick(item)">{{item.template_plain_txt}}</button>
      </ng-template>
  </ion-alpha-scroll> -->
  <ion-list-header *ngIf="!contentLoading && (noteTemplates && noteTemplates.length == 0)">
    <ion-label>
      <h3>No Notes Found!</h3>
    </ion-label>
    </ion-list-header>
</ion-content>
