.whiteBottomBorder{
    border-bottom: 0.55px solid #fff !important;

}
.bottomBorder{
    border-bottom: 0.55px solid #c8c7cc !important;
}
.border.item-ios.item-block .item-inner{
    border-bottom: 0.55px solid #fff;
}
.bottomBorder .list-header-md{
    border-top: 1px solid #fff;
}
.list-header-md{
    border-top: 1px solid #fff !important;
}
.frequencyTime .select-ios .select-iconxsss{
    position: fixed;
    width: 12px;
    height: 18px;
    right: 15px;
    top: 15px;
}
.pull-left{
    float: left;
}
.paddingLeft8{
    padding-left: 8px !important;
}
.paddingleft20{
    padding-left: 20px;
}
.inputBoxMargin{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.top10{
    top: 10px;
}
.top36{
    top: 34px;
}
.width100{
    min-width: 100% !important;
}
.marginTop5{
    margin-top: 5px !important;
}
.marginLeft5{
    margin-left: 5px;
}
.marginLeft10{
    margin-left: 9px;
}
.paddingLeft10{
    padding-left: 10px !important;
}
.paddingLeft5{
    padding-left: 5px !important;
}
.durationFont{
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #333;
}
.label-ios[stacked] {
    margin-bottom: 4px;
    font-size: 1.8rem;
    font-variant-caps: all-petite-caps;
    font-weight: 400;
}
.label-md[stacked] {
    font-size: 1.4rem;
}
.customMed .item-ios.item-block .item-inner{
    border-bottom: 0.55px solid #fff;
}
.customMed .item-md.item-block .item-inner{
    border-bottom: 0.55px solid #fff;
}

.labelColor{
    color:#2c3a50de;
}
.paddingLeft16{
    padding-left: 16px;
}
.paddingTop8{
    padding-top: 8px;
}
.marginLeftRight6{
    margin-left: -6px;
    margin-right: -6px;
}
.quantityStyle {
    padding-left: 5px;
    font-size: 16px;
}