<ion-header primary>
    <ion-toolbar color='primary'>
        <ion-buttons slot='start'>
            <button class="buttonStyle" ion-button icon-only (click)="saveMedicineData()">
                <ion-icon style="zoom:2" name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title class="ion-text-center">Add Medicine</ion-title>
        <ion-buttons slot='end'>
            <button class="buttonStyle" style="font-size: medium;" icon-only (click)="saveChartData()">
                Done
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-row>
        <ion-col col-12 class="customMed">
            <ion-item style="margin-left: -20px; margin-right: -5px;">
                <ion-label class="labelColor paddingLeft24" no-padding>Add Custom Medicine?</ion-label>
                <ion-toggle color="primary" [(ngModel)]="isCustomMedicine"></ion-toggle>
            </ion-item>
        </ion-col>
    </ion-row>


    <ion-item *ngIf="!isCustomMedicine" style="margin-left: -16px;" (click)="navigateToSelectModel()">
        <ion-label class="labelColor ion-float-left ion-padding-start">

            <span class="reset-filters">*</span>Medicine
            <p text-right class="text-wrapper ion-float-right" style="color: black;" *ngIf="productName">
                {{productName}} ({{strength}}
                {{strengthUnit}})</p>
        </ion-label>
    </ion-item>



    <ion-item *ngIf="isCustomMedicine" class="ion-no-padding">
        <ion-label class="labelColor ion-padding-start" position='floating'><span class="reset-filters">*</span>Medicine
        </ion-label>
        <ion-textarea rows="2" autoGrow="true" style="margin-left: 16px;" class="ion-float-right" type="text" value=""
            [(ngModel)]="productName"></ion-textarea>
    </ion-item>


    <ion-row style="padding-top: 4px;">
        <ion-col class="ion-no-padding" size='6'>
            <ion-item class="ion-no-padding">
                <ion-label class="labelColor paddingLeft18" position='floating'><span
                        class="reset-filters">*</span>Strength</ion-label>
                <ion-input style='margin-left: 16px;' type="number" [(ngModel)]='strength'></ion-input>
            </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding" size='6'>
            <ion-item class="paddingLeft8">
                <ion-label class="labelColor" position='floating'><span class="reset-filters">* </span>Unit
                </ion-label>
                <ion-select class="paddingLeft16" [(ngModel)]="strengthUnit" interface="action-sheet">
                    <ion-select-option value="mg">mg</ion-select-option>
                    <ion-select-option value="gm">gm</ion-select-option>
                    <ion-select-option value="ml">ml</ion-select-option>
                    <ion-select-option value="mcg">mcg</ion-select-option>
                    <ion-select-option value="mcg/hr">mcg/hr</ion-select-option>
                    <ion-select-option value="mcg/kg">mcg/kg</ion-select-option>
                    <ion-select-option value="mcg/m2">mcg/m2</ion-select-option>
                    <ion-select-option value="mEq/kg">mEq/kg</ion-select-option>
                    <ion-select-option value="mg/24 hr">mg/24 hr</ion-select-option>
                    <ion-select-option value="mg/hr">mg/hr</ion-select-option>
                    <ion-select-option value="mg/kg">mg/kg</ion-select-option>
                    <ion-select-option value="mg/kg/day">mg/kg/day</ion-select-option>
                    <ion-select-option value="mg/m2">mg/m2</ion-select-option>
                    <ion-select-option value="mg/m2/day">mg/m2/day</ion-select-option>
                    <ion-select-option value="mL/kg">mL/kg</ion-select-option>
                    <ion-select-option value="mL/m2">mL/m2</ion-select-option>
                    <ion-select-option value="mmol/kg">mmol/kg</ion-select-option>
                    <ion-select-option value="ng/kg">ng/kg</ion-select-option>
                    <ion-select-option value="units/kg">units/kg</ion-select-option>
                    <ion-select-option value="units/kg/day">units/kg/day</ion-select-option>
                    <ion-select-option value="units/m2">units/m2</ion-select-option>
                    <ion-select-option value="application">application</ion-select-option>
                    <ion-select-option value="applicatorful">applicatorful</ion-select-option>
                    <ion-select-option value="cap(s)">cap(s)</ion-select-option>
                    <ion-select-option value="day(s)">day(s)</ion-select-option>
                    <ion-select-option value="dose(s)">dose(s)</ion-select-option>
                    <ion-select-option value="each">each</ion-select-option>
                    <ion-select-option value="g/kg">g/kg</ion-select-option>
                    <ion-select-option value="gram(s)">gram(s)</ion-select-option>
                    <ion-select-option value="gum">gum</ion-select-option>
                    <ion-select-option value="hours">hours</ion-select-option>
                    <ion-select-option value="inch(es)">inch(es)</ion-select-option>
                    <ion-select-option value="inhalation">inhalation</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>



    <ion-item class="marginLeftRight6" *ngIf="categoryType > 1 || isMCI">
        <ion-label class="labelColor">
            <ion-list-header class="whiteBottomBorder labelColor quantityStyle">
                <span *ngIf="this.isMCI || this.categoryType > 2" class="reset-filters">*</span>Quantity
            </ion-list-header>
        </ion-label>

        <span no-padding class="frequencyTime">

            <ion-select interface="action-sheet" [(ngModel)]="quantity" class="width100">
                <ion-select-option value="1"> 1 </ion-select-option>
                <ion-select-option value="2"> 2 </ion-select-option>
                <ion-select-option value="3"> 3 </ion-select-option>
                <ion-select-option value="4"> 4 </ion-select-option>
                <ion-select-option value="5"> 5 </ion-select-option>
                <ion-select-option value="6"> 6 </ion-select-option>
                <ion-select-option value="7"> 7 </ion-select-option>
                <ion-select-option value="8"> 8 </ion-select-option>
                <ion-select-option value="9"> 9 </ion-select-option>
                <ion-select-option value="10"> 10 </ion-select-option>
                <ion-select-option value="11"> 11 </ion-select-option>
                <ion-select-option value="12"> 12 </ion-select-option>
                <ion-select-option value="13"> 13 </ion-select-option>
                <ion-select-option value="14"> 14 </ion-select-option>
                <ion-select-option value="15"> 15 </ion-select-option>
                <ion-select-option value="16"> 16 </ion-select-option>
                <ion-select-option value="17"> 17 </ion-select-option>
                <ion-select-option value="18"> 18 </ion-select-option>
                <ion-select-option value="19"> 19 </ion-select-option>
                <ion-select-option value="10"> 20 </ion-select-option>
                <ion-select-option value="21"> 21 </ion-select-option>
                <ion-select-option value="22"> 22 </ion-select-option>
                <ion-select-option value="23"> 23 </ion-select-option>
                <ion-select-option value="24"> 24 </ion-select-option>
                <ion-select-option value="25"> 25 </ion-select-option>
                <ion-select-option value="26"> 26 </ion-select-option>
                <ion-select-option value="27"> 27 </ion-select-option>
                <ion-select-option value="28"> 28 </ion-select-option>
                <ion-select-option value="29"> 29 </ion-select-option>
                <ion-select-option value="30"> 30 </ion-select-option>
            </ion-select>

        </span>
    </ion-item>

    <ion-grid *ngIf="!isMCI && categoryType < 2 ">
        <ion-item class="marginLeftRight6">
            <ion-label class="labelColor paddingLeft8">
                Dosage(M-N-E)
            </ion-label>

            <span no-padding class="frequencyTime ion-float-right">
                <ion-select [(ngModel)]="dosage" col-12 interface="action-sheet" class="width100">
                    <ion-select-option value="1-0-0"> 1 - 0 - 0 </ion-select-option>
                    <ion-select-option value="0-1-0"> 0 - 1 - 0 </ion-select-option>
                    <ion-select-option value="0-0-1"> 0 - 0 - 1 </ion-select-option>
                    <ion-select-option value="1-0-1"> 1 - 0 - 1 </ion-select-option>
                    <ion-select-option value="1-1-1"> 1 - 1 - 1 </ion-select-option>
                    <ion-select-option value="0-1-1"> 0 - 1 - 1 </ion-select-option>
                    <ion-select-option value="0.5-0-0.5"> 1/2 - 0 - 1/2 </ion-select-option>
                    <ion-select-option value="0.5-0-0"> 1/2 - 0 - 0 </ion-select-option>
                    <ion-select-option value="0-0-0.5"> 0 - 0 - 1/2 </ion-select-option>
                </ion-select>
            </span>
        </ion-item>
    </ion-grid>
    <ion-grid col-12 *ngIf="categoryType < 2 ">

        <ion-row size='12'>
            <ion-list-header style="font-size: medium;" col-12 class="whiteBottomBorder paddingLeft18 labelColor">
                Direction
            </ion-list-header>
        </ion-row>
        <ion-row class="top10">
            <ion-radio-group [(ngModel)]="suggestion" style="width: 100%;">
                <ion-col class="border pull-left paddingLeft8 smallHeight" size='4'>
                    <ion-item class="ion-no-padding" lines='none' style="padding-left: 8px;">
                        <ion-label class="ionLabelMargin mediumFont labelColor">AF</ion-label>
                        <ion-radio color="dark" class="" value="AF"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col class="border pull-left paddingLeft8 smallHeight" size='4'>
                    <ion-item class="ion-no-padding" lines='none'>
                        <ion-label class="ionLabelMargin mediumFont labelColor">BF</ion-label>
                        <ion-radio color="dark" class="" value="BF"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col class="border pull-left paddingLeft8 smallHeight" size='4'>
                    <ion-item class="ion-no-padding" lines='none'>
                        <ion-label class="ionLabelMargin mediumFont labelColor">Other</ion-label>
                        <ion-radio color="dark" class="" value="Other"></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-radio-group>

        </ion-row>

    </ion-grid>


    <ion-grid *ngIf="categoryType < 2 ">
        <ion-item class="ion-no-padding marginLeftRight6">
            <ion-label class="labelColor paddingLeft18" stacked text-capitalize>
                <span class="reset-filters">*</span>Duration?
            </ion-label>
            <span class=" ion-float-right">
                <ion-select interface="action-sheet" [(ngModel)]="duration" [selectedText]="duration" class="width100">
                    <ion-select-option value="1"> 1 </ion-select-option>
                    <ion-select-option value="2"> 2 </ion-select-option>
                    <ion-select-option value="3"> 3 </ion-select-option>
                    <ion-select-option value="4"> 4 </ion-select-option>
                    <ion-select-option value="5"> 5 </ion-select-option>
                    <ion-select-option value="6"> 6 </ion-select-option>
                    <ion-select-option value="7"> 7 </ion-select-option>
                    <ion-select-option value="8"> 8 </ion-select-option>
                    <ion-select-option value="9"> 9 </ion-select-option>
                    <ion-select-option value="10"> 10 </ion-select-option>
                    <ion-select-option value="11"> 11 </ion-select-option>
                    <ion-select-option value="12"> 12 </ion-select-option>
                    <ion-select-option value="13"> 13 </ion-select-option>
                    <ion-select-option value="14"> 14 </ion-select-option>
                    <ion-select-option value="15"> 15 </ion-select-option>
                    <ion-select-option value="16"> 16 </ion-select-option>
                    <ion-select-option value="17"> 17 </ion-select-option>
                    <ion-select-option value="18"> 18 </ion-select-option>
                    <ion-select-option value="19"> 19 </ion-select-option>
                    <ion-select-option value="10"> 20 </ion-select-option>
                    <ion-select-option value="21"> 21 </ion-select-option>
                    <ion-select-option value="22"> 22 </ion-select-option>
                    <ion-select-option value="23"> 23 </ion-select-option>
                    <ion-select-option value="24"> 24 </ion-select-option>
                    <ion-select-option value="25"> 25 </ion-select-option>
                    <ion-select-option value="26"> 26 </ion-select-option>
                    <ion-select-option value="27"> 27 </ion-select-option>
                    <ion-select-option value="28"> 28 </ion-select-option>
                    <ion-select-option value="29"> 29 </ion-select-option>
                    <ion-select-option value="30"> 30 </ion-select-option>
                </ion-select>
            </span>
        </ion-item>
        <ion-row no-padding class="top36" style="padding-top: 16px;">
            <ion-radio-group [(ngModel)]="durationUnit" style="width: 100%;font-size: 14px;">
                <ion-col class="border pull-left paddingLeft8 smallHeight" size='4'>
                    <ion-item class="ion-no-padding" lines='none'>
                        <ion-label class="ionLabelMargin mediumFont labelColor" style="font-size: 12px;">Day(s)
                        </ion-label>
                        <ion-radio color="dark" class="" value="d"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col class="border pull-left smallHeight" size='4'>
                    <ion-item class="ion-no-padding" lines='none'>
                        <ion-label class="ionLabelMargin mediumFont labelColor" style="font-size: 12px;">Week(s)
                        </ion-label>
                        <ion-radio color="dark" class="" value="y"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col class="border pull-left smallHeight" size='4'>
                    <ion-item class="ion-no-padding" lines='none'>
                        <ion-label class="ionLabelMargin mediumFont labelColor" style="font-size: 12px;">Month(s)
                        </ion-label>
                        <ion-radio color="dark" class="" value="m"></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-radio-group>
        </ion-row>

    </ion-grid>

    <ion-item class="ion-no-padding" id="presDateTime">
        <ion-label class="labelColor paddingLeft18" position="floating">
            <span class="reset-filters">*</span>Start Date
        </ion-label>
        <ion-input class="paddingLeft24" type="text" [(ngModel)]="dateValue" (click)="dateChange(startDate)">
        </ion-input>
    </ion-item>

    <ion-item class=" instructionSec ion-no-padding">
        <ion-label class="labelColor paddingLeft24" position='floating'>Instructions</ion-label>
        <ion-textarea rows="3" autoGrow="true" style="padding-left: 16px;" [(ngModel)]="dosageInstruction"></ion-textarea>
    </ion-item>
</ion-content>
<ion-footer class="footerStyle" (click)="saveChartAndAddMoreData(false);">
    <span> Add Another Medicine</span>
</ion-footer>

<ion-modal class="dateTimeModal" trigger="presDateTime">
    <ng-template>
        <ion-content>
            <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" presentation="date" [value]="startDate"
                prefer-wheel="true" showDefaultButtons="true" (ionChange)="dateChange(datetime.value)"
                (ionCancel)="showModal = false;">
            </ion-datetime>
        </ion-content>
    </ng-template>
</ion-modal>