<ion-content>
  <div class="provHeader">
    <ion-toolbar  color="primary" style="height: 100%;padding-top: 16px;">
      <ion-buttons slot="start" color="primary" style="padding-left: 6px;" (click)="dismiss()">
        <ion-icon style="zoom: 1.5;" name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title *ngIf="providerInfo && providerInfo.name" class="ion-text-center ion-margin-end"
        style="position: inherit;margin-block-end: 3px;margin-left: -18px;">{{providerInfo.name}}</ion-title>
    </ion-toolbar>
  </div>
  <div *ngIf="providerInfo" class="provPicDiv">
    <img *ngIf="providerInfo.image" class="provImg" src="{{providerInfo.image}}">
    <app-new-txt-img *ngIf="!providerInfo.image" style="border: 1px solid #fff;" [text]="providerInfo.name">
    </app-new-txt-img>
  </div>

  <ion-list *ngIf="providerInfo" class="provContentDiv">
    <ion-item class="ion-text-center" role="listitem" lines="none">
      <ion-label *ngIf="accessControl && accessControl.Provider5674 && accessControl.Provideredit">
        <a (click)="changeProfilePic()">Change Profile Image</a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Employee Id</ion-label>
      <ion-label>{{providerInfo.employeeId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-label>{{providerInfo.age}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-label>{{providerInfo.gender}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-label *ngIf="providerInfo.telephone">{{providerInfo.telephone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-label style="font-size: 17px;"class="ion-text-wrap" *ngIf="providerInfo.email">{{providerInfo.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Speciality</ion-label>
      <ion-label style="font-size: 17px;"class="ion-text-wrap" *ngIf="providerInfo.speciality">{{providerInfo.speciality}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Care Centers</ion-label>
      <ion-label style="font-size: 17px;"class="ion-text-wrap">{{providerInfo.associateCareCenters}}</ion-label>
    </ion-item>

    <div class="ion-text-center">
      <ion-chip class="logoutBtn" (click)="logOutAlert();" [outline]="true" color="medium">Logout</ion-chip>
    </div>
  </ion-list>
</ion-content>