ion-item{
  font-size: 14px;
  margin-top: 8px;
}
button{
  color: #fff;
  background: var(--ion-color-primary);
}
.labelColor{
  color: #9a9a9a;
}
.list-header-md{
  border-top: 1px solid #fff;
}
.marginBottom0{
  margin-bottom: 0px;
}
.marginTop15{
  margin-top: 15px;
}
.handpointer {
  cursor: pointer;
}
.marginTop10{
  margin-top: 10px;
}
// .paddingRight10{
//     padding-right: 10px;
// }
.paddingLeft15{
  padding-left: 15px;
}
.paddingLeft4{
  padding-left: 4px !important;
}
.bottom5{
  bottom: 5px;
}
.activityContent .scroll-content{
  margin-top: 30px !important;

}
.top15{
  top: 15px;
}
.font15 .label-md[stacked]{
  font-size: 15px;
}

.activityTitleBox{
  border: 1px solid #dedede;;
}