<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button icon-only class="buttonStyle" (click)="dismiss()">
        <ion-icon name="close" style="zoom:2"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="ion-text-center">Add Activity</ion-title>

    <ion-buttons slot="end">
      <button style="font-size: medium;" icon-only class="buttonStyle" (click)="saveActivity()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-list-header>
      <span class="reset-filters">*</span> Activity Type
    </ion-list-header>
  </ion-row>

  <ion-radio-group [(ngModel)]="addForm.activityName" (ionChange)="activityTypeOnChange(addForm.activityName)">
    <ion-row>
      <ion-col size="6">
        <ion-item class=" activityTitleBox" style="margin: 0px;" lines='none'>
          <ion-label class="paddingLeft4">Call
          </ion-label>
          <ion-radio value="Call"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class=" activityTitleBox marginLeft16" lines='none' style="margin: 0px;">
          <ion-label class="paddingLeft4">Meeting
          </ion-label>
          <ion-radio value="Meeting"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item class=" activityTitleBox marginTop10" lines='none' style="margin: 0px;">
          <ion-label class="paddingLeft4">Task
          </ion-label>
          <ion-radio value="Task"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class=" activityTitleBox marginTop10 marginLeft16" lines='none' style="margin: 0px;">
          <ion-label class="paddingLeft4">Referral</ion-label>
          <ion-radio value="Referral"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class=" activityTitleBox marginTop10" lines='none' style="margin: 0px;">
          <ion-label class="paddingLeft4">Block For
            Service</ion-label>
          <ion-radio value="BlockForService"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-item class="paddingRight10 textBottomBorder" lines="none">
    <ion-label position="floating">
      <span class="reset-filters">*</span>Title
    </ion-label>
    <ion-input class="paddingLeft4" type="text" [(ngModel)]="addForm.title"></ion-input>
  </ion-item>

  <ion-row [class.redBorder]="!isValidStartDate">
    <ion-col size="6">
      <ion-item class="textBottomBorder ion-no-padding paddingLeft12" lines="none" (click)="setDateModal(addForm.startDate, 'date', 'startDate')">
        <ion-label position="floating" >
          <span class="reset-filters">*</span>From Date
        </ion-label>
        <ion-input type="text" class="paddingLeft4" [ngModel]="addForm.startDate | date: 'dd-MM-yyyy'"
          (ngModelChange)="addForm.startDate=$event">
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="textBottomBorder" lines="none" (click)="setDateModal(addForm.startTime, 'time', 'startTime')">
        <ion-label position="floating">
          From Time
        </ion-label>
        <ion-input   [ngModel]="addForm.startTime | date: 'h:mm a'" (ngModelChange)="addForm.startTime=$event">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row [class.redBorder]="!isValidEndDate">
    <ion-col size="6">
      <ion-item class="textBottomBorder ion-no-padding paddingLeft12" lines="none" (click)="setDateModal(addForm.endDate, 'date', 'endDate')">
        <ion-label position="floating">
          <span class="reset-filters">*</span>To Date
        </ion-label>
        <ion-input class="paddingLeft4" [ngModel]="addForm.endDate | date: 'dd-MM-yyyy'" (ngModelChange)="addForm.endDate=$event"
          type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="textBottomBorder" lines="none" (click)="setDateModal(addForm.endTime, 'time', 'endTime')">
        <ion-label position="floating">
          To Time
        </ion-label>
        <ion-input [ngModel]="addForm.endTime | date: 'h:mm a'" (ngModelChange)="addForm.endTime=$event"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-item *ngIf="careCenters" class="textBottomBorder" lines="none">
    <ion-label position="floating"><span class="reset-filters">*</span>Location</ion-label>
    <ion-select  class="paddingLeft4" [(ngModel)]="selectedCareCenter" interface="action-sheet" (ionChange)="onChangeCareCenter();"
  >
      <ion-select-option [value]="item" *ngFor='let item of careCenters'>{{item.display_name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="isServiceRequired" (click)="openServiceList()">
    <ion-col size="5" class="ion-float-top ion-no-padding">
      Service Name
    </ion-col>
    <ion-col class="ion-text-right" size="7">
      <p class="ion-text-right"> {{addForm.serviceName}}</p>
    </ion-col>
  </ion-item>

  <ion-item ion-item (click)="navigateToSelectModel('Staff')" class=" marginTop15 textBottomBorder" lines="none">
    <ion-col size="5" class="ion-float-left ion-no-padding" style="padding-left: 6px;">
      Provider
    </ion-col>
    <ion-col class="ion-float-right" size="7">
      <p class="ion-text-right">{{providerName}}</p>
    </ion-col>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none" *ngIf="!isServiceRequired" (click)="openPatientList()" >
    <ion-col size="5" class="ion-float-top">
      Select Patient
    </ion-col>
    <ion-col class="ion-text-right" size="7">
      <p class="ion-text-right" *ngIf="patientInfo">{{patientInfo.name}} ({{patientInfo.localId}})</p>
    </ion-col>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none">
    <ion-label position="floating" class="paddingLeft6">Notify</ion-label>
    <ion-select class="paddingLeft4" [multiple]="true" [(ngModel)]="notify">
      <ion-select-option value="Provider">Provider</ion-select-option>
      <ion-select-option value="Patient">Patient</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item class="textBottomBorder" lines="none">
    <ion-label position="floating" class="paddingLeft6">Reminder</ion-label>
    <ion-select class="paddingLeft4" [multiple]="true" [(ngModel)]="reminder">
      <ion-select-option value="Provider">Provider</ion-select-option>
      <ion-select-option value="Patient">Patient</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item class="paddingRight10 textBottomBorder" lines="none">
    <ion-label position="floating" color="gray-txt" class="paddingLeft6">Note</ion-label>
    <ion-textarea rows="4" class="paddingLeft4" [(ngModel)]="addForm.note"> </ion-textarea>
    <div calss="ion-padding"></div>
  </ion-item>

  <ion-modal [isOpen]="showModal" class="dateTimeModal">
    <ng-template>
      <ion-content>
        <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" min="1900-01-01T00:00:00+05:30" [value]="formatedDate"
          presentation="{{presentation}}" prefer-wheel="true" showDefaultButtons="true" hourCycle="h12"
          (ionChange)="dateChange(datetime.value)" (ionCancel)="showModal = false;" (ionBlur)="showModal = false;">

        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>