<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start" color="primary">
      <button class="buttonStyle" icon-only (click)="dismiss(false)">
        <ion-icon style="zoom: 2;" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Vital</ion-title>

    <ion-buttons slot='end'>
      <button class="buttonStyle" style="font-size: medium;" icon-only (click)="saveVitalData()">
        Done
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="vitalConfig" style="padding: 10px;">
    <!-- <ion-item lines="none"  (click)="getInputValue(item.display_short_name, item.display_name, weightUnit, item.variable_name);">
      <ion-label class="marginZero" fixed>
        <p>Weight</p>
      </ion-label>
      <ion-label>
        <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{weight}} &nbsp; {{weightUnit}}</p>
      </ion-label>
    </ion-item>  -->


    <span *ngFor="let item of vitalConfig" no-lines size="4" style="padding: 0px;">          
      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='weight'" (click)="getInputValue(item.display_short_name, item.display_name, weightUnit, item.variable_name);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{weight}} &nbsp; 
            <span *ngIf = "weight == '' || !weight" style="color: var(--ion-color-medium);">{{weightUnit}} </span> 
            <span *ngIf = "weight">{{weightUnit}} </span> 

          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='height'" (click)="getInputValue(item.display_short_name, item.display_name, heightUnit, item.variable_name);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{height}} &nbsp; 
            <span *ngIf = "height == '' || !height" style="color: var(--ion-color-medium);">{{heightUnit}}</span> 
            <span *ngIf = "height">{{heightUnit}} </span> 
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='bmi'">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{bmi}} &nbsp;
            <span *ngIf = "bmi == '' || !bmi" style="color: var(--ion-color-medium);">{{bmiUnit}}</span> 
            <span *ngIf = "bmi">{{bmiUnit}} </span> 
                
            <span *ngIf="bmi_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="bmi_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="bmi_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='temperature'" (click)="getInputValue(item.display_short_name, item.display_name, temperatureUnit, item.variable_name,temperatureMaxRange,temperatureMinRange);">
        <ion-label  class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{temperature}} &nbsp;
            <span *ngIf = "temperature == '' || !temperature" style="color: var(--ion-color-medium);">{{temperatureUnit}}</span> 
            <span *ngIf = "temperature">{{temperatureUnit}} </span>
            <span *ngIf="temperature_interpretation=='High'" class="font12" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="temperature_interpretation=='Low'" class="font12" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="temperature_interpretation=='Normal'" class="font12">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='systolic'" (click)="getInputValue(item.display_short_name, item.display_name, systolicUnit, item.variable_name,systolicMaxRange,systolicMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{systolic}} &nbsp; 
            <span *ngIf = "systolic == '' || !systolic" style="color: var(--ion-color-medium);">{{systolicUnit}}</span> 
            <span *ngIf = "systolic">{{systolicUnit}} </span>
            <span *ngIf="systolic_interpretation=='High'" class="font12" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="systolic_interpretation=='Low'" class="font12" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="systolic_interpretation=='Normal'" class="font12">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='diastolic'" (click)="getInputValue(item.display_short_name, item.display_name, diastolicUnit, item.variable_name,diastolicMinRange,diastolicMaxRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{diastolic}} &nbsp; 
            <span *ngIf = "diastolic == '' || !diastolic" style="color: var(--ion-color-medium);">{{diastolicUnit}}</span> 
            <span *ngIf = "diastolic">{{diastolicUnit}} </span>
            <span *ngIf="diastolic_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="diastolic_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="diastolic_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='pulseRate'" (click)="getInputValue(item.display_short_name, item.display_name, pulseRateUnit, item.variable_name,pulseRateMaxRange,pulseRateMinRange);">
        <ion-label  class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{pulseRate}} &nbsp; 
            <span *ngIf = "pulseRate == '' || !pulseRate" style="color: var(--ion-color-medium);">{{pulseRateUnit}}</span> 
            <span *ngIf = "pulseRate">{{pulseRateUnit}}</span>
            <span *ngIf="pulserate_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="pulserate_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="pulserate_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='heartRate'" (click)="getInputValue(item.display_short_name, item.display_name, heartRateUnit, item.variable_name,heartRateMaxRange,heartRateMinRange);">
        <ion-label   class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{heartRate}} &nbsp; 
            <span *ngIf = "heartRate == '' || !heartRate" style="color: var(--ion-color-medium);">{{heartRateUnit}}</span> 
            <span *ngIf = "heartRate">{{heartRateUnit}}</span>
            <span *ngIf="heartRate_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="heartRate_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="heartRate_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='spo2'" (click)="getInputValue(item.display_short_name, item.display_name, spo2Unit, item.variable_name,spo2MaxRange,spo2MinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{spo2}} &nbsp; 
            <span *ngIf = "spo2 == '' || !spo2" style="color: var(--ion-color-medium);">{{spo2Unit}}</span> 
            <span *ngIf = "spo2">{{spo2Unit}}</span>
            <span *ngIf="spo2_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="spo2_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="spo2_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

<!-- 
      <ion-col *ngIf="item.is_active && item.variable_name==='painLevel'" size="3" class="paddingLeft8 itemSec">
        <ion-input type="number" [(ngModel)]="painLevel" (blur)="painLevelModify($event.target.value)"></ion-input>
      </ion-col>

      <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='painLevel'" size="1" class="paddingLeft8 itemSec" (click)="picker('painLevel')">
        <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>
        <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="painLevelSel" (ngModelChange)="painLevelChange($event)"   [multiPickerColumns]="painLevelColumns"></ion-multi-picker> 
      </ion-col>
      <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='painLevel'" no-lines size="1"
        no-padding>
        <ion-label *ngIf="painlevel_interpretation=='High'" color="danger">H</ion-label>
        <ion-label *ngIf="painlevel_interpretation=='Low'" color="danger">L</ion-label>
        <ion-label *ngIf="painlevel_interpretation=='Normal'">N</ion-label>
      </ion-col> -->

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='painLevel'" (click)="getInputValue(item.display_short_name, item.display_name, '', item.variable_name,painLevelMaxRange,painLevelMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{painLevel}} &nbsp; 
            <span *ngIf="painlevel_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="painlevel_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
          <span *ngIf="painlevel_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='bloodGlucose'" (click)="getInputValue(item.display_short_name, item.display_name, bloodGlucoseUnit, item.variable_name,bloodGlucoseMaxRange,bloodGlucoseMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{bloodGlucose}} &nbsp; 
            <span *ngIf = "bloodGlucose == '' || !bloodGlucose" style="color: var(--ion-color-medium);">{{bloodGlucoseUnit}}</span> 
            <span *ngIf = "bloodGlucose">{{bloodGlucoseUnit}}</span>
            <span *ngIf="bloodGlucose_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="bloodGlucose_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="bloodGlucose_interpretation=='Normal'">N</span>
         </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='rbcCount'" (click)="getInputValue(item.display_short_name, item.display_name, rbcCountUnit, item.variable_name,rbcCountMaxRange,rbcCountMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{rbcCount}} &nbsp; 
            <span *ngIf = "rbcCount == '' || !rbcCount" style="color: var(--ion-color-medium);">{{rbcCountUnit}}</span> 
            <span *ngIf = "rbcCount">{{rbcCountUnit}}</span>
            <span *ngIf="rbcCount_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="rbcCount_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="rbcCount_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>


      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='cholesterol'" (click)="getInputValue(item.display_short_name, item.display_name, cholesterolUnit, item.variable_name,cholesterolMaxRange,cholesterolMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{cholesterolSel}} &nbsp; 
            <span *ngIf = "cholesterolSel == '' || !cholesterolSel" style="color: var(--ion-color-medium);">{{cholesterolUnit}}</span> 
            <span *ngIf = "cholesterolSel">{{cholesterolUnit}}</span>
            <span *ngIf="cholesterol_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="cholesterol_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="cholesterol_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='headCircumference'" (click)="getInputValue(item.display_short_name, item.display_name, headCircumferenceUnit, item.variable_name,headCircumferenceMaxRange,headCircumferenceMinRange);">
        <ion-label  class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{headCircumferenceSel}} &nbsp;
            <span *ngIf = "headCircumferenceSel == '' || !headCircumferenceSel" style="color: var(--ion-color-medium);">{{headCircumferenceUnit}}</span> 
            <span *ngIf = "headCircumferenceSel">{{headCircumferenceUnit}}</span>
            <span *ngIf="headCircumference_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="headCircumference_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="headCircumference_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name === 'bodyFat'" (click)="getInputValue(item.display_short_name, item.display_name, bodyFatUnit, item.variable_name,bodyFatMaxRange,bodyFatMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{bodyFat}} &nbsp; 
            <span *ngIf = "bodyFat == '' || !bodyFat" style="color: var(--ion-color-medium);">{{bodyFatUnit}}</span> 
            <span *ngIf = "bodyFat">{{bodyFatUnit}}</span>
            <span *ngIf="bodyFat_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="bodyFat_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="bodyFat_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='caloriesBurned'" (click)="getInputValue(item.display_short_name, item.display_name, caloriesBurnedUnit, item.variable_name,caloriesBurnedMaxRange,caloriesBurnedMinRange );">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
        <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{caloriesBurned}} &nbsp; 
          <span *ngIf = "caloriesBurned == '' || !caloriesBurned" style="color: var(--ion-color-medium);">{{caloriesBurnedUnit}}</span> 
          <span *ngIf = "caloriesBurned">{{caloriesBurnedUnit}}</span>
          <span *ngIf="caloriesBurned_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
          <span *ngIf="caloriesBurned_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
          <span *ngIf="caloriesBurned_interpretation=='Normal'">N</span>
        </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='expiratoryTime'" (click)="getInputValue(item.display_short_name, item.display_name, expiratoryTimeUnit, item.variable_name, expiratoryTimeMaxRange,expiratoryTimeMinRange);">
        <ion-label  class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{expiratoryTime}} &nbsp;
            <span *ngIf = "expiratoryTime == '' || !expiratoryTime" style="color: var(--ion-color-medium);">{{expiratoryTimeUnit}}</span> 
          <span *ngIf = "expiratoryTime">{{expiratoryTimeUnit}}</span>
            <span *ngIf="expiratoryTime_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="expiratoryTime_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="expiratoryTime_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='inspiratoryTime'" (click)="getInputValue(item.display_short_name, item.display_name, inspiratoryTimeUnit, item.variable_name, inspiratoryTimeMaxRange, inspiratoryTimeMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{inspiratoryTime}} &nbsp; 
            <span *ngIf = "inspiratoryTime == '' || !inspiratoryTime" style="color: var(--ion-color-medium);">{{inspiratoryTimeUnit}}</span> 
          <span *ngIf = "inspiratoryTime">{{inspiratoryTimeUnit}}</span>
            <span *ngIf="inspiratoryTime_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="inspiratoryTime_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="inspiratoryTime_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item style="margin-left: -8px;" *ngIf="item.is_active && item.variable_name==='stepCount'" (click)="getInputValue(item.display_short_name, item.display_name, '', item.variable_name, stepCountMaxRange, stepCountMinRange);">
        <ion-label class="marginZero paddingLeft8" *ngIf="item.use_short_name" fixed>
          <p>{{item.display_short_name}}</p>
        </ion-label>
        <ion-label class="marginZero paddingLeft8" *ngIf="!item.use_short_name" fixed>
          <p>{{item.display_name}}</p>
        </ion-label>
        <ion-label>
          <p class="ion-float-right" style="color: var(--ion-color-secondary);">{{stepCount}}
            <span *ngIf="stepCount_interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
            <span *ngIf="stepCount_interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
            <span *ngIf="stepCount_interpretation=='Normal'">N</span>
          </p>
        </ion-label>
      </ion-item>
    </span>


<!-- 
    <ion-grid>
      <ion-row *ngFor="let item of vitalConfig" style="margin-bottom: 10px;">

        <ion-col *ngIf="item.is_active" no-lines size="4" style="padding: 0px;">
          <ion-item lines="none">
            <ion-label class="marginZero" *ngIf="item.use_short_name" fixed>
              <p>{{item.display_short_name}}</p></ion-label>
            <ion-label class="marginZero" *ngIf="!item.use_short_name" fixed>
              <p>{{item.display_name}}</p></ion-label>
          </ion-item>
        </ion-col> -->

        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='weight'" size="3"
          class="ionLabelInput paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="weight" (ionChange)="weightValueModify($event.target.value)"></ion-input>
        </ion-col> -->

        <!-- <ion-col lines='none' style="width: 16%;" lines='none' *ngIf="item.is_active && item.variable_name==='weight'"
          size="1" class="ionLabelInput paddingLeft8 selectorStyles itemSec" (click)="picker('weight')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->

          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="weightSel"  (ngModelChange)="weightValueChange($event)"  [multiPickerColumns]="weightColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='weight'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{weightUnit}}</ion-label>
        </ion-col> -->


        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='height'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="height" (ionChange)="heightValueChange($event.target.value)"></ion-input>
        </ion-col> -->

        <!-- <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='height'" size="1"
          class="paddingLeft8 itemSec" (click)="picker('height')">
           <ion-multi-picker class="paddingLeft8 triangleShape" (ngModelChange)="heightValueChange($event)"  item-content [(ngModel)]="height" [multiPickerColumns]="heightColumns"></ion-multi-picker>
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='height'" no-lines size="3" no-margin>
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{heightUnit}}</ion-label>
        </ion-col> -->






        <!-- <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='systolic'" size="1"
          class="paddingLeft8 itemSec" (click)="picker('systolic')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>

         <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="systolic" (ngModelChange)="systolicValueChange($event)"  [multiPickerColumns]="systColumns"></ion-multi-picker>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='systolic'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{systolicUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='systolic'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="systolic_interpretation=='High'" class="font12" color="danger">H</ion-label>
          <ion-label *ngIf="systolic_interpretation=='Low'" class="font12" color="danger">L</ion-label>
          <ion-label *ngIf="systolic_interpretation=='Normal'" class="font12">N</ion-label>
        </ion-col> -->

<!-- 
        <ion-col *ngIf="item.is_active && item.variable_name==='diastolic'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="diastolic" (blur)="diastolicValueChange($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='diastolic'" size="1" class="paddingLeft8 itemSec" (click)="picker('diastolic')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>

          <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="diastolic" (ngModelChange)="diastolicValueChange($event)"  [multiPickerColumns]="dilColumns"></ion-multi-picker> 
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='diastolic'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{diastolicUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='diastolic'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="diastolic_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="diastolic_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="diastolic_interpretation=='Normal'">N</ion-label>
        </ion-col> -->


        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='pulseRate'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="pulseRate" (blur)="pulseValueChange($event.target.value)"></ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='pulseRate'" size="1" class="paddingLeft8 itemSec" (click)="picker('pulseRate')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>

          <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="pulseRate" (ngModelChange)="pulseValueChange($event)" [multiPickerColumns]="pulColumns"></ion-multi-picker> 
        </ion-col>


        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='pulseRate'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{pulseRateUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='pulseRate'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="pulserate_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="pulserate_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="pulserate_interpretation=='Normal'">N</ion-label>
        </ion-col> -->


        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='heartRate'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="heartRate" (blur)="heartRateValueChange($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='heartRate'" size="1" class="paddingLeft8 itemSec" (click)="picker('heartRate')">

          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>
          <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="heartRate" (ngModelChange)="heartRateValueChange($event)"  [multiPickerColumns]="resColumns"></ion-multi-picker> 
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='heartRate'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{heartRateUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='heartRate'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="heartRate_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="heartRate_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="heartRate_interpretation=='Normal'">N</ion-label>
        </ion-col> -->


        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='spo2'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="spo2" (blur)="spo2ValueChange($event.target.value)"></ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='spo2'" size="1"
          class="paddingLeft8 itemSec" (click)="picker('spo2')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>
          <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="spo2" (ngModelChange)="spo2ValueChange($event)" [multiPickerColumns]="spoColumns"></ion-multi-picker> 
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='spo2'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{spo2Unit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='spo2'" no-lines size="1" no-padding>
          <ion-label *ngIf="spo2_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="spo2_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="spo2_interpretation=='Normal'">N</ion-label>
        </ion-col> -->

        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='painLevel'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="painLevel" (blur)="painLevelModify($event.target.value)"></ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='painLevel'" size="1" class="paddingLeft8 itemSec" (click)="picker('painLevel')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>
          <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="painLevelSel" (ngModelChange)="painLevelChange($event)"   [multiPickerColumns]="painLevelColumns"></ion-multi-picker> 
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='painLevel'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="painlevel_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="painlevel_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="painlevel_interpretation=='Normal'">N</ion-label>
        </ion-col> -->

<!-- 
        <ion-col *ngIf="item.is_active && item.variable_name==='bloodGlucose'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="bloodGlucose" (blur)="bloodGlucoseModify($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='bloodGlucose'"
          size="1" class="paddingLeft8 itemSec" (click)="picker('bloodGlucose')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon>
          <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="bloodGlucoseSel" (ngModelChange)="bloodGlucoseChange($event)"  [multiPickerColumns]="bgcolumns"></ion-multi-picker> 
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='bloodGlucose'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{bloodGlucoseUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='bloodGlucose'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="bloodGlucose_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="bloodGlucose_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="bloodGlucose_interpretation=='Normal'">N</ion-label>
        </ion-col> -->
<!-- 
        <ion-col *ngIf="item.is_active && item.variable_name==='rbcCount'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="rbcCount" (blur)="rbcCountModify($event.target.value)"></ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='rbcCount'" size="1"
          class="paddingLeft8 itemSec" (click)="picker('rbccolms')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="rbcCountSel" (ngModelChange)="rbcCountChange($event)"  [multiPickerColumns]="rbccolms"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='rbcCount'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{rbcCountUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='rbcCount'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="rbcCount_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="rbcCount_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="rbcCount_interpretation=='Normal'">N</ion-label>
        </ion-col> -->

        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='cholesterol'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="cholesterol" (blur)="cholesterolModify($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='cholesterol'"
          size="1" class="paddingLeft8 itemSec" (click)="picker('cholesterol')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="cholesterolSel" (ngModelChange)="cholesterolChange($event)" [multiPickerColumns]="choleColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='cholesterol'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{cholesterolUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='cholesterol'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="cholesterol_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="cholesterol_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="cholesterol_interpretation=='Normal'">N</ion-label>
        </ion-col>

        <ion-col *ngIf="item.is_active && item.variable_name==='headCircumference'" size="3"
          class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="headCircumference"
            (blur)="headCircumferenceModify($event.target.value)"></ion-input>
        </ion-col> -->

        <!-- <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='headCircumference'"
          size="1" class="paddingLeft8 itemSec" (click)="picker('headCircumference')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="headCircumferenceSel" (ngModelChange)="headCircumferenceChange($event)" [multiPickerColumns]="simpleColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='headCircumference'" no-lines size="3">
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{headCircumferenceUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='headCircumference'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="headCircumference_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="headCircumference_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="headCircumference_interpretation=='Normal'">N</ion-label>
        </ion-col> -->


        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='bodyFat'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="bodyFat" (blur)="bodyFatChange($event.target.value)"></ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='bodyFat'" size="1"
          class="paddingLeft8 itemSec" (click)="picker('bodyFat')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="bodyFat" (ngModelChange)="bodyFatChange($event)" [multiPickerColumns]="fatColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='bodyFat'" no-lines size="3" no-margin>
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{bodyFatUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='bodyFat'" no-lines size="1" no-padding>
          <ion-label *ngIf="bodyFat_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="bodyFat_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="bodyFat_interpretation=='Normal'">N</ion-label>
        </ion-col> -->

        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='caloriesBurned'" size="3"
          class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="caloriesBurned" (blur)="caloriesBurnedChange($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='caloriesBurned'"
          size="1" class="paddingLeft8 itemSec" (click)="picker('caloriesBurned')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="caloriesBurned" (ngModelChange)="caloriesBurnedChange($event)"  [multiPickerColumns]="caloriesColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='caloriesBurned'" no-lines size="3"
          no-margin>
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{caloriesBurnedUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='caloriesBurned'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="caloriesBurned_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="caloriesBurned_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="caloriesBurned_interpretation=='Normal'">N</ion-label>
        </ion-col> -->




        <!-- <ion-col *ngIf="item.is_active && item.variable_name==='expiratoryTime'" size="3"
          class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="expiratoryTime" (blur)="expiratoryTimeChange($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='expiratoryTime'"
          size="1" class="paddingLeft8 itemSec" (click)="picker('expiratoryTime')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="expiratoryTime"  (ngModelChange)="expiratoryTimeChange($event)"  [multiPickerColumns]="estColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='expiratoryTime'" no-lines size="3"
          no-margin>
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{expiratoryTimeUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='expiratoryTime'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="expiratoryTime_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="expiratoryTime_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="expiratoryTime_interpretation=='Normal'">N</ion-label>
        </ion-col> -->




<!-- 
        <ion-col *ngIf="item.is_active && item.variable_name==='inspiratoryTime'" size="3"
          class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="inspiratoryTime" (blur)="inspiratoryTimeChange($event.target.value)">
          </ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='inspiratoryTime'"
          size="1" class="paddingLeft8 itemSec" (click)="picker('inspiratoryTime')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="inspiratoryTime" (ngModelChange)="inspiratoryTimeChange($event)"  [multiPickerColumns]="itimeColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='inspiratoryTime'" no-lines size="3"
          no-margin>
          <ion-label style="font-size: 14px;margin-top: 15px;"class="labelColor">{{inspiratoryTimeUnit}}</ion-label>
        </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='inspiratoryTime'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="inspiratoryTime_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="inspiratoryTime_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="inspiratoryTime_interpretation=='Normal'">N</ion-label>
        </ion-col> -->



<!-- 
        <ion-col *ngIf="item.is_active && item.variable_name==='stepCount'" size="3" class="paddingLeft8 itemSec">
          <ion-input type="number" [(ngModel)]="stepCount" (blur)="stepCountChange($event.target.value)"></ion-input>
        </ion-col>

        <ion-col lines='none' style="width: 16%;" *ngIf="item.is_active && item.variable_name==='stepCount'" size="1" class="paddingLeft8 itemSec" (click)="picker('stepCount')">
          <ion-icon class="labelColor" name="caret-down-outline"></ion-icon> -->
          <!-- <ion-multi-picker class="paddingLeft8 triangleShape" item-content [(ngModel)]="stepCount" (ngModelChange)="stepCountChange($event)"  [multiPickerColumns]="stepCountColumns"></ion-multi-picker> -->
        <!-- </ion-col>
        <ion-col lines='none' *ngIf="item.is_active && item.variable_name==='stepCount'" no-lines size="1"
          no-padding>
          <ion-label *ngIf="stepCount_interpretation=='High'" color="danger">H</ion-label>
          <ion-label *ngIf="stepCount_interpretation=='Low'" color="danger">L</ion-label>
          <ion-label *ngIf="stepCount_interpretation=='Normal'">N</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid> -->
    <!-- <ion-button color='medium' (click)="navigateToUnitPage()" style="padding-left: 10%;">
      <ion-icon name="options-outline"></ion-icon> Units {{weightUnit}},{{heightUnit}},{{temperatureUnit}},{{bloodGlucoseUnit}}
    </ion-button> -->
  </ion-list>
</ion-content>
<ion-footer  class="footerStyle" (click)="navigateToUnitPage();">
  <ion-icon name="options-outline"></ion-icon> Units {{weightUnit}},{{heightUnit}},{{temperatureUnit}},{{bloodGlucoseUnit}}
</ion-footer>