.font12{
    font-size: 12px;
}
.label-md{
    margin: 0px 0px 0px 0px !important;
}
.label-md input{
    padding-bottom: 8px !important;
    border: none !important;
}
.label-ios input{
    padding-bottom: 8px !important;
    border: none !important;
}
.paddingLeft8{
    padding-left: 8px;
}

.itemSec{
    border: 1px solid #ddd;
    min-height: 2.4rem;
    height: 2.4rem;
}
.itemSec .item-inner{
    padding-right: 0px;
}

.lessHeight{
    height: 3.4rem;
}
.marginTop15{
    margin-top: 15px;
}

.triangleShape{
    border: 7px solid black;
    width: 0;
    height: 0;
    padding: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #ada9a9a6;
    border-bottom-color: transparent;
    margin-left: 7px;
    margin-top: 10px;
}
// button{
//     color: #fff;
//     background: #351F65;
//    font-weight: bold;
//    font-size: small;
// }

.buttonBottom {
    height: 3em;
    font-size: 15px;
    margin-left: 4em;
    color: black;
    background: #f4f8f8;
}
ion-input{
    margin-top: -8px;
    margin-left: 4px;
}
.labelColor{
    margin-top: 6px;
    margin-left: 3px;
    color: #9A9A9A;
}