<ion-header color="primary">
  <ion-toolbar color='primary'>
      <ion-title class="ion-text-center">Medicines</ion-title>
      <ion-buttons slot='end'>
          <ion-button icon-only (click)="dismiss(false)">
              Cancel
          </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top color='primary'>
      <ion-searchbar [(ngModel)]="searchTerm" focus-me float-left  (ionChange)="onSearchInput()"></ion-searchbar>

    </ion-toolbar>
    <ion-item>
      <ion-label position='floating' class="labelColor">Select Category</ion-label>
      <ion-select (ionChange)="filterByCategory()" [(ngModel)]="selectedCat" interface="action-sheet">
        <span  *ngFor="let category of categoryFilterData;">
          <ion-select-option value="{{category}}">{{category}}</ion-select-option>
        </span>
      </ion-select>
    </ion-item>
</ion-header>

<ion-content no-bounce>
  <!-- <ion-alpha-scroll *ngIf="masterFilters"
    [listData]="masterFilters"
    key="productName"
    [itemTemplate]="alphaScrollItemTemplateRef"
    [currentPageClass]="currentPageClass"
    [highlight]="true"
    [triggerChange]="triggerAlphaScrollChange">

    <ng-template #alphaScrollItemTemplateRef let-item>
        <button ion-item (click)="currentPageClass.onItemClick(item)">{{item.productName}}</button>
      </ng-template>
  </ion-alpha-scroll> -->

  <ion-list *ngIf="masterFilters">
    <ion-item *ngFor="let item of masterFilters;" (click)="currentPageClass.onItemClick(item)">
      <ion-label>
        <p style="color: #555;">{{item.productName}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header *ngIf="(masterFilters && masterFilters.length == 0) && isNoMedicine">
      <h3>No Medicines Found!</h3>
    </ion-list-header>
</ion-content>