<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <button class="buttonStyle" (click)="applyFilters()">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Show Sections</ion-title>
    <ion-buttons slot="end">
      <button class="buttonStyle" (click)="reset()">
        Reset
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of apptFilters">
      <span item-start></span>
      <ion-label> <span class="headerStyle">{{item.label}}</span></ion-label>
      <ion-toggle [(ngModel)]="item.isChecked" color="secondary"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer class="footerStyle" style="font-size: 18px;" (click)="applyFilters();">
  <span>Save</span>
</ion-footer>