
    .txtColor{
        color: black;
    }
    .pIdColor{
        color: #61877f;
    }  
    .cardStyle {
        box-shadow: 0 0 2px #a8a8a8;
        border-radius: 10px;
        margin: 1em;
        margin-top: 4px;
    }
    .iconStyle{
        float: right;
        color: #ffffff;
        /* zoom: 0.9; */
        font-size: 14px;
        background: #4cb6c8;
        padding: 8px;
        border-radius: 50%;
        margin: auto;
    }

    .actionButton{
        border-left: 1px solid #0000001c;
        text-align: center;
        font-size: 13px;
        text-align: center;
        font-size: 13px;
        padding: 8px;
        background: #fff;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        float: right;
        margin-left: 8px;
        font-weight: 400;
    }

    ion-item{
        --background: transparent;
    }