<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Patients</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="light" class="searchStyle" [(ngModel)]="queryText" (ionChange)="searchPatients()"
      placeholder="By Id/Name/Phone number">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-card *ngFor="let item of items" class="cardStyle">

      <ion-item lines="none">
        <!-- <span (click)="viewPatientTimeLine(item.uuid)" style="padding-top: 8px;"> -->
        <ion-avatar item-start *ngIf="checkPatientHasImage(item.image)" (click)="viewPatientTimeLine(item.uuid)" style="width: 2.5em;">
          <img src="{{item.image}}">
        </ion-avatar>
        <ion-avatar item-start *ngIf="!checkPatientHasImage(item.image)" (click)="viewPatientTimeLine(item.uuid)" style="width: 2.5em;">

          <app-new-txt-img [text]="item.name" style="font-weight: 500;">
          </app-new-txt-img>
        </ion-avatar>
        <ion-label style="padding-right: 8px; margin-left: 8px;" (click)="viewPatientTimeLine(item.uuid)">

          <h2 class="ion-text-capitalize" style="padding-right: 2px;letter-spacing: 0.4px;">
            {{item.name}}
            <span style="font-size: 12px;padding-left: 5px;">
              <span *ngIf="item.age">{{item.age}}</span>
              <span *ngIf="item.gender=='Female'"> Female</span><span *ngIf="item.gender=='Male'"> Male</span><span
                *ngIf="item.gender=='Others'"> Other</span></span>
          </h2>

          <p>
            <span *ngIf="item.checkedTelephoneNo " style="padding-right: 8px;"> {{item.checkedTelephoneNo}} </span>
            <span *ngIf="item.registeredOn"> {{item.registeredOn | date: 'dd MMM yyyy'}} </span>
          </p>
        </ion-label>
        <!-- </span> -->
        <ion-icon slot="end" name="call" class="iconStyle" (click)="callPatientMobile(item.telephone,item.countryCode ,item.localPatientId)"></ion-icon>
      </ion-item>
      <ion-item lines="none" style="margin-top: -9px;" (click)="viewPatientTimeLine(item.uuid)">
        <ion-label style="margin: 0px 0px 8px 3em;">
          <p style="white-space: normal;"> {{item.registeredAt.name}} </p>
          <p *ngIf="item && item.address[0] && (item.address[0].addressLine1 || item.address[0]['landMark'] || item.address[0]['city']
           || item.address[0]['state'])" style="white-space: normal;">
            <span *ngIf="item && item.address[0] && item.address[0].addressLine1">{{item.address[0].addressLine1}},
            </span>
            <span *ngIf="item && item.address[0] && item.address[0]['landMark']"> {{item.address[0]['addressLine1']}},
            </span>
            <span *ngIf="item && item.address[0] && item.address[0]['city']">{{item.address[0]['city']}}, </span>
            <span *ngIf="item && item.address[0] && item.address[0]['state']">{{item.address[0]['state']}}</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item text-center lines="none" style="border-top: 1px solid #cbcbcb; --background: #adafaf14;">
        <ion-label class="ion-no-padding">
          <p small text-uppercase style="color: var(--ion-color-invoice);">
            <span *ngIf="item.lastVisit" style="vertical-align: sub;">Last Visit:
              {{item.lastVisit}} </span>

            <button class="actionButton" (click)="presentActionSheet(item.uuid,item.name)" style="color: var(--ion-color-dark);"> &nbsp; More &nbsp;
            </button>
          </p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list-header *ngIf="noRecordFound">
    {{noRecordFound}}
  </ion-list-header>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab *ngIf="accessControl && accessControl.permissions 
  && ((accessControl.permissions.Patient5674 && accessControl.permissions.Patientcreate) 
  || (accessControl.permissions.Activity5674 && accessControl.permissions.Activitycreate) 
  || (accessControl.permissions.Appointments5674 && accessControl.permissions.Appointmentscreate))" 
  color="secondary" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="openModal();">
      <ion-icon color="primary" name="add" style="height: 35px; width: 35px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.25, 0.5, 0.75]" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-content>
      <ion-row>
        <ion-col size="6" *ngIf="accessControl && accessControl.permissions && accessControl.permissions.Patient5674 && accessControl.permissions.Patientcreate">
          <ion-card class="cardStyle" style="height: 120px; --background: #f0f0f0;" (click)="openAddPatientPage()" >
            <ion-item lines="none">
              <ion-icon class="modalFabIcon" name="person"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="modalFabLabel ion-text-wrap">Register Patient</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6" *ngIf="accessControl && accessControl.permissions && accessControl.permissions.Activity5674 && accessControl.permissions.Activitycreate">
          <ion-card class="cardStyle" style="height:120px; --background:#f0f0f0;" (click)="openQuickSchedulePage()"> 
          <ion-item  lines="none">
            <ion-icon class="modalFabIcon" name="calendar"></ion-icon>
         </ion-item>
      <ion-item lines="none" class="ion-text-center">
        <ion-label class="modalFabLabel ion-text-wrap">Quick Schedule</ion-label>
      </ion-item>
          </ion-card>
      </ion-col>
      </ion-row>
      <ion-row *ngIf="accessControl && accessControl.permissions && accessControl.permissions.Appointments5674 && accessControl.permissions.Appointmentscreate">
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-card class="cardStyle" style="height: 120px; --background: #f0f0f0;" (click)="openAddActivityPage()" > 
            <ion-item lines="none">
              <ion-icon class="modalFabIcon" name="file-tray-full"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="modalFabLabel ion-text-wrap">Add Activity</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>