/** Ionic CSS Variables **/
:root {
  /** primary **/
  // 351F65
  --ion-color-primary: #508eb9;
  --ion-color-primary-rgb: 53,31,101;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #20577e;
  --ion-color-primary-tint: #436e8c;
  /** secondary **/
  --ion-color-secondary: #2980b9;
  --ion-color-secondary-rgb: 41,128,185;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2471a3;
  --ion-color-secondary-tint: #3e8dc0;
  /** tertiary **/
  --ion-color-tertiary: #918BDF;
  --ion-color-tertiary-rgb: 145,139,223;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #807ac4;
  --ion-color-tertiary-tint: #9c97e2;
  /** success **/
  --ion-color-success: #3B784E;
  --ion-color-success-rgb: 59,120,78;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #346a45;
  --ion-color-success-tint: #4f8660;
  /** warning **/
  --ion-color-warning: #daae23;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;
  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0,0,0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;
  /** medium **/
  --ion-color-medium: #757777;
  --ion-color-medium-rgb: 117,119,119;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #676969;
  --ion-color-medium-tint: #838585;
  /** light **/
  --ion-color-light: #f4f8f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-gray-txt: #777474;
  --ion-color-completed: #14892c;
  --ion-color-schedule: #fc6f61;
  --ion-color-inprogress: #ffe28c;
  --ion-color-medication: #e66100;
  --ion-color-payment: #e2ac08;
  --ion-color-invoice: #2196F3;
  --ion-color-appointment: #4CAF50;
  --ion-color-activity: #9c27b0cc;
  --ion-color-notes: #943b3bc7;
  --ion-color-laborder: #15b5ac;
  --ion-color-assessment: #FF6EC7;
  --ion-color-estimation: #AEBB51;
  --ion-color-careplan: #0000FF;
  --ion-color-vitals: #e49f84;
  --ion-color-files: #acd847;
}