<ion-list *ngIf="list">
  <ion-item *ngFor="let item of list" button (click)="callPatient(item);">
    <ion-label>{{item}}</ion-label>
    <span *ngIf="isIOSPlt; else elseBlock"></span>
    <ng-template #elseBlock>
      <ion-icon name="chevron-forward-sharp"></ion-icon>
    </ng-template>
  </ion-item>
</ion-list>