<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <button (click)="dismiss(false,'')">
        <ion-icon style="zoom: 2;" name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="center-align-text marginTop20"><span *ngIf="formName">{{formName}}</span></ion-title>

    <ion-buttons slot='end'>
      <button style="font-size: medium;" ion-button icon-only (click)="saveAndShareForm()" [disabled]='disableButton'>
        <ion-icon style="zoom: 1.5;" name="share-social-sharp"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons slot='end'>
      <button style="font-size: medium;"  ion-button icon-only (click)="saveForm()">
        <ion-icon style="zoom: 1.5;" name="save-sharp"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="!content">
    <ion-card class='cardStyle' *ngFor='let item of [].constructor(12)'>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated style="height: 50%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    </ion-card>
  </ion-list>
  
    <ion-list *ngIf="content">
      <ion-card *ngFor="let item of content;let f=index" class="DEBottomBorder cardStyle">
        <ion-card-header class="ion-no-padding">
          <ion-item (click)="openForm(f)" lines="none">
            <ion-label>
              <p style="font-size: medium; color:black;">{{item.sectionName}}
              </p>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content style="max-height: 24em;overflow-y: scroll; padding: 0px;"
          *ngIf="item && item.showContent">
          <span *ngIf="content">

            <span *ngFor="let secitem of content[sectionCounter].sectionContent;let i=index">

              <span *ngIf="secitem.visible==='Show'">
                <ion-item lines="none" *ngIf="secitem.field_type==='Text' ||  secitem.field_type==='text'
                    || secitem.field_type==='Number' ||  secitem.field_type==='number' " class="ion-margin-bottom">
                  <ion-label position="floating"> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span>
                    {{secitem.field_label}}</ion-label>
                  <ion-input type="{{secitem.field_type}}" class="textBottomBorder"
                    (blur)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                    [(ngModel)]="content[sectionCounter].sectionContent[i].value"></ion-input>

                </ion-item>

                <ion-item lines="none" *ngIf="secitem.field_type==='Information'">
                  <ion-label position="stacked"> 
                    <p><span *ngIf="secitem.required==='true'" class="reset-filters">*</span>
                    {{secitem.field_label}}</p>
                    <p style="white-space: break-spaces;">
                      {{item.sectionContent[i].default_value}}
                    </p>
                  </ion-label>

                </ion-item>
                <ion-item *ngIf="secitem.field_type==='TextArea'">
                  <ion-label position="floating"> <span *ngIf="secitem.required==='true'" class="reset-filters">*</span>
                    {{secitem.field_label}}</ion-label>
                  <ion-textarea autoGrow="true" (blur)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                    [(ngModel)]="content[sectionCounter].sectionContent[i].value"></ion-textarea>

                </ion-item>

                <span *ngIf="secitem.field_type==='Checkbox'">

                  <ion-list style="padding: 0px;">
                    <ion-list-header *ngIf='secitem.field_label !== "" '>
                      <span *ngIf="secitem.required==='true'" class="reset-filters">*</span> {{secitem.field_label}}
                    </ion-list-header>

                    <ion-item lines="none" *ngFor="let fields of secitem.field_type_values;let j=index">
                      <ion-label style="color: gray;">{{fields.label}}</ion-label>
                      <ion-checkbox color="primary"
                        (ionChange)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                        [(ngModel)]="content[sectionCounter].sectionContent[i].field_type_values[j].isChecked">
                      </ion-checkbox>
                    </ion-item>

                  </ion-list>
                </span>

                <ion-item *ngIf="secitem.field_type==='Date'">
                  <ion-label  position='floating' class="labelColor"> <span *ngIf="secitem.required==='true'"
                      class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
      
                    <ion-input type="text" [(ngModel)]="item.sectionContent[i].value"
                    (ionChange)="enableDependentField(f,i,secitem.field_name,secitem.field_type)" 
                    (click)="dateChange(item.sectionContent[i].value, f, i)"></ion-input>

                </ion-item>
                
                <ion-item lines="none" *ngIf="secitem.field_type==='DropDown'">
                  <ion-label style="color: gray;"> <span *ngIf="secitem.required==='true'"
                      class="reset-filters">*</span> {{secitem.field_label}}</ion-label>
                  <ion-select style="color: gray;" placeholder="Select {{secitem.field_label}}"
                    (change)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)"
                    [(ngModel)]="content[sectionCounter].sectionContent[i].value" interface="action-sheet">
                    <span *ngFor="let fields of secitem.field_type_values;let j=index">
                      <ion-select-option style="color: gray;" value="{{fields.value}}">{{fields.label}}
                      </ion-select-option>
                    </span>
                  </ion-select>
                </ion-item>
                <span *ngIf="secitem.field_type==='Radio'">
                  <ion-radio-group [(ngModel)]="content[sectionCounter].sectionContent[i].value"
                    (ionChange)="enableDependentField(sectionCounter,i,secitem.field_name,secitem.field_type)">
                    <ion-list-header *ngIf='secitem.field_label!== "" '>
                      <span *ngIf="secitem.required === 'true'" class="reset-filters">*</span> {{secitem.field_label}}
                    </ion-list-header>
                    <ion-item lines="none" *ngFor="let fields of secitem.field_type_values">
                      <ion-label style="color: gray;">{{fields.label}}</ion-label>
                      <ion-radio color="primary" value="{{fields.value}}"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </span>

                <ion-list *ngIf="secitem.field_type==='Table'">
                  <ion-label style="color: gray;"> <span *ngIf="secitem.required==='true'"
                      class="reset-filters">*</span> {{secitem.field_label}} </ion-label>
                  <div>
                    <p>
                      <span *ngFor="let fields of secitem.rowContentValuesList;let j=index">
                        <span *ngFor="let elem of fields.row;let k=index">
                          <button ion-item *ngIf="elem.fieldVal=='#'" (click)="openColumns(sectionCounter,i,j)">
                            {{elem.value}}
                            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" float-right></ion-icon>
                          </button>
                        </span>
                      </span>
                    </p>
                  </div>
                </ion-list>
                <p ion-text [hidden]="secitem.valid" color="danger" padding-left>
                  Enter {{secitem.field_label}}
                </p>
              </span>
            </span>


          </span>

          <span *ngIf="isDisclaimer==='true'">
            <ion-row padding-top>
              <ion-col col-2><span class="reset-filters">*</span>
                <ion-checkbox padding-top color="primary" [(ngModel)]="isDisclaimerCheck"></ion-checkbox>
              </ion-col>
              <ion-col col-20 *ngIf="disclaimerContent">
                <span [innerHtml]="disclaimerContent"></span>
              </ion-col>
            </ion-row>
          </span>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-modal [isOpen]="showModal" class="dateTimeModal">
      <ng-template>
        <ion-content>
          <ion-datetime
            #datetime
            max="2099-12-31T00:00:00+05:30"
            presentation="date"
            [value]="startDate"
            prefer-wheel="true"
            showDefaultButtons="true"
            (ionChange)="dateChange(datetime.value, itemIndex, secIndex);"
            (ionCancel)="showModal = false;"
            (ionBlur)="showModal = false;">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

</ion-content>
<ion-footer>
  <ion-item *ngIf = "showAddForm" class="addNewFormStyle" (click)="addAsNewForm();" lines ="none"> 
    <ion-label style="text-align: center;margin: 0px;">Add New Form</ion-label> 
    </ion-item>
</ion-footer>