button{
    color: #fff;
    background: var(--ion-color-primary);
   font-weight: bold;
   font-size: small;
}

.DEBottomBorder{
    border-bottom: 1px solid #ddd;
}
.marginTop20{
    margin-top: 20px;
}
.center-align-text{
    text-align: center;
}
.labelColor{
    color: #9A9A9A;
}