.header-md::after{
    background-image: none !important;

}
ion-toolbar {
    --border-width: 0px !important;
}

.saveButton {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.marginLeftMinus16{
    margin-left: -16px;
}

.marginLeftMinus10{
    margin-left: -10px;
}