

<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <button icon-only class="buttonStyle" (click)="dismiss()">
        <ion-icon name="close" style="zoom:2"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="ion-text-center">Register Patient</ion-title>
    <ion-buttons slot="end">
      <button style="font-size: medium;" icon-only class="buttonStyle" (click)="savePatientInfo()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">

    <ion-item class="ion-no-padding textBottomBorder" lines="none">
      <ion-label position='floating' class="paddingLeft6">
        <span class="reset-filters" *ngIf="mandatoryFields && isMrnMandatory">*</span>Source Mrn
      </ion-label>
      <ion-input *ngIf="sourceMrnValid == true" class="paddingLeft10" [(ngModel)]="sourceMrn">
      </ion-input>
      <ion-input *ngIf="sourceMrnValid == false" class="redBorder paddingLeft10"
        [(ngModel)]="sourceMrn"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding textBottomBorder" lines="none">
      <ion-label position='floating' class="paddingLeft6">
        <span class="reset-filters">*</span>Patient Name
      </ion-label>
      <ion-input *ngIf="patientNameValid == true" class="paddingLeft10 textCapitalize" [(ngModel)]="patientName">
      </ion-input>
      <ion-input *ngIf="patientNameValid == false" class="redBorder paddingLeft10 textCapitalize"
        [(ngModel)]="patientName"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding textBottomBorder" lines="none">
      <ion-label class="paddingLeft6" position="floating"><span class="reset-filters">*</span>Mobile
      </ion-label>
      <ion-input [(ngModel)]="mobileNumber" *ngIf="mobileNumberValid == true" type="number" pattern="[0-9]*" class="paddingLeft10">
      </ion-input>
      <ion-input [(ngModel)]="mobileNumber" *ngIf="mobileNumberValid == false" type="number" pattern="[0-9]*" class="redBorder paddingLeft10"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding textBottomBorder" id="dateTime" lines="none">
      <ion-label class="marginLeft5" position="floating">
        Date Of Birth </ion-label>
      <ion-input type="text" [(ngModel)]="dateValue"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding textBottomBorder" *ngIf="genderValid === true" lines="none">
      <ion-label style="" class="genderStyle" position="stacked">
        <span class="reset-filters">*</span> Gender
      </ion-label>

      <ion-radio-group class="paddingLeft5" [(ngModel)]="gender">
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="labelColor">Male&nbsp;&nbsp;</ion-label>
              <ion-radio class="inputBoxMargin ion-no-margin" value="Male"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-label class="labelColor">Female&nbsp;&nbsp;</ion-label>
              <ion-radio class="inputBoxMargin ion-no-margin" value="Female"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-label class="labelColor">Other&nbsp;&nbsp;</ion-label>
              <ion-radio class="inputBoxMargin ion-no-margin" value="Other"></ion-radio>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-radio-group>
    </ion-item>
    <ion-item class="ion-no-padding redBorder" *ngIf="genderValid === false" lines="none">
      <ion-label class="genderStyle" position="stacked">
        <span class="reset-filters">*</span> Gender
      </ion-label>

      <ion-radio-group class="paddingLeft5" [(ngModel)]="gender">
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="labelColor">Male&nbsp;&nbsp;</ion-label>
              <ion-radio class="inputBoxMargin ion-no-margin" value="Male"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-label class="labelColor">Female&nbsp;&nbsp;</ion-label>
              <ion-radio class="inputBoxMargin ion-no-margin" value="Female"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-label class="labelColor">Other&nbsp;&nbsp;</ion-label>
              <ion-radio class="inputBoxMargin ion-no-margin" value="Other"></ion-radio>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-radio-group>
    </ion-item>

    <ion-item class="ion-no-padding textBottomBorder"  lines="none">
      <ion-label class="marginLeft5" position="floating"> Email</ion-label>
      <ion-input type="email" *ngIf="emailValid === true" [(ngModel)]="email"></ion-input>
      <ion-input type="email" [(ngModel)]="email" *ngIf="emailValid === false" class="redBorder"></ion-input>
    </ion-item>
    
    <ion-item class="ion-no-padding textBottomBorder" lines="none">
      <ion-label   position="floating">
        <span class="reset-filters">*</span>
        Referral Type
      </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]='enquiryType'
        (ionChange)="enquiryTypeOnChange(enquiryType)" *ngIf="enquiryTypeValid === true">
        <ion-select-option *ngFor="let item of enquiryTypes" value="{{item.enquiryType}}">
          {{item.enquiryType}}
        </ion-select-option>
      </ion-select>

      <ion-select interface="action-sheet" class="redBorder paddingLeft10" [(ngModel)]='enquiryType'
        (ionChange)="enquiryTypeOnChange(enquiryType)" *ngIf="enquiryTypeValid === false">
        <ion-select-option *ngFor="let item of enquiryTypes" value="{{item.enquiryType}}">
          {{item.enquiryType}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <span>
      <ion-item class="ion-no-padding textBottomBorder"  lines="none" *ngIf="enquiryType!=='Associate Network' && enquiryType!=='Staff'
    && enquiryType!=='Consultant' && enquiryType!=='Hospital' && enquiryType!=='External Physician'
    && enquiryType!=='Patient Referral'" lines="none">

        <ion-label class="marginLeft5">
          Enquiry Sub Type
        </ion-label>

        <ion-select interface="action-sheet" [(ngModel)]="enquirySubType" (ionChange)="onSubTypeChangeMe()"
          class="width100">
          <ion-select-option *ngFor="let item of enquirySubTypes">{{item.enquirySubType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="textBottomBorder" *ngIf="enquiryType==='Associate Network'" lines="none">
        <ion-label class="labelColor " position="floating">
          Associate Network
        </ion-label>
        <ion-select [(ngModel)]="enquiryItem" interface="action-sheet" class="width100"
          (ionChange)="onSubTypeChangeTriggerMe('assoNtwrk')">
          <ion-select-option *ngFor="let item of exProviders" [value]="item">{{item.provider_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item ion-item *ngIf="enquiryType==='Staff'" (click)="navigateToSelectModel('Staff')" class=" marginTop15 textBottomBorder" lines="none">
        <ion-col size="5" class="labelColor ion-float-left ion-no-padding">
          Staff
        </ion-col>
        <ion-col class="ion-float-right" size="7">
          <p class="ion-text-right"> {{enquirerName}}</p>
        </ion-col>
      </ion-item>

      <ion-item class="textBottomBorder" *ngIf="enquiryType==='Consultant'" lines="none">
        <ion-label class="labelColor " position="floating">
          Consultant
        </ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="enquiryItem" class="width100"
          (ionChange)="onSubTypeChangeTriggerMe('Consultant')">
          <ion-select-option *ngFor="let item of consultants" [value]="item">{{item.fullname}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="textBottomBorder" *ngIf="enquiryType==='Hospital'" lines="none">
        <ion-label class="labelColor " position="floating">
          Hospital
        </ion-label>
        <ion-input type="text" [(ngModel)]="enquirySubType"></ion-input>
      </ion-item>

      <ion-item class="textBottomBorder" *ngIf="enquiryType==='External Physician'" lines="none">
        <ion-label class="labelColor " position="floating">
          External Physician
        </ion-label>
        <ion-input type="text" [(ngModel)]="enquirerName"></ion-input>
      </ion-item>

      <ion-item class="textBottomBorder" *ngIf="enquiryType==='Patient Referral'" lines="none">
        <ion-label class="labelColor " position="floating">
          Patient Referral
        </ion-label>
        <ion-input type="text" [(ngModel)]="enquirerName"></ion-input>
      </ion-item>
    </span>

    <span>
      <ion-item class="ion-no-padding textBottomBorder" lines="none" *ngIf="(enquiryType!=='Staff' &&  enquiryType!=='Hospital' &&  enquiryType!=='Associate Network')" lines="none">
        <ion-label class="marginLeft5"position="floating">
          Source
        </ion-label>

        <ion-select interface="action-sheet" [(ngModel)]="enquirySource" class="width100">
          <ion-select-option *ngFor="let item of enquirySources">{{item.reference}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </span>
    <ion-item class="ion-no-padding textBottomBorder" lines="none">
      <ion-label class="marginLeft5" position="floating">
        Activity / Reference
      </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="campaignName" class="blueBorder">
        <ion-select-option *ngFor="let item of activities">{{item.activity}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-no-padding textBottomBorder" lines="none">
      <ion-label class="paddingLeft6" position="floating">
        <span class="reset-filters reset-filters">*</span>Register At
      </ion-label>
      <ion-select [(ngModel)]="selectedCareCenter" interface="action-sheet" (ionChange)="onChangeCareCenter();"
        *ngIf="careCenterValid === true" class="paddingLeft10">
        <ion-select-option [value]="item" *ngFor='let item of careCenters'>{{item.display_name}}</ion-select-option>
      </ion-select>

      <ion-select [(ngModel)]="selectedCareCenter" interface="action-sheet" (ionChange)="onChangeCareCenter();"
        *ngIf="careCenterValid === false" class="redBorder paddingLeft10">
        <ion-select-option [value]="item" *ngFor='let item of careCenters'>{{item.display_name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class=" ion-no-padding textBottomBorder" lines="none">
      <ion-label class="marginLeft5" position='floating'>
        Sticky Note
      </ion-label>
      <ion-textarea rows="5" [(ngModel)]='notes'></ion-textarea>
    </ion-item>

  </ion-list>

</ion-content>

<!-- <ion-footer>
  <ion-card class="ion-padding-end" style="background: #ed7d39;" (click)="savePatientInfo()">
    <ion-item lines='none' style="--background: transparent;">
      <ion-label class="saveButton">
        Save
      </ion-label>
    </ion-item>
  </ion-card>
</ion-footer> -->

<ion-modal class="dateTimeModal" trigger="dateTime">
  <ng-template>
    <ion-content>
      <ion-datetime #datetime presentation="date" [max]="maxData" [value]="dob" size="cover"
        (ionChange)="dateChange(datetime.value)" (ionCancel)="showModal = false;" showDefaultButtons="true">
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>