
<ion-header>
  <ion-toolbar color="primary"class="ion-text-center">
    <ion-title>Activity</ion-title>
    <ion-buttons slot="end" (click)="filter();">
      <ion-icon style="zoom: 1.5;margin-right: 5px;" name="funnel"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
<ion-toolbar color='primary'>
  <ion-searchbar color="light" class="searchStyle" [(ngModel)]="queryText" 
  (ionChange)="searchData()" placeholder="By Id/Name/Phone number">
  </ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="items && items.length > 0">
    <span *ngIf="apptSec == 'today'">
      <ion-item-group *ngFor="let groupitem of items | groupByTime:'startDateTime' " style="margin-bottom: 6%;">
       
        <ion-card *ngFor="let item of groupitem.value " class="cardStyle" style=" margin-bottom: 0px">
          <ion-item (click)="taskItemSelected(item.eventId)" lines="none" style="margin-top:2px">
            <ion-label style="margin-bottom: 8px;">
              <span _ngcontent-bpc-c177="" style="float: right; font-size: 12px; color: #676767; margin-top: 3px;">{{groupitem.key}}</span>
              <h2 style="padding-right: 2px;letter-spacing: 0.4px;">
                {{ item.participants[0].name}}
              </h2>
              <p style="font-size:14px; white-space: normal !important;">
                <span *ngIf="!item.serviceName">{{item.eventTitle}}</span>
                <span *ngIf="item.serviceName">{{item.serviceName}}</span>
              </p>
            </ion-label>
          </ion-item>
          <ion-item text-center lines="none" style="border-top: 1px solid #cbcbcb; --background: #adafaf14;">
            <span class="statusStyle">
              <span style="color: var(--ion-color-secondary);" outline
                *ngIf="item.status=='CheckedIn'">{{item.status}}</span>
              <span style="color: var(--ion-color-secondary);" *ngIf="item.status=='InProgress'">{{item.status}}</span>
              <span style="color: var(--ion-color-success);" *ngIf="item.status=='Completed'">{{item.status}}</span>
              <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Scheduled'">{{item.status}}</span>
              <span style="color: var(--ion-color-danger);"
                *ngIf="item.status=='NoShows' || item.status=='Canceled'">{{item.status}}</span>
              <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Pending'">{{item.status}}</span>
            </span>
            <ion-label>
              <button *ngIf="item.participants[0].uuid"  class="actionButton" style="color: #333" (click)="viewPatientTimeLine(item.participants[0].uuid)">
                View Timeline
              </button>
              <button class="actionButton actionButton2" *ngIf="item.status=='Pending' || item.status=='Scheduled'"
                (click)="updateStatus('Completed',item.eventId)">
                Done
              </button>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-item-group>
    </span>

    <span *ngIf="apptSec != 'today'">
      <ion-item-group *ngFor="let groupitem of items | groupByTime:'startDateTime' " style="margin-bottom: 6%;">

        <ion-card *ngFor="let item of groupitem.value " class="cardStyle" style=" margin-bottom: 0px">
          <ion-item (click)="taskItemSelected(item.eventId)" lines="none">
            <ion-label style="margin-bottom: 8px;">
              <span style="float:right; font-size: 12px;color: #676767;margin-top: 3px;"
                *ngIf="item.startDateTime">{{item.startDateTime | date: 'dd-MM-yyyy, hh:mm a'}}</span>
              <h2 style="padding-right: 2px;letter-spacing: 0.4px;">
                {{ item.participants[0].name}}
              </h2>
              <p style="font-size:14px; white-space: normal !important;">
                <span *ngIf="!item.serviceName">{{item.eventTitle}}</span>
                <span *ngIf="item.serviceName">{{item.serviceName}}</span>
                <!-- <span class='ion-float-right'>{{item.startDateTime | date: 'hh:mm a'}}</span> -->
              </p>
            </ion-label>
          </ion-item>
          <ion-item text-center lines="none" style="border-top: 1px solid #cbcbcb; --background: #adafaf14;">
            <span class="statusStyle">
              <span style="color: var(--ion-color-secondary);" outline
                *ngIf="item.status=='CheckedIn'">{{item.status}}</span>
              <span style="color: var(--ion-color-secondary);" *ngIf="item.status=='InProgress'">{{item.status}}</span>
              <span style="color: var(--ion-color-success);" *ngIf="item.status=='Completed'">{{item.status}}</span>
              <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Scheduled'">{{item.status}}</span>
              <span style="color: var(--ion-color-danger);"
                *ngIf="item.status=='NoShows' || item.status=='Canceled'">{{item.status}}</span>
              <span style="color: var(--ion-color-warning);" *ngIf="item.status=='Pending'">{{item.status}}</span>
            </span>
            <ion-label>
              <button class="actionButton" style="color: #333" (click)="viewPatientTimeLine(item.participants[0].uuid)">
                View Timeline
              </button>
              <button class="actionButton actionButton2" *ngIf="item.status=='Pending' || item.status=='Scheduled'"
                (click)="updateStatus('Completed',item.eventId)">
                Done
              </button>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-item-group>
    </span>
  </ion-list>


  <div class="noRecord"  *ngIf="noRecordFound">
    {{noRecordFound}}
</div>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>