<ion-header>
  <ion-toolbar class="extraSpace">
    <ion-buttons slot="start">
      <button class="btnStyle" icon-only (click)="dismiss(false)">
        <ion-icon color="secondary" style="zoom: 2;" name="chevron-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-item lines="none" *ngIf="patientInfo" class="patientHeadingData" style="margin-left: -15px;">

      <ion-label class="chartingStyle" style="color: var(--ion-color-primary);">
        CHARTING
      </ion-label>
      <ion-buttons>
        <button slot="end" class="btnStyle pdfIcon"
          *ngIf="patientInfo && patientInfo.telephone && appointmentData && appointmentData.apptType === 'Video'"
          (click)="viewVisitSummary();">
          PDF
        </button>
      </ion-buttons>
      <ion-buttons>
        <button slot="end" class="btnStyle" *ngIf="patientInfo && patientInfo.telephone"
          (click)="getAppointmentById($event);">
          <ion-icon color="dark" style="zoom: 1.5;" name='call'></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons>
        <button slot="end" class="btnStyle" (click)="setConfig()">
          <ion-icon color="dark" style="zoom: 2;" name='options-outline'></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <div style="margin-bottom: 3em;">
    <ion-card class="cardStyle headerCard" *ngIf="!patientInfo" style=" margin-bottom: 0px">
      <ion-item lines="none">

        <ion-avatar item-start>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <p style="font-size: 20px;">
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card class="cardStyle" *ngIf="!patientInfo" style="position: relative; top: 8px;">
      <ion-item lines="none">
        <ion-label>
          <ion-row>
            <ion-col size='6' class="ion-no-padding">
              <p style="text-align: left;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
            </ion-col>
            <ion-col size='6' class="ion-no-padding">
              <p style="text-align: right;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
            </ion-col>
          </ion-row>

          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card>

    <p *ngIf="!startDateTime" class="ion-padding" style="color: #666;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>

    <ion-list style="padding: 0px;" *ngIf="!patientInfo">
      <ion-card class="cardStyle" *ngFor='let item of [].constructor(13)' style="margin-bottom: 5%;">
        <ion-item lines="none">
          <ion-label>
            <span class="cardHeader">
              <ion-skeleton-text animated></ion-skeleton-text>
            </span>
          </ion-label>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-card class="cardStyle headerCard customAvatar" style=" margin-bottom: 0px">
      <ion-item lines="none" *ngIf="patientInfo">
        <ion-avatar item-start *ngIf="checkPatientHasImage(patientInfo.image)"
          style="width: fit-content; margin-right: 16px;margin-top: -1.5em;" class="customAvatar">
          <img style="border-radius: 50% !important;top: -10px; font-size: 1.5em !important;"
            src="{{patientInfo.image}}">
        </ion-avatar>
        <ion-avatar item-start *ngIf="!checkPatientHasImage(patientInfo.image)"
          style="width: fit-content; margin-right: 16px;margin-top: -1.5em;" class="customAvatar">
          <app-new-txt-img style="border-radius: 50% !important;top: -10px; font-size: 1.5em !important;"
            [text]="patientInfo.name"></app-new-txt-img>
        </ion-avatar>
        <ion-label>
          <p style="font-size: 20px; color: var(--ion-color-success);">
            <b *ngIf="patientInfo">{{patientInfo.title}} {{patientInfo.givenName}} {{patientInfo.middleName}} {{patientInfo.familyName}}</b>
          </p>
          <p>
            <span small>{{patientInfo.localId}}</span>&nbsp;|
            <span *ngIf="patientInfo.age">{{patientInfo.age}}<span *ngIf="patientInfo.gender">, </span></span>
            <span name="male" *ngIf="patientInfo.gender=='Female'">F</span>
            <span name="female" *ngIf="patientInfo.gender=='Male'">M</span>
            <span *ngIf="patientInfo.gender=='Others'">O</span>
          </p>
          <p *ngIf="patientInfo && patientInfo.telephone && checkedTelephoneNo" style="color: #333;">{{checkedTelephoneNo}}</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card class="cardStyle" style="position: relative; top: 8px;"
      *ngIf="patientInfo && (patientInfo.email || patientInfo.alternatePhone || (patientInfo.address && patientInfo.address[0]))">
      <ion-item lines="none">
        <ion-label>

          <p style=" margin-bottom: 8px;" *ngIf="patientInfo && patientInfo.email && accessControl && accessControl.permissions.allowToSeeContactInfo">
            <ion-icon color='success' name="mail" class="marginRight4" style="zoom: 1.3;">
            </ion-icon>
            <span style="color: #333; vertical-align: top;">{{patientInfo.email}}</span>
          </p>

          <p style="text-align: left; margin-bottom: 8px;" *ngIf="patientInfo && patientInfo.alternatePhone && accessControl">
            <ion-icon color='success' name="phone-portrait-sharp" class="marginRight4"
              style="zoom: 1.3; margin-left: -3px;"></ion-icon>
            <span style="color: #333; vertical-align: top;">{{patientInfo.alternatePhone}}</span>
          </p>


          <p *ngIf="patientInfo && patientInfo.address && patientInfo.address[0] && (patientInfo.address[0].addressLine1 || patientInfo.address[0]['landMark'] || patientInfo.address[0]['city']
           || patientInfo.address[0]['state'])" style="white-space: normal;">
            <span
              *ngIf="patientInfo && patientInfo.address && patientInfo.address[0] && patientInfo.address[0].addressLine1">{{patientInfo.address[0].addressLine1}},
            </span>
            <span *ngIf="patientInfo && patientInfo.address && patientInfo.address[0] && patientInfo.address[0].landMark">
              {{patientInfo.address[0].landMark}},
            </span>
            <span
              *ngIf="patientInfo && patientInfo.address && patientInfo.address[0] && patientInfo.address[0].city">{{patientInfo.address[0].city}},
            </span>
            <span
              *ngIf="patientInfo && patientInfo.address && patientInfo.address[0] && patientInfo.address[0].state">{{patientInfo.address[0].state}}</span>
            <span *ngIf="patientInfo && patientInfo.address && patientInfo.address[0] && patientInfo.address[0].postalCode"> -
              {{patientInfo.address[0].postalCode}}</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-card>

    <p *ngIf="startDateTime" class="ion-padding" style="color: #666;">Appt Dt: {{startDateTime}}</p>

    <ion-list style="padding: 0px; margin-top: -1.5em;" *ngIf="patientInfo">
      <ion-card class="cardStyle" *ngIf="accessControl && accessControl.permissions.Vitalcreate &&  
              includeFilters.indexOf('vitals') > -1">
        <ion-item lines="none">
          <ion-label>
            <span *ngIf="!showVitalData" class="cardHeader" style="vertical-align: super;">
              Vitals
            </span>
            <span *ngIf="showVitalData" class="chartCardText" style="vertical-align: super;">
              Vitals
            </span>

            <span *ngIf="vitalData && vitalData[0]; else vitalAdd"></span>
            <ng-template #vitalAdd>
              <ion-icon class="addBtn" (click)="navigateToVitalAddPage()" color='secondary' name="add-circle">
              </ion-icon>
            </ng-template>
            <p *ngIf="vitalRecordDate" style="margin-top: 12px;" (click)="showVitalData = !showVitalData">
              <span class='lastRecStyle'>Last Recorded:&nbsp;{{vitalRecordDate | date: 'dd MMM, HH:mm a'}} </span>
            </p>
            <p *ngIf=" !showVitalData && vitalData && vitalData[0]" style="font-size: inherit;"
              (click)="showVitalData = !showVitalData">
              <span class="headerStyle" style="color: #666;"> {{vitalData[0].name}}: &nbsp;</span>
              <span class="valueStyle" style="color: #555;">
                {{vitalData[0].value}}{{vitalData[0].unit}}
              </span>
              <span *ngIf="vitalData[0].interpretation=='Low'" style="color: var(--ion-color-danger);">L</span>
              <span *ngIf="vitalData[0].interpretation=='Normal'">N</span>
              <span *ngIf="vitalData[0].interpretation=='High'" style="color: var(--ion-color-danger);">H</span>
              <span class="valueStyle">&nbsp;more...</span>
            </p>
          </ion-label>

          <ion-icon *ngIf="!showVitalData && vitalData && vitalData[0]; else vitalDropDown"
            (click)="showVitalData = !showVitalData" name="chevron-down-outline">
          </ion-icon>
          <ng-template #vitalDropDown>
            <ion-icon *ngIf="!showVitalData" name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf="showVitalData" (click)="showVitalData = !showVitalData" name="chevron-up-outline"></ion-icon>
        </ion-item>
        <ion-card-content *ngIf="showVitalData" style="margin-top: -16px;
      max-height: 25em;
      overflow-y: scroll;
      padding: 0px; padding-top: 10px;" (click)="showVitalData = !showVitalData">
          <span *ngIf="vitalData && showVitalData">
            <ion-item *ngFor="let vital of  vitalData" lines="none" style="--min-height: 24px;">
              <ion-label style="margin: 0px;">
                <p style="font-size: inherit;">
                  <span class="headerStyle" style="color: #666;"> {{vital.name}}: &nbsp;</span>
                  <span class="valueStyle" style="color: #555;">
                    {{vital.value}} {{vital.unit}}
                  </span>
                  <span class="valueStyle" *ngIf="vital.interpretation=='Low'"
                    style="color: var(--ion-color-danger);">L</span>
                  <span class="valueStyle" *ngIf="vital.interpretation=='Normal'">N</span>
                  <span class="valueStyle" *ngIf="vital.interpretation=='High'"
                    style="color: var(--ion-color-danger);">H</span>
                </p>
              </ion-label>
            </ion-item>
          </span>
          <ion-item lines="none" style="color: var(--ion-color-secondary);" (click)="navigateToVitalAddPage()">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Vital</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="isWorklistExist" class='cardStyle' (click)="navigateToWorkListAddPage()">
        <ion-item lines="none">
          <ion-label>
            <h2><span class="cardHeader">
                Worklist
              </span>
            </h2>
            <p class="text-wrapper grayTxt" style="width: 95%;font-size: small;" *ngIf="workList">
              {{workList}}
            </p>
          </ion-label>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card class='cardStyle' *ngIf="allowAllergiesReqInChart &&  includeFilters.indexOf('allergies') > -1">
        <ion-item lines="none">
          <ion-label>
            <span *ngIf="!showAllergies" class="cardHeader">Allergies &nbsp; </span>
            <span *ngIf="showAllergies" class="chartCardText">Allergies &nbsp; </span>
            <span *ngIf="allegries; else allegriesAdd"></span>
            <ng-template #allegriesAdd>
              <ion-icon class="addBtn" (click)="selectValues('Allergies')" color='secondary' name="add-circle">
              </ion-icon>
            </ng-template>

            <p style="font-size: inherit;" *ngIf='!showAllergies' (click)='showAllergies = !showAllergies'>
              <span class="valueStyle">{{allegries}}</span>
            </p>

          </ion-label>
          <ion-icon *ngIf="!showAllergies && allegries; else allegrieDropdown" (click)="showAllergies = !showAllergies"
            name="chevron-down-outline">
          </ion-icon>
          <ng-template #allegrieDropdown>
            <ion-icon *ngIf="!showAllergies" name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf="showAllergies" (click)="showAllergies = !showAllergies" name="chevron-up-outline"></ion-icon>
        </ion-item>
        <ion-card-content *ngIf="showAllergies" style="margin-top: -16px;
      max-height: 25em;
      overflow-y: scroll;
      padding: 0px; padding-top: 10px;" (click)="showAllergies = !showAllergies">
          <ion-item *ngIf="showAllergies && allegries" lines="none" style="--min-height: 32px;">
            <ion-label style="margin: 0px;">
              <p style="font-size: inherit; white-space: break-spaces;" *ngIf='showAllergies'
                (click)='showAllergies = !showAllergies'>
                <span class="contentShowStyle">{{allegries}}</span>
              </p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" style="color: var(--ion-color-secondary);" (click)="selectValues('Allergies')">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Allergies</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle'
        *ngIf="accessControl && accessControl.permissions.GeneralNotescreate&&  includeFilters.indexOf('notes') > -1">
        <ion-item lines="none">
          <ion-label>
            <span *ngIf="!showNotes" class="cardHeader">Notes </span>
            <span *ngIf="showNotes" class="chartCardText">Notes </span>
            <span *ngIf="progressNote; else notesAdd"></span>
            <ng-template #notesAdd>
              <ion-icon class="addBtn" (click)="openNote()" color='secondary' name="add-circle"></ion-icon>
            </ng-template>
            <p *ngIf="progressNote && !showNotes" class="text-wrapper valueStyle" style="font-size: inherit;"
              (click)='showNotes = !showNotes'>
              <span class="valueStyle">click to see notes...</span>
            </p>
          </ion-label>
          <ion-icon *ngIf="!showNotes && progressNote; else noteDropdown" (click)="showNotes = !showNotes" name="chevron-down-outline">
          </ion-icon>
          <ng-template #noteDropdown>
            <ion-icon *ngIf="!showNotes" name="chevron-down-outline"></ion-icon>
          </ng-template>
          <ion-icon *ngIf="showNotes" (click)="showNotes = !showNotes" name="chevron-up-outline"></ion-icon>
        </ion-item>
        <ion-card-content class="contentShowStyle" style="padding-top: 0px;" *ngIf='showNotes && progressNote'
          (click)='showNotes = !showNotes'>
          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);" (click)="openNote()">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Notes</ion-label>
          </ion-item>
          <span style="white-space: break-spaces" *ngIf="progressNote" [innerHtml]="progressNote.clinical_notes"></span>
        </ion-card-content>
        <ion-card-content style="padding-top: 0px;" *ngIf='showNotes && !progressNote' (click)='showNotes = !showNotes'>
          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);" (click)="openNote()">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Notes</ion-label>
          </ion-item>
          <span style="white-space: break-spaces" *ngIf="progressNote" [innerHtml]="progressNote.clinical_notes"></span>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle' *ngIf="allowDiagnosisReqInChart
    &&  includeFilters.indexOf('diagnosis') > -1">
        <ion-item lines="none">
          <ion-label>

            <span *ngIf="!diagnosysShow" class="cardHeader">Diagnosis </span>
            <span *ngIf="diagnosysShow" class="chartCardText">Diagnosis
            </span>
            <span *ngIf="diagnosis; else diagnosisAdd"></span>
            <ng-template #diagnosisAdd>
              <ion-icon class="addBtn" (click)="selectValues('Diagnosis')" color='secondary' name="add-circle">
              </ion-icon>
            </ng-template>
            <p style="font-size: inherit;" *ngIf="!diagnosysShow" (click)="diagnosysShow = !diagnosysShow">
              <span class="valueStyle">{{diagnosis}}</span>
            </p>
          </ion-label>

          <ion-icon *ngIf="!diagnosysShow && diagnosis else diagnosisDropDown" (click)="diagnosysShow = !diagnosysShow"
            name="chevron-down-outline">
          </ion-icon>
          <ng-template #diagnosisDropDown>
            <ion-icon *ngIf="!diagnosysShow" name="chevron-down-outline">
            </ion-icon>
          </ng-template>

          <ion-icon *ngIf="diagnosysShow" (click)="diagnosysShow = !diagnosysShow" name="chevron-up-outline"></ion-icon>
        </ion-item>
        <ion-card-content style="padding-top: 0px;" *ngIf='diagnosysShow' (click)='diagnosysShow = !diagnosysShow'>
          <p style="font-size: inherit;" *ngIf="diagnosysShow && diagnosis" (click)='diagnosysShow = !diagnosysShow'>
            <span class="contentShowStyle">{{diagnosis}}</span>
          </p>
          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);"
            (click)="selectValues('Diagnosis')">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Diagnosis</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle' *ngIf="allowSuggPlanReqInChart &&  includeFilters.indexOf('suggplan') > -1">
        <ion-item lines="none">
          <ion-label>
            <span *ngIf="!suggPlan" class="cardHeader">Sugg. Plans </span>
            <span *ngIf="suggPlan" class="chartCardText">Sugg. Plans </span>
            <span *ngIf="suggTreatmentLabels; else suggPlanAdd"></span>
            <ng-template #suggPlanAdd>
              <ion-icon class="addBtn" (click)="selectValues('Sugg. Plans')" color='secondary' name="add-circle">
              </ion-icon>
            </ng-template>
            <p style="font-size: inherit;" *ngIf="!suggPlan" (click)="suggPlan = !suggPlan">
              <span class="valueStyle">{{suggTreatmentLabels}}</span>
            </p>
          </ion-label>
          <ion-icon *ngIf="!suggPlan && suggTreatmentLabels; else suggDropDown" (click)="suggPlan = !suggPlan" name="chevron-down-outline">
          </ion-icon>
          <ng-template #suggDropDown>
            <ion-icon *ngIf="!suggPlan" name="chevron-down-outline"></ion-icon>
          </ng-template>
          <ion-icon *ngIf="suggPlan" (click)="suggPlan = !suggPlan" name="chevron-up-outline"></ion-icon>
        </ion-item>

        <ion-card-content style="padding-top: 0px;" *ngIf='suggPlan' (click)='suggPlan = !suggPlan'>
          <p style="font-size: inherit;" *ngIf="suggPlan && suggTreatmentLabels" (click)='suggPlan = !suggPlan'>
            <span class="contentShowStyle">{{suggTreatmentLabels}}</span>
          </p>
          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);"
            (click)="selectValues('Sugg. Plans')">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Sugg. Plans</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle'
        *ngIf="accessControl && accessControl.permissions.Prescriptioncreate &&  includeFilters.indexOf('prescription') > -1">
        <ion-item lines="none">
          <ion-label>
            <h2>
              <span *ngIf="!prescriptionShow" class="cardHeader">Prescriptions </span>
              <span *ngIf="prescriptionShow" class="chartCardText">Prescriptions </span>
              <span *ngIf="medications && medications[0]; else prescriptionAdd"></span>
              <ng-template #prescriptionAdd>
                <ion-icon class="addBtn" (click)="addPrescription()" color='secondary' name="add-circle"></ion-icon>
                <ion-icon *ngIf="!prescriptionShow" class='addBtn' name="document-text"  (click)="addPrescriptionTemplate()" color='secondary' ></ion-icon>
              </ng-template>
            </h2>
            <p *ngIf="!prescriptionShow" class="text-wrapper grayTxt" style="width: 95%;font-size: small;"
              (click)="prescriptionShow = !prescriptionShow"><span *ngIf="medications"><span
                  *ngFor="let item of medications let i = index" [attr.data-index]="i">{{item.medication.medicine_name}}
                  <span *ngIf="i < medications.length-1">, </span> </span></span></p>
          </ion-label>
          <ion-icon class='addBtn marginRight10' *ngIf="prescriptionShow" name="document-text"  (click)="addPrescriptionTemplate()" color='secondary' ></ion-icon>

          <ion-icon *ngIf='prescriptionShow' color='tertiary' class="ion-padding-end" name="print" (click)="print()">
          </ion-icon>

          <ion-icon *ngIf='!prescriptionShow && medications && medications[0]; else prescriptionDropDown'
            (click)="prescriptionShow = !prescriptionShow" name="chevron-down-outline">
          </ion-icon>
          <ng-template #prescriptionDropDown>
            <ion-icon *ngIf='!prescriptionShow' name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf='prescriptionShow' (click)="prescriptionShow = !prescriptionShow" name="chevron-up-outline">
          </ion-icon>
        </ion-item>
        <ion-card-content style="padding-top: 0px;" *ngIf='prescriptionShow'
          (click)='prescriptionShow = !prescriptionShow'>

          <span *ngIf="medications">
            <ion-card class="contentCard" *ngFor="let item of medications">
              <ion-item lines="none" style="--background: rgba(249, 249, 248, 0.7);">
                <ion-label>
                  <h2 class="fontWeight500" *ngIf="item.medication && item.medication.medicine_name">
                    {{item.medication.medicine_name}}
                    <ion-icon *ngIf="item.medication.medication_id" class='ion-float-right' color='danger'
                      style="zoom: 1.6;" (click)="deletePrescription(item.medication.medication_id)"
                      name="trash-outline">
                    </ion-icon>
                  </h2>
                  <p class="ion-padding-top breakSpace" *ngIf="item.medication">Take medicine
                    <span *ngIf="item.medication.m && item.medication.m !== 0">{{item.medication.m}} at morning </span>
                    <span *ngIf="item.medication.n && item.medication.n !== 0">{{item.medication.n}} at noon </span>
                    <span *ngIf="item.medication.e && item.medication.e !== 0">{{item.medication.e}} at night</span>
                    <span *ngIf="item.medication.duration"> for {{item.medication.duration}}</span>
                    <span *ngIf="item.medication.duration_unit === 'd'"> Day(s)</span>
                    <span *ngIf="item.medication.duration_unit === 'w'"> Week(s)</span>
                    <span *ngIf="item.medication.duration_unit === 'm'"> Months(s)</span>
                    <span *ngIf="item.medication.duration_unit === 'y'"> Years(s)</span>
                    <span *ngIf="item.medication.duration_unit === 's'"> S.O.S</span>
                    <span *ngIf="item.medication.suggestion"> <span *ngIf="item.medication.suggestion === 'AF'"> after
                        food</span> <span *ngIf="item.medication.suggestion === 'BF'"> before food</span> </span>


                  </p>
                </ion-label>
              </ion-item>
            </ion-card>
          </span>

          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);"
            (click)="addPrescription();">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Medicine</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle'
        *ngIf="accessControl && accessControl.permissions.MedicalCertificate5674 && accessControl.permissions.MedicalCertificateview &&  includeFilters.indexOf('certificate') > -1">
        <ion-item lines="none">
          <ion-label>
            <h2>
              <span *ngIf="!certShow" class="cardHeader">Certificates
              </span>
              <span *ngIf="certShow" class="chartCardText">Certificates </span>
              <span *ngIf="certData && certData[0]; else certAdd"></span>
              <ng-template #certAdd>
                <ion-icon class="addBtn" (click)="addCertificate()" color='secondary' name="add-circle"></ion-icon>
              </ng-template>
            </h2>
            <!-- <p *ngIf="!certShow" class="text-wrapper grayTxt" style="width: 95%;font-size: small;" (click)="certShow = !certShow">
            <span
            *ngIf="certData && certData[0]"><span *ngFor="let item of certData let i = index"
              [attr.data-index]="i">{{item.medication.medicine_name}}
              <span *ngIf="i < medications.length-1">, </span> </span></span></p> -->
          </ion-label>
          <ion-icon *ngIf="!certShow && certData && certData[0]; else certDropDown" (click)="certShow = !certShow"
            name="chevron-down-outline"></ion-icon>
          <ng-template #certDropDown>
            <ion-icon *ngIf='!certShow' name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf="certShow" (click)="certShow = !certShow" name="chevron-up-outline"></ion-icon>
        </ion-item>

        <ion-card-content style="padding-top: 0px;" *ngIf='certShow && certData && certData[0]'
          (click)='certShow = !certShow'>
          <ion-list *ngIf="certData && certData[0]">
            <ion-card class="contentCard" *ngFor="let item of certData">
              <ion-item lines="none">
                <ion-label>
                  <h2 color="tertiary" class="fontWeight500" (click)="editCertificate(item)" *ngIf="item.certName">
                    {{item.certName}}</h2>
                </ion-label>
                <ion-icon class="ion-color ion-color-tertiary ion-padding-start" name="print" (click)="printCert(item)">
                </ion-icon>

                <ion-icon color="secondary" class=" ion-padding-start" name="share-social"
                  (click)="shareCertificate(item)"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-list>

          <ion-item
            *ngIf="accessControl && accessControl.permissions && accessControl.permissions.MedicalCertificate5674 && accessControl.permissions.MedicalCertificatecreate"
            lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);" (click)="addCertificate();">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Certificates</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle'
        *ngIf="accessControl && accessControl.permissions.Pathologycreate &&  includeFilters.indexOf('pathology') > -1">
        <ion-item lines="none">
          <ion-label>
            <span *ngIf="!pathologyShow" class="cardHeader">Pathology </span>
            <span *ngIf="pathologyShow" class="chartCardText">Pathology
            </span>
            <span *ngIf="pathologyOrdersLabels; else pathologyAdd"></span>
            <ng-template #pathologyAdd>
              <ion-icon class="addBtn" (click)="selectValues('Pathology')" color='secondary' name="add-circle">
              </ion-icon>
            </ng-template>
            <p style="font-size: inherit;" *ngIf="!pathologyShow" (click)="pathologyShow = !pathologyShow">
              <span class="valueStyle">{{pathologyOrdersLabels}}</span>
            </p>

          </ion-label>
          <ion-icon *ngIf="!pathologyShow && pathologyOrdersLabels; else pathologyDown"
            (click)="pathologyShow = !pathologyShow" name="chevron-down-outline">
          </ion-icon>
          <ng-template #pathologyDown>
            <ion-icon *ngIf="!pathologyShow" name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf="pathologyShow" (click)="pathologyShow = !pathologyShow" name="chevron-up-outline"></ion-icon>
        </ion-item>

        <ion-card-content style="padding-top: 0px;" *ngIf='pathologyShow' (click)='pathologyShow = !pathologyShow'>
          <p style="font-size: inherit;" *ngIf="pathologyShow" (click)='pathologyShow = !pathologyShow'>
            <span class="contentShowStyle">{{pathologyOrdersLabels}}</span>
          </p>
          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);"
            (click)="selectValues('Pathology')">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Pathology</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle'
        *ngIf="accessControl && accessControl.permissions.Radiologycreate &&  includeFilters.indexOf('radiology') > -1">
        <ion-item lines="none">
          <ion-label>
            <span *ngIf="!radiologyShow" class="cardHeader">Radiology </span>
            <span *ngIf="radiologyShow" class="chartCardText">Radiology
            </span>
            <span *ngIf="radiologyOrdersLabels; else radiologyAdd"></span>
            <ng-template #radiologyAdd>
              <ion-icon class="addBtn" (click)="selectValues('Radiology')" color='secondary' name="add-circle">
              </ion-icon>
            </ng-template>
            <p style="font-size: inherit;" *ngIf="!radiologyShow" (click)="radiologyShow = !radiologyShow">
              <span class="valueStyle">{{radiologyOrdersLabels}}</span>
            </p>
          </ion-label>
          <ion-icon *ngIf="!radiologyShow && radiologyOrdersLabels; else radiologyDown"
            (click)="radiologyShow = !radiologyShow" name="chevron-down-outline">
          </ion-icon>
          <ng-template #radiologyDown>
            <ion-icon *ngIf="!radiologyShow" name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf="radiologyShow" (click)="radiologyShow = !radiologyShow" name="chevron-up-outline"></ion-icon>
        </ion-item>
        <ion-card-content style="padding-top: 0px;" *ngIf='radiologyShow' (click)='radiologyShow = !radiologyShow'>
          <p style="font-size: inherit;" *ngIf="radiologyShow" (click)='radiologyShow = !radiologyShow'>
            <span class="contentShowStyle">{{radiologyOrdersLabels}}</span>
          </p>
          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);"
            (click)="selectValues('Radiology')">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Radiology</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class='cardStyle' *ngIf="includeFilters.indexOf('files') > -1">
        <ion-item lines="none">
          <ion-label>
            <span class="cardHeader">Documents
            </span>
            <span *ngIf="docData && docData[0]; else docAdd"></span>
            <ng-template #docAdd>
              <ion-icon class="addBtn" (click)="openDocument()" color='secondary' name="add-circle"></ion-icon>
            </ng-template>
          
            <p *ngIf="!docShow" class="text-wrapper grayTxt" style="width: 95%;font-size: small;"
              (click)="docShow = !docShow"><span *ngIf="docData"><span
                  *ngFor="let item of docData let i = index" [attr.data-index]="i">{{item.itemDetails.fileName}}
                  <span *ngIf="i < docData.length-1">, </span> </span></span></p>
          </ion-label>
          <ion-icon *ngIf="!docShow && docData; else docDown"
            (click)="docShow = !docShow" name="chevron-down-outline">
          </ion-icon>
          <ng-template #radiologyDown>
            <ion-icon *ngIf="!docShow" name="chevron-down-outline">
            </ion-icon>
          </ng-template>
          <ion-icon *ngIf="docShow" (click)="docShow = !docShow" name="chevron-up-outline"></ion-icon>
        </ion-item>

        <ion-card-content style="padding-top: 0px;" *ngIf='docShow' (click)='docShow = !docShow'>
          <span *ngIf="docData && docData[0]">
            <ion-card class="contentCard" *ngFor="let item of docData">
              <ion-item lines="none" style="--background: rgba(249, 249, 248, 0.7);">
                <ion-label>
                  <h2 color="tertiary" *ngIf="item.itemDetails && item.itemDetails.fileName">
                    {{item.itemDetails.fileName}}
                  </h2>
                </ion-label>
                <span class="viewDocStyle" (click)="openFile(item.itemDetails.filePath,item.itemDetails.mimeType,item.itemDetails.fileBase64,item.itemDetails.fileName)">
                  View
                  <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="300px;" frameborder="0"></iframe>
                </span>
              </ion-item>
            </ion-card>
          </span>

          <ion-item lines="none" class="ion-no-padding" style="color: var(--ion-color-secondary);"
            (click)="openDocument()">
            <ion-icon color='secondary' class="marginRight8" name="add-circle"></ion-icon>
            <ion-label class="fontWeight600 upperCase"> Add Document</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <span *ngIf="dynamicForms && includeFilters.indexOf('dynamicform-') > -1">
        <span *ngFor="let item of dynamicForms">
          <ion-card class='cardStyle'>
            <ion-item lines="none">
              <ion-label>
                <span *ngIf="item.form_code && !item.showDynamic" class="cardHeader">
                  {{item.form_code}}
                </span>
                <span *ngIf="!item.form_code && !item.showDynamic" class="cardHeader">
                  {{item.form_name}}
                </span>
                <span *ngIf="item.form_code && item.showDynamic" class="cardHeader">
                  {{item.form_code}}
                </span>
                <span *ngIf="!item.form_code && item.showDynamic" class="cardHeader">
                  {{item.form_name}}
                </span>
                <span
                  *ngIf="item.dynamicFormData && item.dynamicFormData.dynamicFormContent; else dynamicFormAdd"></span>
                <ng-template #dynamicFormAdd>
                  <ion-icon class="addBtn"
                    (click)="openForm(item.dynamic_form_id,item.dynamic_form_def_id,item.form_def, 'add')"
                    color='secondary' name="add-circle"></ion-icon>
                </ng-template>
              </ion-label>
              <ion-icon
                *ngIf="!item.showDynamic && item.dynamicFormData && item.dynamicFormData.dynamicFormContent; else dynamicDropDown"
                (click)="item.showDynamic = !item.showDynamic" name="chevron-down-outline">
              </ion-icon>
              <ng-template #dynamicDropDown>
                <ion-icon *ngIf='!item.showDynamic' name="chevron-down-outline"></ion-icon>
              </ng-template>
              <ion-icon *ngIf='item.showDynamic' (click)='item.showDynamic = !item.showDynamic'
                name="chevron-up-outline"></ion-icon>
            </ion-item>
            <ion-card-content style="padding-top: 0px;" *ngIf='item.showDynamic'
              (click)='item.showDynamic = !item.showDynamic'>

              <ion-item lines="none" class="ion-no-padding">
                <ion-icon color='secondary' class="marginRight8" name="add-circle"
                  (click)="openForm(item.dynamic_form_id,item.dynamic_form_def_id,item.form_def, 'add')"></ion-icon>
                <ion-label>
                  <span class="fontWeight600 upperCase" style="color: var(--ion-color-secondary);"
                    (click)="openForm(item.dynamic_form_id,item.dynamic_form_def_id,item.form_def, 'add')">
                    Add
                  </span>
                </ion-label>
              </ion-item>

              <ion-card class="contentCard contentShowStyle ion-padding" style="background: rgba(249, 249, 248, 0.7);">
                <div *ngIf="item.dynamicFormData && item.dynamicFormData.dynamicFormContent">

                  <ion-icon *ngIf="item.dynamic_form_id && item.dynamic_form_id !== 0 && item.dynamic_form_id !== ''"
                    (click)="openForm(item.dynamic_form_id,item.dynamic_form_def_id,item.form_def, 'edit')"
                    name="create" style="zoom: 1.8;float: right;" color="secondary">
                  </ion-icon>

                  <span *ngFor="let itemContent of item.dynamicFormData.dynamicFormContent;let f=index">
                    <h4 style="color: #333; padding-bottom: 4px; text-transform: capitalize;">{{itemContent.sectionName}}
                    </h4>

                    <span *ngFor="let secitem of itemContent.sectionContent;let i=index">

                      <span *ngIf="secitem.visible==='Show'">

                        <ion-label *ngIf="secitem.field_type!=='Information' &&  secitem.field_type!=='Table'
                            && secitem.field_type!=='Image'  && secitem.value">
                          <p style="padding-left: 16px;">
                            <span *ngIf="secitem.field_label" class="normalColor">{{secitem.field_label}}&nbsp;</span>
                            <span class="valueColor">{{secitem.value}}</span>
                          </p>
                        </ion-label>

                        <ion-label *ngIf="secitem.field_type==='Information'">
                          <ion-col class="normalColor">{{secitem.field_label}}</ion-col>
                          <ion-col class="valueColor">{{secitem.default_value}}</ion-col>

                        </ion-label>

                        <ion-list *ngIf="secitem.field_type==='Table'" style="background: rgba(249, 249, 248, 0.7);">
                          <ion-label style="color: #333;">{{secitem.field_label}} </ion-label>
                          <div>
                            <p *ngIf="secitem.rowContentValuesList">
                              <span *ngFor="let fields of secitem.rowContentValuesList;let j=index">
                                <span *ngIf="fields">
                                  <span *ngFor="let elem of fields.row;let k=index">
                                    <ion-item style="--min-height: 32px; --background: rgba(249, 249, 248, 0.7);"
                                      lines='none'>
                                      <ion-label *ngIf="elem.fieldVal==' #'" style="margin: 0px;">
                                        {{elem.value}}
                                      </ion-label>
                                      <p *ngIf="elem.fieldVal !=' #'" style="color: #555;">
                                        {{elem.fieldVal}}:- {{elem.value}}
                                      </p>

                                    </ion-item>
                                  </span>
                                </span>
                              </span>
                            </p>
                          </div>
                        </ion-list>
                      </span>
                    </span>

                  </span>

                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </span>
      </span>
    </ion-list>

    <div id="getCertElementValue" style="display: none;">
      <div class="ion-padding" *ngIf="currentDate">
        {{currentDate}}
      </div>
      <div *ngIf="certPrintData" class="ion-padding">
        {{certPrintData}}
      </div>
    </div>
  </div>

  <div id="getElementValue" *ngIf="printSettings" style="display: none;">
    <div style="width: 100%; float: left; border-bottom: 1px solid black;"
      *ngIf="organizationData.showHeader && printSettings.other_prescriptionheaderhide">
      <div style="width: 400px;  float: left;" *ngIf="careCenterData">
        <img *ngIf="organizationData && organizationData.url" src="{{organizationData.url}}" alt="Ionic logo"
          style="width: 150px; float: left;">
        <img *ngIf="!organizationData.url" src="./assets/img/logo2X.png" alt="Ionic logo" style="width: 150px; float: left;">

        <h5  style="margin: 0px;">{{careCenterData.careCenterName}}
        </h5>
        <span *ngIf="careCenterData.address">
          <p *ngIf="careCenterData.address" class="sub-name capitalize " style="margin: 0px;"><span
              *ngIf="careCenterData.address.addressLine1">{{careCenterData.address.addressLine1}}</span><span
              *ngIf="careCenterData.address.addressLine2"><br>{{careCenterData.address.addressLine2}}</span></p>
          <p *ngIf="careCenterData.address" class="sub-name capitalize " style="margin: 0px;"><span
              *ngIf="careCenterData.address.city">{{careCenterData.address.city}}</span><span
              *ngIf="careCenterData.address.state">, {{careCenterData.address.state}}</span></p>
          <p *ngIf="careCenterData.address" class="sub-name capitalize " style="margin: 0px;"><span
              *ngIf="careCenterData.address.country">{{careCenterData.address.country}}</span><span
              *ngIf="careCenterData.address.postalCode">, {{careCenterData.address.postalCode}}</span></p>
        </span>
      </div>
      <div *ngIf="careCenterData">
        <div style="width: 300px; float: right; text-align: right;" *ngIf="careCenterData.address">
          <p  style="margin: 0px;" *ngIf="careCenterData.phoneNumber"> {{careCenterData.phoneNumber}} </p>
          <p  style="margin: 0px;" *ngIf="organizationData && organizationData.address && organizationData.address.phoneNumber"> {{organizationData.address.phoneNumber}} </p>
          <p  style="margin: 0px;" *ngIf="careCenterData.email"> {{careCenterData.email}} </p>
          <p  style="margin: 0px;" *ngIf="careCenterData.website">{{careCenterData.website}} </p>
          <p  style="margin: 0px;" *ngIf="prescription && prescription.date_created"> {{prescription.date_created}} </p>
        </div>
      </div>
      <p></p>
    </div>

    <div style="width: 100%; float: left; margin-top: 30px; border-bottom: 1px solid black;">
      <div style="width: 300px; height: 150px; float: left;">
        <h5> {{patientInfo.title}} {{patientInfo.name}}, <span>{{patientInfo.age}} </span>
          <span>{{patientInfo.gender}}</span>
        </h5>
        <p><span>PID: </span> <span>{{patientInfo.localId}}</span></p>
        <p *ngIf="patientInfo && patientInfo.address">{{patientInfo.address.addressLine1}}</p>
        <p *ngIf="patientInfo && patientInfo.address">{{patientInfo.address.addressLine2}}</p>
        <p *ngIf="patientInfo && patientInfo.address">{{patientInfo.address.city}}</p>
        <p *ngIf="patientInfo && patientInfo.address"> {{patientInfo.address.state}}</p>
        <p *ngIf="accessControl && accessControl.permissions && accessControl.permissions.CustomerContactInfo5674 && accessControl.permissions.CustomerContactInfoview && patientInfo && patientInfo.telephone && checkedTelephoneNo">{{checkedTelephoneNo}}</p>
        <p
          *ngIf="printSettings.prescription_showPatientWeight && prescription && prescription.weight && prescription.weightscale">
          <span>Weight: </span><span>{{prescription.weight}} {{prescription.weightscale}}</span>
        </p>
      </div>
      <div style="width: 300px; height: 150px;  float: right; text-align: right;">
        <p *ngIf="encounterId" ><span>Visit ID: </span><span>{{encounterId}}</span></p>
        <p *ngIf="prescription && prescription.providername"><span>Prescribed By: </span><span>{{prescription.providername}}</span></p>
        <p *ngIf="printSettings.prescription_showRegistrationNumber && prescription && prescription.registration_id">
          <span>Registration No: </span><span>{{prescription.registration_id}}</span>
        </p>
        <p *ngIf="printSettings.prescription_showQualification && prescription && prescription.pdegree">
          <span>Qualification: </span> <span>{{prescription.pdegree}}</span>
        </p>
        <p *ngIf="prescription && prescription.date_created"><span>Prescribed On: </span>
          <span>{{prescription.date_created | date: 'dd/MM/yy, HH:mm a' }}</span>
        </p>
      </div>
    </div>
    <div style="width: 100%; float: left; margin-top: 30px;">
      <table *ngIf="medications" style=" width: 100%;">
        <thead>
          <tr style="border: 1px solid black; width: 100%; background-color: rgb(173, 179, 178)">
            <th style="width: 20%;">Medicine</th>
            <th style="width: 20%;">Duration</th>
            <th *ngIf="!isMCI" style="width: 15%;">Dosage</th>
            <th style="width: 15%;">Quantity</th>
            <th style="width: 30%;" *ngIf="printSettings.prescription_hideMedicineInstruction" style="width: 25%;">
              Instruction</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of medications" style="width: 100%;">
          <tr style="width: 100%; border-bottom: 1px solid black !important;">
            <td style=" width: 20%; border-bottom: 1px solid black !important; margin: 10px; text-align: center;">
              {{item.medication.medicine_name}} {{item.medication.strength}} {{item.medication.strength_unit}}</td>
            <td style="width: 20%; border-bottom: 1px solid black !important; margin: 10px; text-align: center;"> <span
                *ngIf="item.medication.duration">{{item.medication.duration}}
                <span *ngIf="item.medication.duration_unit=='d'">Day(s)</span><span
                  *ngIf="item.medication.duration_unit=='w'">Week(s)</span><span
                  *ngIf="item.medication.duration_unit=='m'">Month(s)</span>
                <span *ngIf="item.medication.duration_unit=='y'">Year(s)</span><span
                  *ngIf="item.medication.duration_unin=='s'">S.O.S</span>
              </span>
            </td>
            <td *ngIf="!isMCI"
              style="width: 15%; border-bottom: 1px solid black !important; margin: 10px5px; text-align: center;">
              <span>{{item.medication.m}}-{{item.medication.n}}-{{item.medication.e}}</span>
              <span *ngIf="item.medication.suggestion">{{item.medication.suggestion}}</span>
            </td>
            <td style="width: 15%; border-bottom: 1px solid black !important; margin: 10px; text-align: center;">
              {{item.medication.quantity}} </td>
            <td style="width: 30%; border-bottom: 1px solid black !important; margin: 10px;"
              *ngIf="printSettings.prescription_hideMedicineInstruction"> {{item.medication.dosage_instruction}} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="width: 95%; float: left; margin-top: 60px;">
      <div style="width: 300px; height: 100px; float: right; text-align: right;">
        <p>Signature</p>
      </div>
    </div>

    <div style="width: 100%; float: left; margin-top: 50px;">
      <p>{{printSettings.prescriptionfootnote}}<span *ngIf="printSettings.prescriptionfootnote==''">Powered by
          DocEngage</span></p>
    </div>

  </div>

  <ion-fab *ngIf="status !== 'Completed'"  vertical="bottom" horizontal="end" slot="fixed" class="md fab-horizontal-end fab-vertical-bottom hydrated">
    <ion-buttons slot="" class="sc-ion-buttons-md-h sc-ion-buttons-md-s md hydrated" style="padding-bottom: 16px;"
      (click)="checkoutAppt();">
      <button icon-only="" class="checkOutBtn">
        Check out
      </button>
    </ion-buttons>
  </ion-fab>
</ion-content>