// button{
//     color: #fff;
//     background: #351F65;
//    font-weight: bold;
//    font-size: small;
// }
.header-md::after {
    background-image: none !important;
}

.header-ios ion-toolbar:last-of-type{
    --border-width: 0px;
}

.checkOutButton {
    height: 2em;
    font-size: small;
    background: #f53d3d;
    color: #fff;
    font-weight: 800;
    margin-right: 12px;
    box-shadow: -1px -2px 5px 0px #0000005c;
    margin-top: -9px;
}

.itemStyle{
    box-shadow: 0px 0px 10px 0px #0000001f;
    margin: 0.9em;
}
.grayTxt{
    color: #777474;
    width: 60%;
}
.footerCheckout{
    background: #FFEDED;
    text-align: center;
    padding: 3%;
    font-weight: 500;
    color: var(--ion-color-danger);
}
h3{
    color: #333;
}
.fabButton {
    margin-bottom: 12px;    
    color: #374047;
    --background: #fff;
    text-transform: none;
    font-weight: 400;
    --box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    letter-spacing: inherit;
}
.btnStyle{
    // color: #fff;
    background: #fff;
   font-weight: bold;
   font-size: small;
}
.sideLine{
    width: 3px;
    min-width: 3px;
    min-height: 5em;
    border-radius: 1px;
    background: var(--ion-color-warning);
}
.cardStyle {
    box-shadow: 0px 0px 12px rgb(115 100 148 / 20%) !important;
    border-radius: 8px !important;
    margin: 20px 1em !important;
}
.contentCard {
    border: 1px solid #E1E0E3;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
    margin: 16px 0px;
}
.cardHeader {
    color: var(--ion-color-primary);
    text-transform: uppercase;
    font-size: 16px;
    vertical-align: super;
}
.lastRecStyle {
    font-size: 14px;
    color: var(--ion-color-secondary);
    padding-top: 12px;
}

.sc-ion-label-md-s p {
    font-size: 16px !important;
}
.headerCard {
    height:7em;
    border-left: 8px solid #f9d000;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-top: 0px !important;
}

.pdfIcon {
    padding: 6px;
    border: 1px solid;
    border-radius: 8px;
    background: #2D81B9;
    color: #FFF;
    font-weight: 800;
}
.extraSpace {
    ion-buttons{
        padding-right: 8px;
    }
}

.addBtn {
    margin-left: 8px;
    font-size: 24px;
}
.headerColor{
    color: #333 !important;
 }
 .valueColor{
     color: #555 !important;
 }
 .normalColor{
     color:#666 !important;
 }
 .marginRight10{
    margin-right: 10px;
 }