.serviceTypeLabel{
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold;
}
.listedBoxStyle{
    border: 1px solid #1abc9c;
    margin: 10px 12px;
}
.dropDownStyle{
    margin-left: 4px;
    position: absolute;
    top: 10px;
}