<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="1">
        <ion-buttons color="primary">
        <ion-button icon-only (click)="dismiss(false)">
          <ion-icon style="zoom: 1;" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
      <ion-col size="10"><ion-title class="ion-text-center">Service</ion-title></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar class="ion-no-border-top" color="primary">
    <ion-searchbar color="light" [(ngModel)]="searchTerm" class="ion-focus-me ion-float-left" (ionChange)="onSearchInput()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="alpha-list-page ion-no-bounce">
  <ion-list *ngIf="selectedFilters && selectedFilters.length > 0">
    <span *ngFor="let item of selectedFilters; let i = index" [attr.data-index]="i">
      <ion-badge class="marginLeft5 ion-margin-top"><span>{{item.service_name}}</span>
        <ion-icon name="close" class="marginLeft5" (click)="unselectItem(item.health_service_template_id)"></ion-icon>
      </ion-badge>
    </span>
  </ion-list>
  <span *ngIf="!isSearch">
    <span *ngIf="isMultiple">
      <span *ngFor="let serv of serviceList">
        <ion-list *ngIf="serv && serv.service_type" class="cardStyle">
          <ion-label class="serviceTypeLabel" (click)="changeServiceByType(serv.service_type, '')">
            <span>{{serv.service_type}}</span>
            <span *ngIf="clickedType === serv.service_type" class="pull-right marginLeft4">
              <ion-icon name="caret-up-outline"></ion-icon>
            </span>
            <span *ngIf="clickedType !== serv.service_type" class="pull-right marginLeft4">
              <ion-icon name="caret-down-outline"></ion-icon>
            </span>
          </ion-label>
          <span *ngIf="clickedType == serv.service_type">
            <ion-toolbar>
              <ion-searchbar [(ngModel)]="searchService" class="ion-focus-me ion-float-left"
                (ionChange)="searchServiceData(serv.service_type, searchService)"></ion-searchbar>
            </ion-toolbar>


            <span *ngFor="let item of serviceTypeList;let j = index">
              <ion-item (click)='serviceSelected(item);'>
                {{item.service_name}} <span class="float-right"> ( &#8377; {{item.service_cost}} ) </span>
              </ion-item>
            </span>
          </span>

        </ion-list>
      </span>
    </span>
    <span *ngIf="!isMultiple">
      <ion-list *ngFor="let serv of serviceList">
        <ion-label class="serviceTypeLabel"> {{serv.serviceType}} : </ion-label>
        <ion-item *ngFor="let item of serv.services" (click)="serviceSelected(item);">
          {{item.service_name}} <span class="ion-float-right"> ( &#8377; {{item.service_cost}} ) </span>
        </ion-item>
      </ion-list>
    </span>
  </span>
  <span *ngIf="isSearch && serviceSearchList !== ''">
    <ion-list *ngFor="let serv of serviceSearchList">
      <ion-item (click)="serviceSelected(serv);">
        {{serv.service_name}} <span class="float-right"> ( &#8377; {{serv.service_cost}} ) </span>
      </ion-item>
    </ion-list>
  </span>

  <ion-list-header *ngIf="serviceSearchList === '' && isSearch " class="graytxt textCenter font22">
    <h3 class="ion-text-center">No Services Found!</h3>
  </ion-list-header>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-infinite-scroll (ionInfinite)="loadServiceType($event)" *ngIf="isMoreServiceType && !serviceType">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>