<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <button (click)="goBack();">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{patientName}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content style="font-size: smaller;" class="ion-padding-horizontal">
  <ion-list>


    <div *ngIf="referenceType=='DynamicForm' && item ">
      <h3><b class="lessGray">{{item.form_name}}</b></h3>
      <span *ngIf="item.content">

        <span *ngFor="let item1 of item.content;let f=index">
          <h4>{{item1.sectionName}}</h4>

          <span *ngFor="let secitem of item1.sectionContent;let i=index">

            <span *ngIf="secitem.visible==='Show'">
              <ion-row>
                <ion-item *ngIf="secitem.field_type!=='Information' &&  secitem.field_type!=='Table'
                  && secitem.field_type!=='Image'  && secitem.value">
                  <ion-col class="lessGray" size='4'> {{secitem.field_label}}</ion-col>
                  <ion-col size="7">{{secitem.value}}</ion-col>
                </ion-item>

                <ion-item *ngIf="secitem.field_type==='Information'">
                  <ion-col class="lessGray" size='4'>{{secitem.field_label}}</ion-col>
                  <ion-col size='7'>{{secitem.default_value}}</ion-col>

                </ion-item>
              </ion-row>

              <ion-list *ngIf="secitem.field_type==='Table'">
                <ion-label stacked>{{secitem.field_label}} </ion-label>
                <div>
                  <p>
                    <span *ngFor="let fields of secitem.rowContentValuesList;let j=index">
                      <span *ngFor="let elem of fields.row;let k=index">
                        <ion-item *ngIf="elem.fieldVal=='#'" (click)="openColumns(f,i,j)">
                          {{elem.value}}
                          <ion-icon name='arrow-forward-outline' class='ion-float-right'></ion-icon>
                        </ion-item>
                      </span>
                    </span>
                  </p>
                </div>
              </ion-list>
            </span>
          </span>

        </span>

      </span>
    </div>
    <div *ngIf="referenceType=='planneditem' && item ">
      <h3>Appointment
        <ion-badge class='ion-float-right ion-text-capitalize' color="secondary" outline *ngIf="item.status=='CheckedIn'">In-Progress
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="secondary" *ngIf="item.status=='InProgress'">Engaged</ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="tertiary" *ngIf="item.status=='Completed'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="warning" *ngIf="item.status=='Scheduled'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="danger" *ngIf="item.status=='NoShows' || item.status=='Canceled'">
          {{item.status}}</ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="warning" *ngIf="item.status=='Pending'">{{item.status}}
        </ion-badge>
      </h3>

      <h6>{{item.serviceName}}</h6>
      <p>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</p>
      <p *ngIf="item.performer">With {{item.performer.name}} - {{item.performer.employeeId}}</p>
<p>
        <span class="ion-text-wrapper" *ngIf="item.startTime && (item.status=='Pending' ||
        item.status=='Scheduled' || item.status=='NoShows' || item.status=='Canceled')
          ">Check In Time: {{item.startTime | date: 'hh:mm a' }}</span>
        <span class="ion-text-wrapper" *ngIf="item.startTime && (item.status=='CheckedIn' ||
          item.status=='InProgress' || item.status=='Completed')
            ">Checked In: {{item.startTime | date: 'hh:mm a' }}</span>
        <span class="ion-text-wrapper" *ngIf="item.endTime
        && (item.status=='Completed')">Checked Out: {{item.endTime | date: 'hh:mm a' }}</span></p>


    </div>

    <div *ngIf=" (referenceType=='progressnote' || referenceType=='instruction'
      || referenceType=='clinicalnote' || referenceType=='history') && item ">
      <h3> Notes</h3>
      <h6>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</h6>

      <p><span class='ion-text-capitalize' *ngIf="item.noteType">{{item.noteType}}:</span>
        <span [innerHtml]="item.notes"></span></p>
      <p *ngIf="item.suggestedplans && item.suggestedplans.length > 0">
        <span class='ion-text-capitalize'>Suggested Plans:</span>
        <ion-row *ngFor="let values of item.suggestedplans; let i = index" [attr.data-index]="i">
          <ion-col>{{i+1}}. {{values.value}}</ion-col>
        </ion-row>
      </p>
    </div>

    <div *ngIf="referenceType=='activity' && item ">
      <h3>Activity
        <ion-badge class='ion-float-right' color="secondary" *ngIf="item.status=='Completed'">C</ion-badge>
        <ion-badge class='ion-float-right' *ngIf="item.status=='Scheduled'">S</ion-badge>
      </h3>
      <h3>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</h3>

      <p><span *ngIf="item.serviceName">{{item.serviceName}}</span>
        <span *ngIf="!item.serviceName">{{item.title}} from {{item.startTime | date: 'dd MMM,HH:mm a' }} to
          {{item.endTime | date: 'dd MMM,HH:mm a' }}</span>
      </p>
    </div>

    <div *ngIf="referenceType=='laborder'  && item ">
      <h3>Laborder
        <ion-badge class='ion-float-right ion-text-capitalize' color="standared" *ngIf="item.status!='Cancelled'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="danger" *ngIf="item.status=='Cancelled'">{{item.status}}
        </ion-badge>
      </h3>
      <h6>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</h6>
      <p>
        <ion-row>
          <ion-col size='1'>#</ion-col>
          <ion-col size='8'>Items</ion-col>
          <ion-col size='3'></ion-col>
        </ion-row>
        <ion-row *ngFor="let values of item.lineItems; let i = index" [attr.data-index]="i">
          <ion-col size='1'>{{i+1}}</ion-col>
          <ion-col size='8' class="text-wrapper  ion-text-capitalize">{{values.component_name}}
          </ion-col>
          <ion-col size='3' class='ion-text-capitalize'>{{values.status}}</ion-col>
        </ion-row>
      </p>
    </div>

    <div *ngIf="referenceType=='estimated'  && item ">
      <h3>Estimated
        <ion-badge class='ion-float-right ion-text-capitalize' color="standared" *ngIf="item.status!='Cancelled'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="danger" *ngIf="item.status=='Cancelled'">{{item.status}}
        </ion-badge>
      </h3>
      <h6>Ref: {{item.estimationRef}} . </h6>
      <p>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</p>
      <p>
        <ion-row>
          <ion-col size='1'>#</ion-col>
          <ion-col size='3'>Date</ion-col>
          <ion-col size='5'>Items</ion-col>
          <ion-col size='3'></ion-col>
        </ion-row>
        <ion-row *ngFor="let values of item.lineItems; let i = index" [attr.data-index]="i">
          <ion-col size='1'>{{i+1}}</ion-col>
          <ion-col size='3' class='ion-text-capitalize'>{{values.date_performed | date: 'dd MMM' }}</ion-col>
          <ion-col size='5' class="ion-text-wrapper ion-text-capitalize">{{values.service_name}} ({{values.quantity}})
          </ion-col>
          <ion-col size='3' class="ion-text-wrapper ion-text-capitalize">{{values.status}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size='2'></ion-col>
          <ion-col size='5'>
            <ion-item ion-no-lines class="ion-float-right">Final Amt:</ion-item>
          </ion-col>
          <ion-col size='5'>
            <ion-item no-lines>{{item.currencySymbol}}&nbsp;{{item.estimationFinalAmount}}</ion-item>
          </ion-col>
        </ion-row>
      </p>
    </div>


    <div *ngIf="referenceType=='medication'  && item ">
      <h3>Medication
        <ion-badge class='ion-float-right ion-text-capitalize' color="standared" *ngIf="item.status!='Cancelled'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="danger" *ngIf="item.status=='Cancelled'">{{item.status}}
        </ion-badge>
      </h3>
      <h6>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</h6>
      <p>
        <ion-row>
          <ion-col size='2' class="boldSubheading">#</ion-col>
          <ion-col size='7' class="boldSubheading">Medicine</ion-col>
          <ion-col size='3'>Status</ion-col>
        </ion-row>
        <ion-row *ngFor="let vitem of item; let i = index" [attr.data-index]="i">
          <ion-col size='2'>{{i+1}}.</ion-col>
          <ion-col size='7'  class="ion-text-wrapper ion-text-capitalize">
            {{vitem.medicineName}}-{{vitem.strength}}{{vitem.strengthUnit}}
            ({{vitem.quantity}})</ion-col>
          <ion-col size='3' class='ion-text-capitalize'>{{vitem.medicineStatus}}</ion-col>
        </ion-row>
      </p>
    </div>


    <div *ngIf="referenceType=='careplan'  && item ">
      <h3>Careplan
        <ion-badge class='ion-float-right ion-text-capitalize' color="standared" *ngIf="item.status!='Cancelled'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="danger" *ngIf="item.status=='Cancelled'">{{item.status}}
        </ion-badge>
      </h3>
      <h6>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</h6>
      <p>
        <ion-row>
          <ion-col size='1'>#</ion-col>
          <ion-col size='6'>Planned Items</ion-col>
          <ion-col size='5'></ion-col>
        </ion-row>
        <ion-row *ngFor="let values of item.carePlanItems; let i = index" [attr.data-index]="i">
          <ion-col size='1'>{{i+1}}</ion-col>
          <ion-col size='6'  class="ion-text-wrapper ion-text-capitalize"><span *ngIf="values.item_type == 'service'">
              {{values.service_name}}
            </span>
            <span *ngIf="values.item_type == 'product'">
              {{values.medicine_name}}
            </span>
            <span *ngIf="values.item_type == 'activity'">
              {{values.activitytitle}}
            </span>
            <span *ngIf="values.item_type == 'note'">
              <span *ngFor="let notes of values.clinical_notes_list">
                <span *ngIf="notes.Type">{{notes.Type}}:</span><span [innerHtml]="notes.note"></span>
              </span>

            </span></ion-col>
          <ion-col size='5' class='ion-text-capitalize'>
            <div *ngIf="values.item_type == 'service'">
              {{values.status}}
            </div>
            <div *ngIf="values.item_type == 'product'">
              {{values.status}}
            </div>
            <div *ngIf="values.item_type == 'activity'">
              {{values.activitystatus}}
            </div>
            <div *ngIf="values.item_type == 'note'">
              {{values.notestatus}}
            </div>
          </ion-col>
        </ion-row>
      </p>
    </div>


    <div *ngIf="referenceType=='vitals'  && item ">
      <h3>Vitals</h3>
      <h6 *ngIf="item[0]">{{item[0].effectiveDateTime | date: 'dd/MM/yy, HH:mm a' }}</h6>
      <p>
        <ion-row>
          <ion-col size='5' class="boldSubheading">Name</ion-col>
          <ion-col size='4' class="boldSubheading">Value</ion-col>
          <ion-col size='3'></ion-col>
        </ion-row>
        <ion-row *ngFor="let vitem of item">
          <ion-col size='5'  class="ion-text-wrapper ion-text-capitalize">
            <span *ngIf="vitem.name=='heartRate'">Resp. Rate</span> <span
              *ngIf="vitem.name!='heartRate'">{{vitem.name}}</span></ion-col>
          <ion-col size='4' class="text-wrapper">{{vitem.value}}{{vitem.unit}}</ion-col>
          <ion-col size='3' class="ion-text-capitalize" style="margin-top: -10px;"><span *ngIf="vitem.interpretation=='Low'">
              <button ion-button color="danger" small clear class="margin-top-5">Low</button></span>
            <span *ngIf="vitem.interpretation=='Normal'">
              <button ion-button color="dark" small clear class="margin-top-5">Normal</button></span>
            <span *ngIf="vitem.interpretation=='High'"><button ion-button small color="danger" clear
                class="margin-top-5">High</button></span></ion-col>
        </ion-row>
      </p>
    </div>

    <div *ngIf="referenceType=='payments'  && item ">
      <h3> Payment </h3>
      <h6> Ref: {{item.paymentRef}} </h6>
      <p> {{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }} </p>

      <p>Amount Paid: {{item.paidAmount}} by {{item.modeOfPayment}}</p>

    </div>

    <div *ngIf="referenceType=='invoiced'  && item ">
      <h3>Invoice
        <ion-badge class='ion-float-right ion-text-capitalize' color="standared" *ngIf="item.status!='Cancelled'">{{item.status}}
        </ion-badge>
        <ion-badge class='ion-float-right ion-text-capitalize' color="danger" *ngIf="item.status=='Cancelled'">{{item.status}}
        </ion-badge>
      </h3>
      <h6>Ref: {{item.invoiceRef}} </h6>
      <p>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</p>
      <p>
        <ion-row>
          <ion-col size='1'>#</ion-col>
          <ion-col size='3'>Date</ion-col>
          <ion-col size='5'>Items</ion-col>
          <ion-col size='3'></ion-col>
        </ion-row>
        <ion-row *ngFor="let values of item.lineItems; let i = index" [attr.data-index]="i">
          <ion-col size='1'>{{i+1}}</ion-col>
          <ion-col size='3' class='ion-text-capitalize'>{{values.date_performed | date: 'dd MMM' }}</ion-col>
          <ion-col size='5'  class="ion-text-wrapper ion-text-capitalize">{{values.service_name}} ({{values.quantity}})
          </ion-col>
          <ion-col size='3' class="ion-text-wrapper ion-text-capitalize">{{values.status}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='2'></ion-col>
          <ion-col size='5'>
            <ion-item class='ion-no-lines ion-float-right'>Final Amt:</ion-item>
          </ion-col>
          <ion-col size='5'>
            <ion-item no-lines>{{item.currencySymbol}}&nbsp;{{item.invoiceFinalAmount}}</ion-item>
          </ion-col>
        </ion-row>
      </p>
    </div>
    <div *ngIf="referenceType=='files' && item ">
      <h3>{{item.fileName}} Document
      </h3>
      <h3>{{item.performDateTime | date: 'dd/MM/yy, HH:mm a' }}</h3>
      <p>
        <button ion-button (click)="openFile(item.filePath,item.mimeType,item.fileBase64,item.fileName)">
          Click here to View
        </button>


        <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="300px;" frameborder="0"></iframe>

      </p>

    </div>
  </ion-list>
</ion-content>