<ion-header primary>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <button icon-only (click)="dismiss(false)">
            <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
         </button>
      </ion-buttons>
  <ion-title class="ion-text-center"> Prescriptions</ion-title>
      <!-- <ion-buttons slot='end'>
          <button ion-button icon-only (click)="addPrescription()">
                  <ion-icon name="add-circle"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons slot='end'>
          <button ion-button icon-only (click)="print()">
              <ion-icon name="md-print"></ion-icon>
          </button>
      </ion-buttons> -->

      <ion-buttons slot='end' style="zoom: 1.6;">
        <!-- <button ion-button icon-only (click)="addPrescription()" style="font-size: 15px;">
          <ion-icon name="add-circle"></ion-icon>
        </button> -->
          <button ion-button icon-only (click)="print()">
            <ion-icon style="zoom: 1.2;" name="print"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="has-header">
      <ion-list *ngIf="medications">
          <ion-card *ngFor="let item of medications" class="cardStyle">
          <ion-item lines="none">
            <ion-label>
              <h3>{{item.medication.medicine_name}} <span *ngIf="item.medication.category_type < 2 && item.medication.strength && item.medication.strength != null">- {{item.medication.strength}}</span>
                  <span *ngIf="item.medication.category_type < 2 &&  item.medication.strength_unit && item.medication.strength_unit != null">{{item.medication.strength_unit}}</span></h3>
              <p>
                  <span *ngIf="item.medication.category_type < 2 && !isMCI">
                      <span >{{item.medication.m}}-{{item.medication.n}}-{{item.medication.e}}</span>
                      <span *ngIf="item.medication.suggestion">{{item.medication.suggestion}}</span>
                  </span>
                  <ion-icon *ngIf="item.medication.medication_id" class='ion-float-right' color='danger' style="zoom: 1.6;" (click)="deletePrescription(item.medication.medication_id)" name="trash-outline"></ion-icon>
              </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-list>

      <div id="getElemnetVal" *ngIf="printSettings" style="display: none;">
              <div style="width: 100%; float: left; border-bottom: 1px solid black;" *ngIf="printSettings.other_prescriptionheaderhide">
                  <div style="width: 300px;  float: left;" *ngIf="careCenterData">
                      <img *ngIf="careCenterData.url" src="{{careCenterData.url}}" alt="Ionic logo" style="width: 150px;">
                      <img *ngIf="!careCenterData.url" src="./assets/img/logo2X.png" alt="Ionic logo" style="width: 150px;">

                      <h5>{{careCenterData.displayName}}
                      </h5>
                      <span *ngIf="careCenterData.address" >
                          <p  *ngIf="careCenterData.address" class="sub-name capitalize"><span *ngIf="careCenterData.address.addressLine1">{{careCenterData.address.addressLine1}}</span><span *ngIf="careCenterData.address.addressLine2"><br>{{careCenterData.address.addressLine2}}</span></p>
                          <p  *ngIf="careCenterData.address" class="sub-name capitalize"><span *ngIf="careCenterData.address.city">{{careCenterData.address.city}}</span><span *ngIf="careCenterData.address.state">, {{careCenterData.address.state}}</span></p>
                          <p  *ngIf="careCenterData.address" class="sub-name capitalize"><span *ngIf="careCenterData.address.country">{{careCenterData.address.country}}</span><span *ngIf="careCenterData.address.postalCode">, {{careCenterData.address.postalCode}}</span></p>
                      </span>
                  </div>
                  <div *ngIf="careCenterData">
                  <div style="width: 300px; float: right; text-align: right;" *ngIf="careCenterData.address">
                      <p *ngIf="careCenterData.phoneNumber"> {{careCenterData.phoneNumber}} </p>
                      <p *ngIf="careCenterData.email"> {{careCenterData.email}} </p>
                      <p *ngIf="careCenterData.website">{{careCenterData.website}}  </p>
                      <p> {{prescription.date_created}} </p>
                  </div>
                  </div>
                  <p></p>
              </div>

              <div style="width: 100%; float: left; margin-top: 30px; border-bottom: 1px solid black;">
                      <div style="width: 300px; height: 150px; float: left;">
                          <h5> {{patientInfo.title}} {{patientInfo.name}}, <span>{{patientInfo.age}}</span> <span>{{patientInfo.gender}}</span></h5>
                          <p><span>PID :</span> <span>{{patientInfo.localId}}</span></p>
                          <p *ngIf="patientInfo.address">{{patientInfo.address.city}}</p>
                          <p *ngIf="patientInfo.address"> {{patientInfo.address.state}}</p>
                          <p>{{patientInfo.telephone}}</p>
                          <p  *ngIf="printSettings.prescription_showPatientWeight"><span>Weight: </span><span>{{prescription.weight}} {{prescription.weightscale}}</span></p>
                      </div>
                      <div style="width: 300px; height: 150px;  float: right; text-align: right;">
                          <p><span>Prescribed By :</span><span>{{prescription.providername}}</span></p>
                          <p *ngIf="printSettings.prescription_showRegistrationNumber && prescription.registration_id"><span>Registration No: </span><span>{{prescription.registration_id}}</span></p>
                          <p *ngIf="printSettings.prescription_showQualification && prescription.pdegree"><span>Qualification: </span> <span>{{prescription.pdegree}}</span></p>
                          <p><span>Prescribed On: </span> <span>{{prescription.date_created | date: 'dd/MM/yy, HH:mm a' }}</span></p>
                      </div>
              </div>
      <div style="width: 100%; float: left; margin-top: 30px;">
      <table *ngIf="medications"  style=" width: 100%;" >
              <thead>
              <tr style="border: 1px solid black; width: 100%; background-color: rgb(173, 179, 178)">
                  <th style="width: 20%;">Medicine</th>
                  <th style="width: 20%;">Duration</th>
                  <th *ngIf="!isMCI" style="width: 15%;">Dosage</th>
                  <th style="width: 15%;">Quantity</th>
                  <th style="width: 30%;" *ngIf="printSettings.prescription_hideMedicineInstruction" style="width: 25%;">Instruction</th>
              </tr>
              </thead>
              <tbody *ngFor="let item of medications" style="width: 100%;">
                  <tr style="width: 100%; border-bottom: 1px solid black !important;">
                      <td style=" width: 20%; border-bottom: 1px solid black !important; margin: 10px; text-align: center;"> {{item.medication.medicine_name}} {{item.medication.strength}} {{item.medication.strength_unit}}</td>
                      <td style="width: 20%; border-bottom: 1px solid black !important; margin: 10px; text-align: center;"> <span *ngIf="item.medication.duration">{{item.medication.duration}}
                              <span *ngIf="item.medication.duration_unit=='d'">Day(s)</span><span *ngIf="item.medication.duration_unit=='w'">Week(s)</span><span *ngIf="item.medication.duration_unit=='m'">Month(s)</span>
                              <span *ngIf="item.medication.duration_unit=='y'">Year(s)</span><span *ngIf="item.medication.duration_unin=='s'">S.O.S</span>
                          </span>
                      </td>
                      <td *ngIf="!isMCI" style="width: 15%; border-bottom: 1px solid black !important; margin: 10px5px; text-align: center;"> <span>{{item.medication.m}}-{{item.medication.n}}-{{item.medication.e}}</span>
                          <span *ngIf="item.medication.suggestion">{{item.medication.suggestion}}</span> </td>
                      <td style="width: 15%; border-bottom: 1px solid black !important; margin: 10px; text-align: center;"> {{item.medication.quantity}} </td>
                      <td style="width: 30%; border-bottom: 1px solid black !important; margin: 10px;" *ngIf="printSettings.prescription_hideMedicineInstruction"> {{item.medication.dosage_instruction}} </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div style="width: 95%; float: left; margin-top: 60px;">
          <div style="width: 300px; height: 100px; float: right; text-align: right;">
              <p>Signature</p>
          </div>
      </div>

      <div style="width: 100%; float: left; margin-top: 50px;">
    <p>{{printSettings.prescriptionfootnote}}<span *ngIf="printSettings.prescriptionfootnote==''">Powered by DocEngage</span></p>
      </div>

  </div>
  <ion-list-header *ngIf="medications.length == 0">
          No Prescription Found!
  </ion-list-header>
</ion-content>
<ion-footer class="footerStyle" (click)="addPrescription()">
    Add Precription
</ion-footer>