<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start" color="primary">
      <button icon-only (click)="dismiss(false)" class="buttonStyle">
         <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title class="ion-text-center"><span>Activity</span></ion-title>

    <ion-buttons slot='end' *ngIf="item && item.status!='Completed'">
        <button class="buttonStyle" style="font-size: medium;" ion-button icon-only  (click)="updateStatus('Completed',item.eventId)">
          Done
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <ion-list> 
      <div *ngIf="item ">
            <h6><span class="headerStyle">{{item.eventTitle}} <span *ngIf="patientInfo && patientInfo.name">for {{patientInfo.name}}</span></span>
              <ion-badge class='ion-float-right' color="success" *ngIf="item.status=='Completed'">Completed</ion-badge>
              <ion-badge  class='ion-float-right' *ngIf="item.status=='Scheduled'">Scheduled</ion-badge>
            </h6>
             <ion-label>
            <p  class="ion-text-wrapper valueColor"><span *ngIf="item.serviceName">for {{item.serviceName}}</span>
            </p>
            <p class="ion-text-wrapper">from {{item.startDateTime | date: 'dd/MM/yy, HH:mm a' }} to {{item.endDateTime | date: 'dd/MM/yy, HH:mm a' }}</p>
            <p *ngIf="item.note">
              Note: <span class="valueColor" [innerHtml]="item.note"></span>
            </p>
          </ion-label>
      </div >
    </ion-list>
  </ion-content>
