
$headings-font-weight: 300;

$sub-headings-font-weight: 500;

button{
    color: #fff;
    background: var(--ion-color-primary);
   font-weight: bold;
   font-size: small;
}

.grayTxt { 
    color: #777474;
}
.itemStyle{
    box-shadow: 0px 0px 10px 0px #0000001f;
    margin: 0.9em;
}
.cardStyle{
    box-shadow: 0 0 2px #a8a8a8 !important;
    border-radius: 10px !important;
    margin: 1em !important;
}
.boldSubheading{
    font-weight:500;
}
.lessGray{
    color: #7f8c8d;
}

ion-card-content{
    max-height: 24em;
    overflow-y: scroll;
}
ion-item{
    --background: transparent !important;
}
.footer-md::before {
    background-image: none !important;
    background-repeat: none !important;
}
ion-footer{
    padding-bottom: 6px;

}

ion-card-content{
    ion-item{
        color: var(--ion-color-primary);
    }
}

ion-icon{
    vertical-align: bottom;
}
ion-card-header{
    ion-item{
        ion-label{
            p{
                font-size: 12px;
            }
        }
    }
}

p{
    font-size: 14px !important;
    white-space: break-spaces !important;
}
.headerColor{
   color: #333 !important;
}
.valueColor{
    color: #555 !important;
}
.normalColor{
    color:#666 !important;
}

.cardheaderColor{
    background: #F3F2F7;
}

.fontWeight500{
    font-weight: 500;
}
.paddingTop8{
    padding-top: 8px !important; 
}
 