<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-item *ngIf="patientInfo" class="patientHeadingData" color='primary' style="margin-left: -15px;">
      <ion-avatar item-start *ngIf="checkPatientHasImage(patientInfo.image)">
        <img src="{{patientInfo.image}}">
      </ion-avatar>
      <ion-avatar item-start *ngIf="!checkPatientHasImage(patientInfo.image)">
        <app-new-txt-img [text]="patientInfo.name"></app-new-txt-img>
      </ion-avatar>
      <ion-label style="margin-left: 8px;">
        <p>
          <b>{{patientInfo.title}} {{patientInfo.givenName}} {{patientInfo.middleName}} {{patientInfo.familyName}}</b>
        </p>
        <p>
          <span small>{{patientInfo.localId}}</span>&nbsp;
          <span *ngIf="patientInfo.age">{{patientInfo.age}} </span>
          <span name="male" *ngIf="patientInfo.gender=='Female'">Female</span>
          <span name="female" *ngIf="patientInfo.gender=='Male'">Male</span>
          <span *ngIf="patientInfo.gender=='Others'">O</span>
        </p>

      </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <button class="buttonStyle" (click)="presentFilter();">
        <ion-icon style="zoom: 2;" name='options-outline'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item *ngIf="!patientInfo">
    <p>Patient</p>
    <p>ID</p>
  </ion-item>
</ion-header>


<ion-content>
  
  <ion-card class="cardStyle" style="position: relative; top: 8px;"
      *ngIf="patientInfo && (patientInfo.email || patientInfo.alternatePhone || (patientInfo.address && patientInfo.address[0]))">
      <ion-item lines="none">
        <ion-label>

          <p style=" margin-bottom: 8px;" 
          *ngIf="patientInfo && patientInfo.email && accessControl && accessControl.permissions.allowToSeeContactInfo">
            <ion-icon color='success' name="mail" class="marginRight4" style="zoom: 1.3;">
            </ion-icon>
            <span style="color: #333; vertical-align: top;">{{patientInfo.email}}</span>
          </p>

          <p style="text-align: left; margin-bottom: 8px;" *ngIf="patientInfo && (patientInfo.telephone || patientInfo.alternatePhone)">
            <ion-icon color='success' name="phone-portrait-sharp" class="marginRight4"
              style="zoom: 1.3; margin-left: -3px;"></ion-icon>
            <span style="color: #333; vertical-align: top;">
              <span *ngIf="accessControl && accessControl.permissions.allowToSeeContactInfo">
                <span *ngIf="patientInfo.countryCode && patientInfo.telephone">+{{patientInfo.countryCode}}-</span>              
              </span>
              <span *ngIf="patientInfo.telephone"></span>{{patientInfo.telephone}} <span *ngIf="patientInfo.alternatePhone">| {{patientInfo.alternatePhone}}</span>
            </span>
          </p>


          <p *ngIf="patientInfo && patientInfo.address[0] && (patientInfo.address[0].addressLine1 || patientInfo.address[0]['landMark'] || patientInfo.address[0]['city']
           || patientInfo.address[0]['state'])" style="white-space: normal;">
           <ion-icon name="location" color='success' class="marginRight4" style="zoom: 1.3; margin-left: -3px;"></ion-icon>
            <span
              *ngIf="patientInfo && patientInfo.address[0] && patientInfo.address[0].addressLine1">{{patientInfo.address[0].addressLine1}},
            </span>
            <span *ngIf="patientInfo && patientInfo.address[0] && patientInfo.address[0].landMark">
              {{patientInfo.address[0].landMark}},
            </span>
            <span
              *ngIf="patientInfo && patientInfo.address[0] && patientInfo.address[0].city">{{patientInfo.address[0].city}},
            </span>
            <span
              *ngIf="patientInfo && patientInfo.address[0] && patientInfo.address[0].state">{{patientInfo.address[0].state}}</span>
            <span *ngIf="patientInfo && patientInfo.address[0] && patientInfo.address[0].postalCode"> -
              {{patientInfo.address[0].postalCode}}</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-card>

  <ion-list *ngIf="items && items.length>0">
      <span *ngFor="let item of items; let cardIdx=index">
        <span (click)="itemSelected(item.referenceId,item.referenceType, item, cardIdx)">
          <ion-card class="cardStyle" *ngIf="item && item.referenceType=='planneditem'  ">

            <ion-card-header class="ion-no-padding">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-appointment);">Appointment
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="secondary" outline
                      *ngIf="item.itemDetails.status=='CheckedIn'">In-Progress
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="secondary"
                      *ngIf="item.itemDetails.status=='InProgress'">Engaged</ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="success"
                      *ngIf="item.itemDetails.status=='Completed'">{{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500'
                      style="color: white !important;" color="warning" *ngIf="item.itemDetails.status=='Scheduled'">
                      {{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="danger"
                      *ngIf="item.itemDetails.status=='NoShows' || item.status=='Canceled'">
                      {{item.itemDetails.status}}</ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="warning"
                      style="color: white !important;" *ngIf="item.itemDetails.status=='Pending'">
                      {{item.itemDetails.status}}
                    </ion-badge>
                  </h2>
                  <p class='normalColor'>
                    <span>with {{item.itemDetails.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p class='normalColor' style="white-space: normal;">{{item.itemDetails.serviceName}}
                  </p>
                </ion-label>
              </ion-item>
            </ion-card-header>
            <!-- <ion-card-content *ngIf="item[item.cardId] === true && item.itemDetails && item.itemDetails.serviceName">

              <h6 class="ion-text-wrap">{{item.itemDetails.serviceName}}
             
              </h6>
            </ion-card-content> -->
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->

          </ion-card>
          {{item.referenceTyp}}

          <ion-card class="cardStyle" *ngIf="item && item.referenceType=='DynamicForm'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item1">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-assessment);">Assessment </h2>
                  <p class='normalColor'>
                    <span>with {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p class='normalColor' *ngIf="item[item.cardId] === false && item.itemDetails">
                    {{item.itemDetails.form_name}}
                    <span class="ion-float-right">more...</span>
                  </p>
                  <h3 *ngIf="item[item.cardId] === true" class="headerColor" style="padding-top: 2px;">
                    {{item1.form_name}}</h3>
                </ion-label>
              </ion-item>
            </ion-card-header>
            <ion-card-content class="paddingTop8" *ngIf="item[item.cardId] && item1">

              <div *ngIf="item1.content">

                <span *ngFor="let itemContent of item1.content;let f=index">
                  <h4 style="color: #333; padding-bottom: 4px;">{{itemContent.sectionName}}</h4>

                  <span *ngFor="let secitem of itemContent.sectionContent;let i=index">

                    <span *ngIf="secitem.visible==='Show'">

                      <ion-label *ngIf="secitem.field_type!=='Information' &&  secitem.field_type!=='Table'
                          && secitem.field_type!=='Image'  && secitem.value">
                        <p style="padding-left: 16px;">
                          <span *ngIf="secitem.field_label" class="normalColor">{{secitem.field_label}}&nbsp;</span>
                          <span class="valueColor">{{secitem.value}}</span>
                        </p>
                      </ion-label>

                      <ion-label *ngIf="secitem.field_type==='Information'">
                        <ion-col class="normalColor">{{secitem.field_label}}</ion-col>
                        <ion-col class="valueColor">{{secitem.default_value}}</ion-col>

                      </ion-label>


                      <ion-list *ngIf="secitem.field_type==='Table'">
                        <ion-label style="color: #333;">{{secitem.field_label}} </ion-label>
                        <div>
                          <p *ngIf="secitem.rowContentValuesList">
                            <span *ngFor="let fields of secitem.rowContentValuesList;let j=index">
                              <span *ngIf="fields">
                                <span *ngFor="let elem of fields.row;let k=index">
                                  <ion-item style="--min-height: 32px;" lines='none'>
                                    <ion-label *ngIf="elem.fieldVal==' #'" style="margin: 0px;">
                                      {{elem.value}}
                                    </ion-label>
                                    <p *ngIf="elem.fieldVal !=' #'"
                                      style="color: #555;">
                                      {{elem.fieldVal}}:- {{elem.value}}
                                    </p>
                                    <!-- <ion-icon style="margin: 0px;" name='arrow-forward-outline' slot="end"></ion-icon> -->

                                  </ion-item>
                                </span>
                              </span>
                            </span>
                          </p>
                        </div>
                      </ion-list>
                    </span>
                  </span>

                </span>

              </div>

            </ion-card-content>
          </ion-card>


          <ion-card class="cardStyle" *ngIf="item && (item.referenceType=='progressnote' || item.referenceType=='instruction' 
        || item.referenceType=='clinicalnote' || item.referenceType=='history')  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-notes);">Notes </h2>
                  <p class='normalColor'>
                    <span>Created by {{item.performer.name}} at &nbsp;</span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p *ngIf="item[item.cardId] === false">
                    <span class="ion-float-right normalColor">click to see notes...</span>
                  </p>
                </ion-label>
                
              </ion-item>
            </ion-card-header>
            <ion-card-content class="ion-text-wrap paddingTop8" *ngIf="item[item.cardId] && item.itemDetails">

              <p><span class='ion-text-capitalize' style="color: black;"
                  *ngIf="item.itemDetails.noteType">{{item.itemDetails.noteType}}: &nbsp;</span>
                <span [innerHtml]="item.itemDetails.notes"></span></p>
              <p *ngIf="item.itemDetails.suggestedplans && item.itemDetails.suggestedplans.length > 0">
                <span class='ion-text-capitalize'>Suggested Plans:</span>
                <ion-row *ngFor="let values of item.itemDetails.suggestedplans; let i = index" [attr.data-index]="i">
                  <ion-col>{{i+1}}. {{values.value}}</ion-col>
                </ion-row>
              </p>
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->
          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'activity'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-activity)">Activity
                    <ion-badge class='ion-float-right fontWeight500' color="success"
                      *ngIf="item.itemDetails.status=='Completed'">Completed</ion-badge>
                    <ion-badge class='ion-float-right fontWeight500' *ngIf="item.itemDetails.status=='Scheduled'">
                      Scheduled</ion-badge>
                  </h2>
                  <p class="normalColor">
                    <span>with {{item.itemDetails.associateProvider}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p *ngIf="item[item.cardId] === false">
                    <span class="ion-float-right normalColor"> more...</span>
                  </p>
                </ion-label>
                
              </ion-item>
            </ion-card-header>
            <ion-card-content class="ion-text-wrap paddingTop8" *ngIf="item[item.cardId] === true && item.itemDetails">
              <p><span *ngIf="item.itemDetails.serviceName">{{item.itemDetails.serviceName}}</span>
                <span *ngIf="!item.itemDetails.serviceName" class="ion-text-wrap">{{item.itemDetails.title}} from
                  {{item.itemDetails.startTime | date: 'dd MMM,HH:mm a' }} to
                  {{item.itemDetails.endTime | date: 'dd MMM,HH:mm a' }}</span>
              </p>
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->

          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'laborder'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-laborder);">Laborder
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="warning"
                      style="color: #fff;"
                      *ngIf="item.itemDetails.status!='Cancelled' && item.itemDetails.status!='Completed'">
                      {{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="success"
                      style="color: #fff;" *ngIf="item.itemDetails.status =='Completed'">{{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="danger"
                      *ngIf="item.itemDetails.status=='Cancelled'">{{item.itemDetails.status}}
                    </ion-badge>
                  </h2>
                  <p class="normalColor">
                    <span>Created by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p *ngIf="item[item.cardId] === false && item.itemDetails && item.itemDetails.lineItems" class="normalColor"><span>#1
                      {{item.itemDetails.lineItems[0].component_name}}
                    </span>
                    <span class="ion-float-right"> more...</span>
                  </p>
                </ion-label>
                
              </ion-item>
            </ion-card-header>
            <ion-card-content class="ion-text-wrap paddingTop8" *ngIf="item[item.cardId] && item.itemDetails"
              style="padding: 0px;">
              <!-- <ion-item lines="none">
                <ion-label>
                  <p> -->
              <!-- <ion-row>
                      <ion-col size='1'>#</ion-col>
                      <ion-col size='8' style="padding-left: 10px;">Items</ion-col>
                      <ion-col size='3'></ion-col>
                    </ion-row> -->

              <ion-item lines="none" *ngFor="let values of item.itemDetails.lineItems; let i = index"
                [attr.data-index]="i" style="--min-height: 32px;">
                <ion-label class="ion-text-wrap  ion-text-capitalize" style="margin: 0px;">
                  <ion-row style="font-size: 14px;color: #666;">
                    <ion-col size="1" class="ion-float-left ion-no-padding">#{{i+1}} &nbsp;</ion-col>
                    <ion-col size="9" class="ion-no-padding"> {{values.component_name}} </ion-col>
                    <ion-col size="2" class="ion-float-right ion-no-padding"> {{values.status}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->

          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'estimated'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>

                  <h2 style="color: var(--ion-color-estimation);">Estimation
                    <span class="ion-float-right">
                      <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="secondary"
                        *ngIf="item.itemDetails && item.itemDetails.status!='Cancelled' && item.itemDetails && item.itemDetails.status!='Completed'">
                        {{item.itemDetails.status}}
                      </ion-badge>
                      <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="success"
                        *ngIf="item.itemDetails && item.itemDetails.status=='Completed'">{{item.itemDetails.status}}
                      </ion-badge>
                      <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="danger"
                        *ngIf="item.itemDetails && item.itemDetails.status=='Cancelled'">{{item.itemDetails.status}}
                      </ion-badge>
                    </span>
                  </h2>
                  <p class="normalColor">
                    <span>Created by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p style="color: #666;font-size: 14px">Ref ID: &nbsp;{{item.itemDetails.estimationRef}}
                  </p>
                  <p *ngIf="item[item.cardId] === false  && item.itemDetails && item.itemDetails.lineItems" class="normalColor">
                    <span>{{item.itemDetails.lineItems[0].service_name}}&nbsp;
                    </span>
                    <span style="text-align: right; float: right;">more...</span>
                  </p>


                </ion-label>
                
              </ion-item>
            </ion-card-header>

            <ion-card-content class="ion-text-wrap" *ngIf="item[item.cardId] && item.itemDetails"
              style="padding: 0px; padding-top: 8px;">
              <ion-item lines="none" *ngFor="let values of item.itemDetails.lineItems; let i = index"
                [attr.data-index]="i" style="--min-height: 32px;">
                <!-- <ion-label>
                      <ion-col size='1'>#</ion-col>
                      <ion-col size='3'>Date</ion-col>
                      <ion-col size='5'>Items</ion-col>
                      <ion-col size='3'></ion-col>
                    </ion-label> -->

                <ion-label style="margin: 0px;">
                  <!-- <span>{{i+1}}</span> -->
                  <p style="font-size: inherit;">
                    <span class='ion-text-capitalize ion-float-left'>{{values.date_performed | date: 'dd MMM' }}
                    </span>
                    <span class="ion-text-wrap ion-text-capitalize ion-float-right">{{values.status}}</span>
                  </p>
                  <p>
                    <span class="ion-float-right" style="font-size: 14px;
                      color: #656565;">({{values.quantity}})</span>

                    <span class="ion-text-wrap ion-text-capitalize">
                      {{values.service_name}}
                    </span>
                  </p>

                </ion-label>
              </ion-item>


              <ion-item lines="none">
                <ion-label>
                  <span class="ion-float-right">Final Amt:</span>
                </ion-label>
                <ion-label>
                  <span style="float: left;">
                    {{item.itemDetails.currencySymbol}}&nbsp;{{item.itemDetails.estimationFinalAmount}}</span>
                </ion-label>
              </ion-item>
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->

          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'medication'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-medication);">Medication
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="secondary"
                      *ngIf="item.itemDetails.status && item.itemDetails.status!='Cancelled' && item.itemDetails.status!='Completed'">
                      {{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="success"
                      *ngIf="item.itemDetails.status && item.itemDetails.status=='Completed'">
                      {{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="danger"
                      *ngIf="item.itemDetails.status && item.itemDetails.status=='Cancelled'">
                      {{item.itemDetails.status}}
                    </ion-badge>
                  </h2>
                  <p class="normalColor">
                    <span>Created by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p *ngIf="item[item.cardId] === false  && item.itemDetails && item.itemDetails[0]"
                    class="normalColor ion-text-capitalize"><span>#1 &nbsp;
                      {{item.itemDetails[0].medicineName}}-{{item.itemDetails[0].strength}}{{item.itemDetails[0].strengthUnit}}
                      ({{item.itemDetails[0].quantity}})
                    </span>
                    <span class="ion-float-right">
                      more...
                    </span>
                  </p>
                </ion-label>
                
              </ion-item>
            </ion-card-header>

            <ion-card-content class="ion-text-wrap" *ngIf="item[item.cardId] && item.itemDetails"
              style="padding: 0px; padding-top: 8px;">
              <ion-item lines="none" *ngFor="let vitem of item.itemDetails; let i = index" [attr.data-index]="i"
                style="--min-height: 32px;">

                <ion-label class="ion-text-capitalize" style="margin: 0px;">
                  <!-- <ion-row>
                      <ion-col size='2' class="boldSubheading">#</ion-col>
                      <ion-col size='7' class="boldSubheading">Medicine</ion-col>
                      <ion-col size='3'>Status</ion-col>
                    </ion-row> -->
                  <ion-row style="font-size: 14px;color: #666;">
                    <ion-col size="1" class="ion-float-left ion-no-padding">#{{i+1}} &nbsp;</ion-col>
                    <ion-col size="9" class="ion-text-wrap ion-no-padding ion-text-capitalize"
                      *ngIf='vitem.medicineName'>{{vitem.medicineName}}-{{vitem.strength}}{{vitem.strengthUnit}}
                      ({{vitem.quantity}})</ion-col>
                    <ion-col size="2" class="ion-float-right ion-no-padding ion-text-capitalize"
                      *ngIf='vitem.medicineStatus'> {{vitem.medicineStatus}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->

          </ion-card>

          <!-- <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'careplan'  ">

            <ion-card-header class="ion-no-padding">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-careplan);">Careplan </h2>
                  <p>
                    <span class='grayTxt'>Created by {{item.performer.name}}</span>
                    <span class="ion-float-right">{{item.performDateTime | date: 'hh:mm a' }}</span>
                  </p>
                </ion-label>
              </ion-item>
            </ion-card-header>

            <ion-card-content class="ion-text-wrap" *ngIf="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h3>
                    <ion-badge class='ion-float-right ion-text-capitalize' color="standared"
                      *ngIf="item.itemDetails.status!='Cancelled'">{{item.itemDetails.status}}
                    </ion-badge>
                    <ion-badge class='ion-float-right ion-text-capitalize' color="danger"
                      *ngIf="item.itemDetails.status=='Cancelled'">{{item.itemDetails.status}}
                    </ion-badge>
                  </h3>
                  <p>
                    <ion-row>
                      <ion-col size='1'>#</ion-col>
                      <ion-col size='6'>Planned Items</ion-col>
                      <ion-col size='5'></ion-col>
                    </ion-row>
                    <ion-row *ngFor="let values of item.itemDetails.carePlanItems; let i = index" [attr.data-index]="i">
                      <ion-col size='1'>{{i+1}}</ion-col>
                      <ion-col size='6' class="ion-text-wrap ion-text-capitalize"><span
                          *ngIf="values.item_type == 'service'">
                          {{values.service_name}}
                        </span>
                        <span *ngIf="values.item_type == 'product'">
                          {{values.medicine_name}}
                        </span>
                        <span *ngIf="values.item_type == 'activity'">
                          {{values.activitytitle}}
                        </span>
                        <span *ngIf="values.item_type == 'note'">
                          <span *ngFor="let notes of values.clinical_notes_list">
                            <span *ngIf="notes.Type">{{notes.Type}}:</span><span [innerHtml]="notes.note"></span>
                          </span>

                        </span></ion-col>
                      <ion-col size='5' class='ion-text-capitalize'>
                        <div *ngIf="values.item_type == 'service'">
                          {{values.status}}
                        </div>
                        <div *ngIf="values.item_type == 'product'">
                          {{values.status}}
                        </div>
                        <div *ngIf="values.item_type == 'activity'">
                          {{values.activitystatus}}
                        </div>
                        <div *ngIf="values.item_type == 'note'">
                          {{values.notestatus}}
                        </div>
                      </ion-col>
                    </ion-row>
                  </p>
                </ion-label>
              </ion-item>
            </ion-card-content>
            <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer>

          </ion-card> -->

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'vitals'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-vitals);">Vitals </h2>
                  <p class="normalColor">
                    <span>Recorded by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p *ngIf="item[item.cardId] === false">
                    <span class="ion-float-right normalColor"> more... </span>
                  </p>
                </ion-label>
                
              </ion-item>
            </ion-card-header>

            <ion-card-content class="ion-text-wrap" *ngIf="item[item.cardId] && item.itemDetails"
              style="padding: 0px; padding-top: 8px;">
              <!-- <ion-item lines="none">
                <ion-label> -->
              <!-- <h6 *ngIf="item.itemDetails[0]">{{item.itemDetails[0].effectiveDateTime | date: 'dd/MM/yy, HH:mm a' }}</h6> -->
              <!-- <ion-row>
                      <ion-col size='5' class="boldSubheading">Name</ion-col>
                      <ion-col size='4' class="boldSubheading">Value</ion-col>
                      <ion-col size='3'></ion-col>
                    </ion-row> -->
              <ion-item *ngFor="let vitem of item.itemDetails" lines="none" style="--min-height: 32px;">
                <ion-label style="margin: 0px;" class="ion-text-capitalize">
                  <p style="font-size: inherit;">
                    <span class="headerStyle" style="color: #666;" *ngIf="vitem.name=='heartRate'"> Resp. Rate:
                      &nbsp;</span>
                    <span class="headerStyle" style="color: #666;" *ngIf="vitem.name!='heartRate'"> {{vitem.name}}:
                      &nbsp;</span>
                    <span class="valueStyle" style="color: #555;">
                      {{vitem.value}}{{vitem.unit}} &nbsp;
                    </span>
                    <span *ngIf="vitem.interpretation=='Low'" style="color: var(--ion-color-danger);">Low</span>
                    <span *ngIf="vitem.interpretation=='Normal'">Normal</span>
                    <span *ngIf="vitem.interpretation=='High'" style="color: var(--ion-color-danger);">High</span>
                  </p>
                </ion-label>
              </ion-item>

              <!-- <span *ngFor="let vitem of item.itemDetails">
                    <ion-item *ngIf="vitem" lines="none" style="--min-height: 32px;">
                      <ion-label class="ion-text-wrap ion-text-capitalize" style="margin: 0px;">
                        <p *ngIf="vitem.name=='heartRate'">Resp. Rate</p> 
                        <p *ngIf="vitem.name!='heartRate'">{{vitem.name}}</p>
                      </ion-label>
                      <ion-label class="ion-text-wrap" style="margin: 0px;">
                        <p>{{vitem.value}}{{vitem.unit}} &nbsp;
                          <span *ngIf="vitem.interpretation=='Low'" style="color: var(--ion-color-danger);">Low</span>
                          <span *ngIf="vitem.interpretation=='Normal'">Normal</span>
                          <span *ngIf="vitem.interpretation=='High'" style="color: var(--ion-color-danger);">High</span>
                        </p>
                      </ion-label> -->
              <!-- <ion-label size='3' class="ion-text-capitalize" style="margin-top: -10px;">
                        <span *ngIf="vitem.interpretation=='Low'">
                          <button ion-button color="danger" small clear class="margin-top-5">Low</button>
                        </span>
                        <span *ngIf="vitem.interpretation=='Normal'">
                          <button ion-button color="dark" small clear class="margin-top-5">Normal</button>
                        </span>
                        <span *ngIf="vitem.interpretation=='High'" color="danger">High</span>
                      </ion-label> -->
              <!-- </ion-item>
                  </span> -->
              <!-- </ion-label>
              </ion-item> -->
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->

          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'payments'  ">

            <ion-card-header class="ion-no-padding">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-payment);">Payment
                    <span style="float: right;"> {{item.itemDetails.paymentRef}} </span>
                  </h2>
                  <p class="normalColor">
                    <span>Created by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p class="normalColor">Amount Paid: {{item.itemDetails.paidAmount}} by
                    {{item.itemDetails.modeOfPayment}}
                  </p>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'invoiced'  ">

            <ion-card-header class="ion-no-padding" [class.cardheaderColor]="item[item.cardId] && item.itemDetails">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-invoice);">Invoice
                    <span class="ion-float-right">
                      <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="secondary"
                        *ngIf="item.itemDetails.status!='Cancelled' && item.itemDetails.status!='Completed'">
                        {{item.itemDetails.status}}
                      </ion-badge>
                      <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="success"
                        *ngIf="item.itemDetails.status=='Completed'">{{item.itemDetails.status}}
                      </ion-badge>
                      <ion-badge class='ion-float-right ion-text-capitalize fontWeight500' color="danger"
                        *ngIf="item.itemDetails.status=='Cancelled'">{{item.itemDetails.status}}
                      </ion-badge>
                    </span>
                  </h2>
                  <p class='normalColor'>
                    <span>Created by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <p class='normalColor'>
                    <span>Last Updated at </span>
                    <span>{{item.lastUpdated | date: 'dd MMM yyyy,HH:mm a' }} by {{item.updatedBy}} </span>
                  </p>
                  <p style="color: #666;font-size: 14px">Ref ID: &nbsp;{{item.itemDetails.invoiceRef}}
                  </p>
                  <p *ngIf="item[item.cardId] === false  && item.itemDetails && item.itemDetails.lineItems"><span
                      class="ion-float-left normalColor">#1 &nbsp; {{item.itemDetails.lineItems[0].service_name}}
                      ({{item.itemDetails.lineItems[0].quantity}})</span>
                    <span class="ion-float-right">more...</span>
                  </p>
                </ion-label>
                
              </ion-item>
            </ion-card-header>

            <ion-card-content *ngIf="item[item.cardId] === true && item.itemDetails"
              style="padding: 0px; padding-top: 8px;">
              <div *ngFor="let values of item.itemDetails.lineItems; let i = index" [attr.data-index]="i"
                style="padding: 0px 12px 0px 12px;">
                <!-- <h6 style="color: var(--ion-color-success-shade);">Ref: {{item.itemDetails.invoiceRef}} </h6> -->

                <!-- <ion-row>
                      <ion-col size='1'>#</ion-col>
                      <ion-col size='3'>Date</ion-col>
                      <ion-col size='5'>Items</ion-col>
                      <ion-col size='3'></ion-col>
                    </ion-row> -->
                <ion-row>
                  <ion-col size="2" class='ion-text-capitalize'>#{{i+1}}
                  </ion-col>
                  <ion-col size="7" class="ion-text-wrap ion-text-capitalize">{{values.service_name}}
                    ({{values.quantity}})
                  </ion-col>
                  <ion-col size="3" class="ion-float-right ion-text-capitalize" style="text-align: right;">
                    {{item.itemDetails.currencySymbol}}&nbsp;{{values.final_amount}}</ion-col>
                </ion-row>
              </div>
              <p style="border-bottom: 1px solid #eeeede;">
                <span>
                  <ion-item lines="none" class=' ion-float-left'>Final Amt:</ion-item>
                </span>
                <span>
                  <ion-item lines="none" style="float: right;">
                    {{item.itemDetails.currencySymbol}}&nbsp;{{item.itemDetails.invoiceFinalAmount}}</ion-item>
                </span>
              </p>
            </ion-card-content>
            <!-- <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->


          </ion-card>

          <ion-card class="cardStyle" *ngIf="item && item.referenceType == 'files'  ">

            <ion-card-header class="ion-no-padding">
              <ion-item lines="none">
                <ion-label>
                  <h2 style="color: var(--ion-color-files);">Files 
                    <span class="viewDocStyle" (click)="openFile(item.itemDetails.filePath,item.itemDetails.mimeType,item.itemDetails.fileBase64,item.itemDetails.fileName)">
                      View Document
                      <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="300px;" frameborder="0"></iframe>
                    </span>
                  </h2>
                  <p class="normalColor">
                    <span>Created by {{item.performer.name}} at </span>
                    <span>{{item.performDateTime | date: 'dd MMM yyyy,HH:mm a' }}</span>
                  </p>
                  <h3><span class="valueColor">{{item.itemDetails.fileName}}</span>
                  </h3>
                </ion-label>
              </ion-item>
            </ion-card-header>

            <!-- <ion-card-content class="ion-text-wrap" *ngIf="item[item.cardId] && item.itemDetails && item.itemDetails.length > 0">
              <h3>{{item.itemDetails.fileName}} Document
              </h3>
              <p>
                <button ion-button (click)="openFile(item.itemDetails.filePath,item.itemDetails.mimeType,item.itemDetails.fileBase64,item.itemDetails.fileName)">
                  Click here to View
                </button>
                <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="300px;" frameborder="0"></iframe>
              </p>

            </ion-card-content>
            <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer>
            <ion-footer style="text-align: center;margin: 0px;">
              <span *ngIf="item && item[item.cardId] === false">
                <ion-icon name="chevron-down"></ion-icon>
              </span>
              <span *ngIf="item && item[item.cardId] === true">
                <ion-icon name="chevron-up"></ion-icon>
              </span>
            </ion-footer> -->
          </ion-card>


        </span>
      </span>
  </ion-list>
  <ion-item *ngIf="noRecordFound" class="redTxt">
    <ion-label>
      <h4>{{noRecordFound}}</h4>
    </ion-label>
  </ion-item>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>