<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button icon-only class="buttonStyle" (click)="dismiss()">
        <ion-icon name="close" style="zoom:2"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">Quick Schedule</ion-title>
    <ion-buttons slot="end">
      <button style="font-size: medium;" icon-only class="buttonStyle" (click)="saveScheduleInfo()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="paddingRight10 textBottomBorder" lines="none">
    <ion-label position="floating"><span class="reset-filters">*</span>Care Center</ion-label>
    <ion-select class="paddingLeft4" [(ngModel)]="selectedCareCenter" interface="action-sheet"
      (ionChange)="onChangeCareCenter();">
      <ion-select-option [value]="item" *ngFor='let item of careCenters'>{{item.display_name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none" (click)="openPatientList()">
    <ion-col size="5" class="ion-float-top ion-no-padding">
      <span class="reset-filters">*</span>Patient Name
    </ion-col>
    <ion-col class="ion-text-right" size="7">
      <p class="ion-text-right" *ngIf="patientInfo">{{patientInfo.name}}</p>
    </ion-col>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none">
    <ion-label position="floating"><span class="reset-filters">*</span>Visit Type</ion-label>
    <ion-select class="paddingLeft4" interface="action-sheet" [(ngModel)]="visitType">
      <ion-select-option value="OutPatient">Out Patient</ion-select-option>
      <ion-select-option value="InPatient">In Patient</ion-select-option>
      <ion-select-option value="HomeCare">Home Care</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none">
    <ion-label style="padding-left:5px;">Video Consultation</ion-label>
    <ion-checkbox [(ngModel)]="quickEnableVC" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none" (click)="openServiceList()">
    <ion-col size="5" class="ion-float-top ion-no-padding">
      <span class="reset-filters">*</span>Service
    </ion-col>
    <ion-col class="ion-text-right" size="7">
      <p class="ion-text-right"> {{serviceName}}</p>
    </ion-col>
  </ion-item>

  <ion-item ion-item (click)="navigateToSelectModel('Staff')" class=" marginTop15 textBottomBorder" lines="none">
    <ion-col size="5" class="ion-float-left ion-no-padding" style="padding-left: 6px;">
      Provider
    </ion-col>
    <ion-col class="ion-float-right" size="7">
      <p class="ion-text-right">{{providerName}}</p>
    </ion-col>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <ion-item class="textBottomBorder ion-no-padding" lines="none" style="padding-left:12px;"
        (click)="setDateModal(appointmentDate, 'date', 'appointmentDate')">
        <ion-label position="floating">
          <span class="reset-filters">*</span>Date
        </ion-label>
        <ion-input class="marginLeft5" type="text" [ngModel]="appointmentDate | date: 'dd-MM-yyyy'"
          (ngModelChange)="appointmentDate=$event">
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="textBottomBorder" lines="none"
        (click)="setDateModal(appointmentTime, 'time', 'appointmentTime')">
        <ion-label position="floating">
          Time
        </ion-label>
        <ion-input [ngModel]="appointmentTime | date: 'h:mm a'" (ngModelChange)="appointmentTime=$event">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item class="textBottomBorder" lines="none">
    <ion-label position="floating"><span class="reset-filters">*</span>Duration</ion-label>
    <ion-input class="marginLeft5" [(ngModel)]="appointmentDuration" type="Number"></ion-input>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none">
    <ion-label position="floating"><span class="reset-filters">*</span>Notify</ion-label>
    <ion-select class="paddingLeft4" [multiple]="true" [(ngModel)]="notify">
      <ion-select-option value="Provider">Provider</ion-select-option>
      <ion-select-option value="Patient">Patient</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="textBottomBorder" lines="none">
    <ion-label position="floating"><span class="reset-filters">*</span>Status</ion-label>
    <ion-select class="paddingLeft4" interface="action-sheet" [ngModel]="quickBookApptStatus"
      (ngModelChange)="quickBookApptStatus=$event; onChangeStatus($event)">
      <ion-select-option value="Scheduled">Scheduled</ion-select-option>
      <ion-select-option value="CheckedIn">Checked-In</ion-select-option>
      <ion-select-option value="Completed">Completed</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="checkedInOutTimeLabel" (click)="setDateModal(checkedInOutTime, 'time', 'checkedInOutTime')">
    <ion-label position="floating">
      {{checkedInOutTimeLabel}}
    </ion-label>
    <ion-input [ngModel]="checkedInOutTime | date: 'h:mm a'" (ngModelChange)="checkedInOutTime=$event">
    </ion-input>
  </ion-item>

  <ion-item class="paddingRight10 textBottomBorder" lines="none">
    <ion-label position="floating" style="padding-left:7px;">Note</ion-label>
    <ion-textarea rows="4" style="margin-left:4px;" [(ngModel)]="appointmentNote"></ion-textarea>
  </ion-item>

  <ion-modal [isOpen]="showModal" class="dateTimeModal">
    <ng-template>
      <ion-content>
        <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" min="1900-01-01T00:00:00+05:30" [value]="formatedDate"
          presentation="{{presentation}}" prefer-wheel="true" showDefaultButtons="true" hourCycle="h12"
          (ionChange)="dateChange(datetime.value)" (ionCancel)="showModal = false;" (ionBlur)="showModal = false;">

        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>