<ion-header>
  <ion-toolbar color='primary'>
      
        <ion-title class="ion-text-center">
          Vital Units
        </ion-title>


        <ion-buttons slot='end'>
            <button style="font-size: medium;" ion-button icon-only  (click)="applyFilters()">
              Done
            </button>
        </ion-buttons>

        
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  

    <ion-list no-lines *ngIf="vitalConfig">
         
        <ion-row  *ngFor="let item of vitalConfig">

            <ion-col *ngIf="item.is_active && item.variable_name==='weight'">
                <ion-radio-group  [(ngModel)]="weightUnit">
                        <ion-list-header *ngIf="item.use_short_name">{{item.display_short_name}}</ion-list-header>
                        <ion-list-header *ngIf="!item.use_short_name">{{item.display_name}}</ion-list-header>
                        
                        <ion-item  no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                        <ion-label class="ionLabelMargin mediumFont" >Kg</ion-label>
                        <ion-radio  class="inputBoxMargin" value="kg" checked></ion-radio>
                        </ion-item>

                        <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                        <ion-label class="ionLabelMargin mediumFont">G</ion-label>
                        <ion-radio  class="inputBoxMargin" value="g"></ion-radio>
                        </ion-item>

                        <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                        <ion-label class="ionLabelMargin mediumFont">Lb</ion-label>
                        <ion-radio class="inputBoxMargin" value="lbs"></ion-radio>
                        </ion-item>
                </ion-radio-group>
            </ion-col>
            <ion-col *ngIf="item.is_active && item.variable_name==='height'">
                    <ion-radio-group  [(ngModel)]="heightUnit">
                            <ion-list-header *ngIf="item.use_short_name">{{item.display_short_name}}</ion-list-header>
                            <ion-list-header *ngIf="!item.use_short_name">{{item.display_name}}</ion-list-header>
                            
                            <ion-item  no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont" >Cm</ion-label>
                            <ion-radio  class="inputBoxMargin" value="cm" checked></ion-radio>
                            </ion-item>
    
                            <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont">M</ion-label>
                            <ion-radio  class="inputBoxMargin" value="m"></ion-radio>
                            </ion-item>
    
                            <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont">In</ion-label>
                            <ion-radio class="inputBoxMargin" value="in"></ion-radio>
                            </ion-item>
                    </ion-radio-group>
            </ion-col>
            <ion-col *ngIf="item.is_active && item.variable_name==='temperature'">
                    <ion-radio-group  [(ngModel)]="tempUnit">
                            <ion-list-header *ngIf="item.use_short_name">{{item.display_short_name}}</ion-list-header>
                            <ion-list-header *ngIf="!item.use_short_name">{{item.display_name}}</ion-list-header>
                            
                            <ion-item  no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont" >DegF</ion-label>
                            <ion-radio  class="inputBoxMargin" value="degF" checked></ion-radio>
                            </ion-item>
    
                            <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont">Cel</ion-label>
                            <ion-radio  class="inputBoxMargin" value="Cel"></ion-radio>
                            </ion-item>
    
                    </ion-radio-group>
            </ion-col>
            <ion-col *ngIf="item.is_active && item.variable_name==='bloodGlucose'">
                    <ion-radio-group [(ngModel)]="glucoseUnit">
                            <ion-list-header *ngIf="item.use_short_name">{{item.display_short_name}}</ion-list-header>
                            <ion-list-header *ngIf="!item.use_short_name">{{item.display_name}}</ion-list-header>
                            
                            <ion-item  no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont" >Mg/dL</ion-label>
                            <ion-radio  class="inputBoxMargin" value="mg/dL" checked></ion-radio>
                            </ion-item>
    
                            <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                            <ion-label class="ionLabelMargin mediumFont">Mmol/L</ion-label>
                            <ion-radio  class="inputBoxMargin" value="mmol/L"></ion-radio>
                            </ion-item>
                    </ion-radio-group>
            </ion-col>
            <ion-col *ngIf="item.is_active && item.variable_name==='cholesterol'">
                    <ion-radio-group [(ngModel)]="cholesterolUnit">
                            <ion-list-header *ngIf="item.use_short_name">{{item.display_short_name}}</ion-list-header>
                            <ion-list-header *ngIf="!item.use_short_name">{{item.display_name}}</ion-list-header>
                            
                            <ion-item  no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                                    <ion-label class="ionLabelMargin mediumFont" >Mg/dL</ion-label>
                                    <ion-radio  class="inputBoxMargin" value="mg/dL" checked></ion-radio>
                                    </ion-item>
            
                                    <ion-item no-lines class="border pull-left paddingLeft8 smallHeight" col-4>
                                    <ion-label class="ionLabelMargin mediumFont">Mmol/L</ion-label>
                                    <ion-radio  class="inputBoxMargin" value="mmol/L"></ion-radio>
                                    </ion-item>
                    </ion-radio-group>
            </ion-col>
            

        </ion-row>
    </ion-list>
        


</ion-content>
