<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start" color="primary">
      <button class="buttonStyle" icon-only (click)="dismiss(false)" class="headerButton">
         <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>

  <ion-title class="ion-text-center">  Configuration </ion-title>

  <ion-buttons slot="end" >
      <ion-button round small (click)="saveEnvChanges()">
          Done
      </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content>

  <ion-list-header>
    Environment
  </ion-list-header>
    <ion-radio-group [(ngModel)]="appBaseUrl" (ionChange)= 'onChangeENV()'>

      
        <ion-item>
          <ion-label>Production Account</ion-label>
          <ion-radio value="environment" ></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>Stage Account</ion-label>
          <ion-radio value="stageEnv"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>Custom Account</ion-label>
          <ion-radio value="customEnv"></ion-radio>
        </ion-item>
    </ion-radio-group>  
  <ion-item *ngIf="isCustomUrl">
    <ion-label position = "floating"><span class="reset-filters">* </span>Custom URL</ion-label>
    <ion-input style="margin-left: 8px;" type="text"  [(ngModel)]="customURL"></ion-input>
  </ion-item>


</ion-content>
