/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.buttonStyle{
    color: #fff;
    background: var(--ion-color-primary);
   font-weight: bold;
   font-size: small;
}
.inputAlertData {
    text-align: center;
    font-size: 30px !important;
    padding: 0px !important;
}
.cardStyle{
    box-shadow: 0 0 2px #a8a8a8 !important;
    border-radius: 10px !important;
    margin: 1em !important;
}

.footerStyle{
    background: #f0f0f0;
    text-align: center;
    padding: 4%;
    font-weight: 500;
    color: var(--ion-color-primary);
}
.valueStyle{
    color: #606e79;
    font-size: 14px;
   // white-space: break-spaces;
}
.contentShowStyle{
    min-height: 25em;
    white-space: break-spaces;
    max-height: 25em;
    overflow-y: scroll;
    color: #606e79;
    font-size: 14px;
}
.headerStyle{
    font-size: 14px;
    color: #374047;
}
.actionSheetStyle{
    font-size: 24px !important;
    font-weight: 500 !important;
    text-align: center !important;
}
.headerShadow {
    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.25);
}
.fontSize1{
    font-size: 1.8em;
}
.fontSize18 {
    font-size: 18px;
}
.fontSize12 {
    font-size: 12px !important;
}
.marginLeft16{
    margin-left: 16px;
}
.marginLeft6{
    margin-left: 6px !important;
}
.marginRight16{
    margin-right:16px
}
.redBorder{
    border-bottom: 1px solid red !important;
}
.fontSize24{
    font-size: 24px !important;
}
.addNewFormStyle{
    --background: transparent;
    background: #f0f0f0;
    text-align: center;
    font-weight: 500;
    color: var(--ion-color-primary);
}
.paddingTop16 {
    padding-top: 16px;
}
.paddingTop8 {
    padding-top: 8px;
}
.paddingLeft16 {
    padding-left: 16px !important;
}
.paddingLeft18 {
    padding-left: 18px !important;
}
.paddingLeft24 {
    padding-left: 24px;
}
.paddingLeft8 {
    padding-left: 8px;
}
.paddingLeft12 {
    padding-left: 12px !important;
}
.paddingLeft4 {
    padding-left: 4px;
}
.paddingLeft6 {
    padding-left: 6px !important;
}

.marginTop8 {
    margin-top: 8px;
}
.marginTop16 {
    margin-top: 16px !important;
}
.textCapitalize {
    text-transform: capitalize;
}
.chartingStyle {
    text-align: center;
    font-weight: 500;
    color: var(--ion-color-primary);
}
.chartModelStyle {
    height: 75%;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 0px 6em #00000038;
    border-radius: 8px;
}
.disableClick {
    pointer-events: none;
}
.chartCardText {
    color: var(--ion-color-success) !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 20px;
    vertical-align: super;
}
.breakSpace {
    white-space: break-spaces;
}
.fontWeight600 {
    font-weight: 600;
}
.fontWeight500 {
    font-weight: 500 !important;
}
.marginRight8 {
    margin-right: 8px;
}
.marginRight4 {
    margin-right: 4px;
}
.marginLeft5 {
    margin-left: 5px !important;
}
.paddingTop12 {
    padding-top: 12px
}
.checkOutBtn {
    padding: 12px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 800;
    background: #C93232;
    color: #fff;
}
.upperCase {
    text-transform: uppercase !important;
}
.noteModelStyle {
    height: 92%;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 0px 6em #00000038;
    border-radius: 8px;
}
ion-popover.popoverStyle div.popover-content {
    left: initial !important;
    right: 16px !important; 
    top: 5% !important;
}
ion-popover.popoverStyle div.popover-arrow {
    left: inherit !important;
    right: 17% !important;
    top: 4% !important;
}

.displayNone {
    display: none !important;
}
.videoModal {
    // transition: 0.3s ease-out;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 16px 0px #d5d1df;
}
.videoFloatingModal {
    height: 40% !important;
    width: 50% !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 16px 0px #d5d1df !important;
}

.customAvatar {
    app-new-txt-img {
        width: 3em !important;
        height: 3em !important;
        border-radius: 50% !important;
    }
    img {
        width: 3em !important;
        height: 3em !important;
        border-radius: 50% !important;
    }
}
.customAvatar{
    ion-item{
        --min-height: 5.6em;
    }
}
.customAvatar {
    img {
        width: 3em !important;
        height: 3em !important;
        border-radius: 50% !important;
    }
}

.viewDocStyle{
    background-color: #fff !important;
    border: 1px solid var(--ion-color-secondary) !important;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    float: right;
    color: var(--ion-color-secondary);
}
.videoChatUI {
    z-index: 20003;
    width: 90%;
    height: 60%;
    top: 20%;
    left: 5%;
    border: 1px solid #c7c1d4;
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px #d3d2d6;
}

.profilePicAvatar {
    app-new-txt-img {
        width: 1.9em !important;
        height: 1.9em !important;
        border-radius: 50% !important;
    }
}
.textBottomBorder {
    border-bottom: 1px solid #dedede;
}

.dateTimeModal {
    --background:rgba(44,39,45,0.2);

    ion-content{
      --background:transparent;
        
      --padding-top:30vh;
      --padding-start:24px;
      --padding-end:24px;
      
      ion-datetime {
        border-radius:8px;
      }
    }
}

.dateTimeModal::part(backdrop) {
    opacity: 1;
    backdrop-filter:blur(6px);
}

.noRecord{
        position: absolute;
        top: 40%;
        left: 10%;
        right: 10%;
        text-align: center;
         font-size: larger;
}
.logoutBtnIos {
    color: var(--ion-color-danger) !important;
    font-weight: normal !important;
}
// alert css
.alertLabel {
    .alert-message {
        font-size: large;
    }
}
.titlename
{
    height: 2.375em;
}

.tab-selected {
    box-shadow: 1px 0px 19px 0px rgb(61 151 170 / 28%);
    border-top: 4px solid var(--ion-color-primary);
    border-radius: 8px;
    z-index: 1;  
}
.provHeader {
    height: 8em;
    background: var(--ion-color-primary);
}
.provPicDiv {
    margin: auto; 
    zoom: 3.5; 
    position: relative;
    bottom: 16px;
    background: transparent;
    text-align: -webkit-center; 
    z-index: 10;
}
.provImg {
    width: 1.6em;
    height:1.6em;
    border: 1px solid #fff;
    border-radius: 50%;
}
.provContentDiv {
    position: relative;
    bottom: 4em;
}
.logoutBtn {
    background: var(--ion-color-primary); 
    color: #ffffff; margin-top: 2em; 
    padding: 0px 24px;
    font-weight: 500;
}

.modalFabIcon {
    position: absolute;
    top: 78%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.modalFabLabel {
    margin-top: 0px;
    color: #555 !important;
}

.reset-filters {
    color: #f53d3d;
}

.homePageTab {
    margin-bottom: 6%;
    margin-top: 0px;
    background: #ffffffed;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}