<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Provider</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="dismiss(false)">
        <ion-icon style="zoom: 1.3;" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-no-border-top" color="primary">
      <ion-searchbar [(ngModel)]="searchTerm" focus-me float-left (ionChange)="onSearchInput()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="alpha-list-page" no-bounce>

  <ion-list *ngFor="let item of teams">
    <ion-label class="specialityLabel">Teams:</ion-label>
    <ion-item (click)="onSelectItem(item,'true');" class="marginLeft10">
      {{item.circle_name}}
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let prov of providers">
    <ion-label class="specialityLabel">{{prov.speciality}}:</ion-label>
    <ion-item *ngFor="let item of prov.providers" (click)="onSelectItem(item,'false');" class="marginLeft10">
      {{item.fullname}}
    </ion-item>
  </ion-list>




  <ion-list-header *ngIf="(providers && providers.length == 0)">
    <h3>No More providers Found!</h3>
  </ion-list-header>

</ion-content>