.topDiv{
    background: #351F65bd;
    border-bottom-left-radius: 9%;
    border-bottom-right-radius: 9%;
    padding-bottom: 25%;
}
ion-card{
    ion-item{
        img{
            width: 2em;
        }
    }
}

.marginTop0{
    margin-top: 0px !important; 
}
.smallFont{
    font-size: smaller;  
    color: var(--ion-color-primary);
}
.marginTop5{
    margin-top: -5px;
}

.cardStyle{
    background: linear-gradient(to top, #8c6dca14 0, #fff 75%);
    margin: 1.3em !important;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px !important;
}
// .item-native{
//     background: inherit !important;
// }
.extraFooterStyle{
    padding: 2%;
    --min-height: 20px;
    border-top: 1px solid #d1d1d1;
}

.footer-md::before {
    background-image: none !important
}
ion-item{
    ion-label{
        P{
            img{
                width: 15px;
            }
        }
    }
}
.badgeStyle{
    position: absolute;
    right: 0px;
}
.bgWhite{
    background: #fff;
}
ion-item{
    --ion-background-color:transparent !important;
 }

 .supportStyle{
    background: #fffffffa;
    padding: 0px 8px;
    border-radius: 8px;
    /* border: 1px solid #37236a2b; */
    margin: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
 }