<ion-header>
  <ion-toolbar>
    <ion-item lines="none" style="background:#fff;">
      <ion-label *ngIf='organizationData && organizationData.emailBanner'>
        <img src={{organizationData.url}} style="height: 3em; vertical-align: bottom;">
      </ion-label>
      <ion-label style="text-align: right; white-space: break-spaces;font-size:18px;" class="blackTxt"
        *ngIf='organizationData && organizationData.organizationName'>
        {{organizationData.organizationName}}
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div style="height: 92px;">
      <ion-item lines="none">
        <ion-label style="margin: 0px; text-align: center;">
          <img _ngcontent-arp-c154="" src="../../assets/img/doctors3.png" style="height: 10em;">
        </ion-label>
      </ion-item>
    </div>
    <ion-card class="cardStyle" style="z-index: 8" *ngIf="providerInfo" routerLink="/about-provider"
      routerDirection="forward">
      <ion-item style="padding: 2%; background: #fff; padding-right: 3%;" lines="none">
        <ion-avatar *ngIf="providerInfo.image" class="providerAvtar" style="width:3em;">
          <img src="{{providerInfo.image}}" style="width: 3em;height: 3em; font-size:16px;">
        </ion-avatar>
        <ion-avatar *ngIf="!providerInfo.image" class="providerAvtar">
          <app-new-txt-img [text]="providerInfo.name"></app-new-txt-img>
        </ion-avatar>
        <ion-label style="margin-left: 10px;">
          <h2 style="font-size: 18px;">{{providerInfo.name}}</h2>
          <p position="fixed">{{providerInfo.employeeId}}</p>
        </ion-label>
        <img *ngIf="isHoliday" src="../../assets/icon/holiday.png" height="40" class="ion-margin-end" />
        <ion-icon name="chevron-forward" class="ion-float-end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-list *ngIf='appPages' style="padding:0% 3%; margin-bottom: -8%;" lines="none">
      <div class="marginTop8"></div>
      <ion-card *ngFor="let p of appPages" class="homePageTab">
        <ion-badge *ngIf='p.title !== "Patients" && p.dataLength !== 0' class="ion-float-right badgeStyle"
          color='danger'>{{p.dataLength}}</ion-badge>
        <ion-badge *ngIf='p.title === "Patients"' class="ion-float-right badgeStyle bgWhite">{{p.dataLength}}
        </ion-badge>

        <ion-item lines="none" routerLink="{{p.component}}" routerDirection="forward"
          style="padding: 2% 4%; color: var(--ion-color-primary);">
          <ion-icon color="primary" name={{p.icon}} style="zoom: 1.2;"></ion-icon>
          <ion-label style="text-align: center;font-size: larger;">
            <span color="light">{{p.title}}</span>
            <ion-icon *ngIf="isIos === false" name="chevron-forward" style="float: right;"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
    <ion-item *ngIf='(!appPages || appPages.length === 0)' lines="none" style="padding: 24px; text-align: center;">
      You didn't have permission to view Schedules, Tasks, Patients and Leaves. Please check Role Settings.
    </ion-item>
  </div>
  <ion-grid style="padding: 0px; background-color: #fff; margin: -1px;">
    <ion-row>
      <ion-col size='5' style="padding: 0px;">
        <img src='../../assets/img/supportImg.png'>
      </ion-col>
      <ion-col size='7' style="padding: 0px; padding-top: 10%;">
        <ion-item lines="none" style="text-align: center; --ion-background-color: #ffffff">
          <ion-label class="ion-no-margin">
            <p><span class="supportText" style="color: var(--ion-color-primary);font-weight: 500;">DocEngage
                Support</span></p>
            <p><span class="supportCode">( Press 1 for Support )</span></p>
            <ion-button color="primary" position="floating" (click)="callPatientMobile('8884242424')">
              <ion-icon name="call"></ion-icon>
              &nbsp; &nbsp;Call Now
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="graytxt font12 ion-text-center ion-padding-bottom">
    ©2022 Powered By DocEngage</div>
</ion-content>