
<ion-content>
  <ion-buttons slot="">
    <ion-button (click)="dismiss()" class="backBtnStyle" style="margin-top: 15px;">
      <ion-icon style="zoom: 1.2;" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="logo logoStyle">
    <img src="../../assets/img/logo2X.png" alt="Ionic logo">
  </div>
  <ion-item class="font16" lines="none">
    <ion-label style="white-space: break-spaces; color: #f04141; margin-top: 20px;">Looks like you
      have associated with multiple organizations </ion-label>
  </ion-item>

  <ion-item lines="inset" class="dropDown" id="organization">
    <ion-label class="organizationLabel" position="floating">Select Organization</ion-label>
    <ion-select class="organizationLabel" style="text-transform: capitalize;" interface="action-sheet" [(ngModel)]="loginData.organizationId">
      <ion-select-option *ngFor="let org of organizations" value="{{org.organization_id}}">{{org.display_name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <div class="ion-padding" style="margin-top: 20px;">
    <ion-button color="primary" expand="block" (click)="login()" type="submit">Log In
    </ion-button>
  </div>
  <ion-row *ngIf="isErrorExist===true">
    <ion-col *ngIf="errorMessage==='Too many user session'">
      <ion-text color="danger" class="ion-padding-start">
        <p>
          {{errorMessage}}
          Please <ion-button (click)="forceLogout()" type="submit" small color="danger">Signout</ion-button>
          <br /> from other Devices before you login.

        </p>
      </ion-text>
    </ion-col>
    <ion-col *ngIf="errorMessage!=='Too many user session'">
      <ion-text color="danger" class="ion-padding-start">
        <p>
          {{errorMessage}}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>