.logo {
    padding: 20px 0;
    text-align: center;
    
    img {
      max-width: 150px;
    }
  }

  .logoStyle{
    margin: 10px;
    margin-top: 1.5em;
  }

  .dropDown {
    margin-top: 14px;
    margin-left: 17px;
    width: 90%;
    line-height: 1;
    color: #1d1e1f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  .organizationLabel {
    position: relative !important;
    bottom: 4px !important;
  }

  
  .organizationLabel .select-icon{
    position: relative !important;
    bottom: 4px !important;
    color: #1d1e1f;
  }
  