<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button icon-only (click)="dismiss(false)">
        <ion-icon style="zoom: 2;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{pageType}} Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="save()">
        Apply
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="cardStyle">
    <ion-card-header class="cardheaderStyle" primary (click)="expandDate()"
      [class.cardheaderColor]="dateRangeSec == true">
      Date Range <ion-icon *ngIf="dateRange" color="primary" class="fontSize24 ion-float-end paddingRight12"
        name="checkmark"></ion-icon>
      <span></span>
    </ion-card-header>
    <ion-card-content #dateRangeCc *ngIf="dateRangeSec == true">
      <ion-radio-group [(ngModel)]="dateRange">
        <ion-item lines="none" (click)="showDateFields = false">
          <ion-label class="valueColor">Past</ion-label>
          <ion-radio value="recent"></ion-radio>
        </ion-item>
        <ion-item lines="none" (click)="showDateFields = false">
          <ion-label class="valueColor">Today</ion-label>
          <ion-radio value="today" checked></ion-radio>
        </ion-item>
        <ion-item lines="none" (click)="showDateFields = false">
          <ion-label class="valueColor">Future</ion-label>
          <ion-radio value="upcoming"></ion-radio>
        </ion-item>
        <ion-item lines="none" (click)="showDateFields = true">
          <ion-label class="valueColor">Custom Date</ion-label>
          <ion-radio value="customDate"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-row *ngIf="showDateFields">
        <ion-col style="padding-left: 0px;">
          <ion-item (click)="setDateModal(fromDate, 'date', 'fromDate')" lines="none">
            <ion-label class="valueColor" position="floating">From Date</ion-label>
            <ion-input type="text" [ngModel]="fromDate | date: 'dd-MM-yyyy'" (ngModelChange)="fromDate=$event"
              style="border-bottom: 1px solid #ccc"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item (click)="setDateModal(toDate, 'date', 'toDate')" lines="none">
            <ion-label class="valueColor" position="floating">To Date</ion-label>
            <ion-input type="text" [ngModel]="toDate | date: 'dd-MM-yyyy'" (ngModelChange)="toDate=$event"
              style="border-bottom: 1px solid #ccc"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card class="cardStyle">
    <ion-card-header class="cardheaderStyle" (click)="expandStatus()" [class.cardheaderColor]="statusSec == true">
      <ion-label>Status</ion-label>
      <ion-icon *ngIf="isStatus" color="primary" class="fontSize24 ion-float-end paddingRight12" name="checkmark">
      </ion-icon>
    </ion-card-header>

    <ion-card-content #statusCc *ngIf="statusSec == true">
      <ion-list>
        <ion-item lines="none" *ngFor="let stat of statusList">
          <ion-label class="valueColor">{{stat.statusVal}}</ion-label>
          <ion-checkbox *ngIf="stat.isChecked === true" slot="end" checked (click)="statusSel(stat.statusVal)">
          </ion-checkbox>
          <ion-checkbox *ngIf="stat.isChecked === false" slot="end" (click)="statusSel(stat.statusVal)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="showModal" class="dateTimeModal">
    <ng-template>
      <ion-content>
        <ion-datetime #datetime max="2099-12-31T00:00:00+05:30" min="1900-01-01T00:00:00+05:30" [value]="formatedDate"
          presentation="{{presentation}}" prefer-wheel="true" showDefaultButtons="true"
          (ionChange)="dateChange(datetime.value)" (ionCancel)="showModal = false;" (ionBlur)="showModal = false;">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>