ion-item{
    font-size: 14px;
    margin-top: 8px;
}

button{
    color: #fff;
    background: var(--ion-color-primary);
}

.fontSize16{
    font-size: 16px;
}

ion-card-content{
    max-height: 24em;
    overflow-y: scroll;
}

.cardheaderColor{
    background: #f8fafa !important;
}

.cardheaderStyle{
    font-size: 16px;
    color: #354144;
}